body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("../img/bg-body.jpg");
  background-repeat: repeat;
}

.back {
  background-color: #326611;
  margin: 0 180px 0 180px;
}

.container {
  margin: 0 30px 0 30px;

  background: #326611;
}
.header .logo {
  text-align: center;
  background: #fff;
}

.header .menu {
  background: #4A4A4A;
  margin: 0 30px 0 30px;
  color: #ECEEC6;

}

.header .menu ul {
  margin: 0 20px 0 20px;
}

.header .menu li{
  display: inline-block;
  
  padding-right: 20px;

}

.header .menu h2 a{
  display: inline-block;
  
  text-decoration: none;
  padding: 0 10px 0 10px;
  color: #ECEEC6;
}
.bd .cover {
  position: relative;
  height: 400px;
  background: #326611;
}
.bd .cover img{
  
  max-width: 100%; 
  height: auto; 
}

.bd .cover .title {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
  top: -132px;
  padding: 5px;
}

.bd .cover .title h2 {
  color: #E6E99B;
}

.bd .cover .title p {
  color: #fff;
}

.bd .column {
  display: inline-block;
  margin: 0;
  width: 270px;
  padding-bottom: 20px;
}

.column .pic img {
  border: 2px solid #fff;
  display: inline-block;
  float: left;
  
}

.column .pict{

  font-size: 12px;
  padding: 5px 0 5px 0;
  margin: 0px;
}

.column .pict h1 {
  color: #E6E99B;
  margin: 0px;
}
.column .pict p {
  color: #fff;
  margin: 0px;
}

.menu {
  background: #fff;
  padding: 10px;
  padding-bottom: 0;
}

.menu .feature {
  font-size: 12px;
  background: #DDE9D5;
  line-height: 20px;
  border-bottom: 2px solid #ADC89B;
  margin-bottom: 10px;
}

.menu .feature h1 {
  line-height: 30px;
  padding-top: 5px;

}

.menu .menu_pic {
  display: inline-block;
  width: 193px;
  padding-right: 10px;
  font-size: 12px;
}

.menu .menu_pic h2 {
  color: #6A0300;
}

hr {
  width: auto;
  border-bottom: 3px solid #ddd;
}

.bottom_img .ca{
  display: inline-block;
  padding-bottom: 20px;
}

.bottom_img .cb {
  display: inline-block;
    position: absolute;
}

.bottom_img .cb h2 {
  width: 480px;
  background: #DDE9D5;
  line-height: 50px;
  font-size: 18px;
  margin-left: 20px;
  padding-left: 10px;
  color: #6A0300;
  text-shadow: 1px 2px #fff;
  
}

.bottom_img .cc {
  position: relative;
  bottom: 0;
  display: inline-block;
  width: 480px;
  font-size: 12px;
  padding-bottom: 20px;
}

.bottom_img .cc ol {
  margin: 0;
  line-height: 25px;
}
.bottom_t {
  width: 700px;
  border-top: 2px solid #ddd;
}

.row {
  border-top: 2px #ddd solid;
  width: auto;
}
.fourcolumn {
  display: inline-block;
  height: 150px;
  width: 200px;
  background: #DDEAD5;
  
}
.fourcolumn h1 {
    margin: 0px;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 1px 1px #fff;
    text-transform: uppercase;
    padding: 10px;
}

.fourcolumn p {
  padding: 5px;
}

#claim {
  text-align: center;
  color: #fff;
}







