body {
  background: url('../image/outside_background.jpg');
  font-size: 1em;
}
.background-color {
    background-color: #326611;
}
/*header*/
.logo {
  background: url('../image/logo.png') top center no-repeat;
  background-size: contain;
  padding: 30px 0;
  cursor: pointer;
  width: 100%;
}
.logo-outline {
  padding: 10px 0;
}
.navbar {
  padding: 0;
}
.navbar a {
  color: #dadbb8;
  display: block;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}
.navbar a:hover {
  text-decoration: none;
  background-color: #97b386;
  color: #527d38;
}
.navbar a:active {
  text-decoration: none;
  background-color: #bed3b0;
  color: #527d38;
}
.nav-name {
  padding: 0;
}
#banner {
  background: url(../image/banner.jpg) no-repeat center;
  background-size: cover;
}
.banner-title-bar {
  padding: 55vh 0 0 0;
}
.banner-background {
  padding: 30px;
}
.banner-background i {
  color: #666;
  background-color: white;
  border-radius: 50%;
  font-size: 21px;
}
.banner-title-bar h1 {
  color: #dee096;
  font-size: 24px;
  letter-spacing: 1px;
}
.banner-title-bar p {
  color: #fff;
  margin: 0;
}
.banner-background {
  background-color: rgb(0, 0, 0, 0.5);
}

/*main*/
#news {
  padding: 30px 15px;
}
.news-pic {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0;
}
.news-pic img {
  border: 1px #fff solid;
}
.news-content {
  display: inline-block;
  width: 60%;
  margin: 0 0 0 -4px;
}
.news-tilte {
  color: #dee096;
}
.news-content p {
  color: #fff;
  margin: 0;
}
.news-item:last-child {
  border: 0;
  margin: 0;
}
.news-item {
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}
#feature {
  margin-top: 15px;
}
#feature img {
  width: 100%;
}
.sub-title {
  background-color: #dde9d5;
  border-bottom: 2px solid #bed3b0;
  color: #a9977b;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 2;
  text-indent: 15px;
}
.feature-subtilte {
  color: #764230;
  padding: 10px 0;
  font-weight: bold;
}
.feature-tip-background {
  background-color: #fff;
  padding: 30px;
}
#tip {
  margin-top: 30px;
}
#tip img {
  width: 100%;
}
.tip-title {
  margin: 0 0 10px 25px;
}
.tip-article ol {
  padding: 0 0 0 50px;
}
.tip-article li {
  margin: 0 0 20px 0;
}

/*footer*/
#footer-item {
  text-align: left;
  background-color: #DCE9D4;
  border-top: 2px solid #bed3b0;
  border-left: 2px solid #bed3b0;
  color: #969895;
}
.footer:first-child {
  border-left: 0;
}
.footer-title {
  font-size: 19px;
  padding: 10px 30px;
}
.footer-content {
  padding: 0 30px 30px 30px;
  margin: 0;
}
.footer-icon {
  margin: 0 0 5px 0;
}
#footer-item:last-child a {
  font-weight: 500;
  text-decoration: none;
  display: block;
  padding: 0 0 0 30px;
  margin: 0;
}
.footer-icon i {
  color: #326611;
  font-size: 18px;
}
.icon-word {
  color: #969895;
}
.copyright {
  color: #fff;
  padding: 2% 0;
  text-align: center;
}

/*RWD*/
@media (max-width: 575px) {
  body {
    font-size: 1.2em;
  }
  .logo {
    padding: 20px;
  }
  .news-item {
    margin: 0 0 30px 0;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0 0 20px 20px;
  }
  .sub-title {
    text-align: center;
    text-indent: unset;
  }
  .news-pic {
    width: 30%
  }
  .navbar a {
    padding: 20px;
  }
  .copyright {
    font-size: 0.6em;
  }
  .footer {
    text-align: left;
  }
  #news {
    margin: 30px 0 0 0;
  }
  .tip-title {
    margin: 15px 0;
  }
  .tip-article ol {
    padding: 0 0 0 30px;
  }
  #footer-item:last-child {
    padding: 0 0 20px 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 1.1em;
  }
  .news-item {
    margin: 0 0 30px 0;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0 0 20px 20px;
  }
  .sub-title {
    text-align: center;
  }
  .news-pic {
    width: 20%
  }
  .navigation a {
    padding: 20px;
  }
  .tip-title {
    margin: 15px 0;
  }
 .tip-article ol {
    padding: 0 0 0 30px;
  }
  #footer-item:last-child {
    padding: 0 0 20px 0;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .news-content {
    width: 100%;
  }
  .news-pic {
    width: 100%;
  }
  .news-content {
    width: 100%;
  }
  .tip-article ol {
    padding: 0 0 0 45px;
  }
  #footer-item:last-child {
    padding: 0 0 20px 0;
}
}

/* @media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

} */
