
body {
  margin: 0;
  background-image: url("images/bg-body.jpg");
  width: auto;
  height: auto;
  margin: auto;
  font-family: sans-serif;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1a7210;
  height: auto;
  max-width: 1200px;
}
.logo{
  text-align: center;
  background-color: #ffffff;
}
.logo > img {
  max-width: 100%;
  height: auto;
}
div.menu{
	height: 50px;
}
span.menusix {
	width: 16.666666667%;
	position: relative;
	float: left;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
}
span.menusix > a {
	text-decoration: none;
	color: #bdcba2;
	font-weight: bold;
}
.home {
	background-color: #8dbd84;
}
.about{
	background-color: #4b4b4b;
}
.plants{
	background-color: #4b4b4b;
}
.gardens{
	background-color: #4b4b4b;
}
.news{
	background-color: #4b4b4b;
}
.contact{
	background-color: #4b4b4b;
}
.whiteline{
	background-color: #ffffff;
	height: 3px;
}
.center-main{
	margin-bottom: 0;
	position: relative;
	margin-bottom: 0;
}
.center-main img {
    min-height: 100%;
    width: 100%;
    display: block;
}
.center-main-context {
	background: rgba(0,0,0,0.3);
	position: absolute;
	height: 125px;
	width: 1200px;
	left: auto;
	right: auto;
	top: 425.2px;
}
.center-main-context >h2{
	color: #e8f776;
	padding-left: 20px;
	margin-bottom: 5px;
}

.center-main-context > p {
	color: #ffffff;
	padding-left: 20px;
	margin-top: 0;
	line-height: 32px;
	font-size: 16px;
}

div.center-main-down-three{
	height: 130px;
}
.down-three > img {
	border: 2px groove white;
	position: relative;
}

div.down-three {
	width: 30%;
	position: relative;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.down-three > h3 {
	margin-top: 0;
	margin-left: 25px;
	position: absolute;
	display: inline;
	left: 90px;
	top: 0;
	color: #e8f776;
}
.down-three > p {
	margin-top: 0;
	margin-left: 25px;
	position: absolute;
	display: inline;
	left: 90px;
	top: 30px;
	color: #ffffff;
}
span.down-three-context {
	position: relative;
	float: right;
}
.down-three > hr {
	display: inline;
	float: right;
	height: 100px;
	margin-top: -5px;
	margin-bottom: 0;
	color: rgba(26,114,16,0.1);
}
.lower-white{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  height: auto;
  max-width: 1200px;
  margin-top: 0;
}
.title-sides-white{
	height: 20px;
}
.lower-white-title{
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgba(159,224,234,0.4);
  height: 40px;
  margin-top: 0;
  display: flex;
  align-items: center;
}
.lower-white-title > h3 {
	font-family: sans-serif;
	color: brown;
}
.title-down-line {
	height: 3px;
	background-color: #63f287;
}
.fourgardens{
	height: 393px;
	margin-right: -45px;
}
.eachgardens {
	width: 25%;
	position: relative;
	float: left;
}
.eachgarders > img {
	min-height: 100%;
	width: 100%;
	display: block;
}
.eachgardens > h3 {
	font-family: sans-serif;
	color: brown;
}
.eachgardens > p {
	font-family: sans-serif;
}
.fourgardens > hr{
	max-width: 1170px;
	margin-left: 0;
}
.tips {
	height: 357px;
	margin-top: 15px;
	display: flex;
	padding-bottom: 30px;
}
div.tipsoftheweek{
	margin-left: 15px;
	width: 687px;
}
.tipsoftheweek-title{
	padding-left: 30px;
	background-color: rgba(159,224,234,0.4);
	height: 40px;
	display: flex;
	align-items: center;
}
.tipsoftheweek-title > h3 {
	font-family: sans-serif;
	color: brown;
}
.tipsoftheweek-title-line{
    height: 3px;
	background-color: #63f287;
}
.tips-context {
	margin-top: 50px;
	font-size: 18px;
}
.tips-context > p{
	margin-top: 60px;
}
.place-holder{
	height: 202px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;
}
.all-holder {
	width: 268px;
	position: relative;
	float: left;
	padding-left: 30px;
	height: 200px;
	background-color: rgba(159,224,234,0.4);
	border: 1px	solid gray;
	color: gray;
	font-size: 20px;
}
.copyright{
	text-align: center;
	height: 30px;
	color: #ffffff;
	font-weight: bold;	
}
i.fa:before {
	color: #1a7210;
}
