body{
  background-image: url("../img/bg-body.jpg");
  margin-top: 0px;
  font-family: sans-serif;
  margin: 0;
}

.main{
  background-color: #326611;
  width: 900px;
  margin: auto;
}
.title{
  width: 860px;
  margin: auto;
  text-align: center;
  background-color: #fff;
}
.menu{
  width: 860px;
  height: 55px;
  background-color: #4A4A4A;
  margin:0 20px 0 20px ;
}
.menu ul{
  margin: 0;
  padding: 0;
}

.menu ul li{
  width: 143px;
  height: 35px;
  float: left;
  padding-top: 20px;
  list-style: none;
  text-align: center;
}
.menu ul li a{
  color: #ECEEC6;
  text-decoration: none;
  letter-spacing: 2px;
}

ul li:hover{
  background-color: #97B486;
}
.cover{
  width: 860px;
  height: 400px;
  background-image: url("../img/gardening1.jpg");
  margin: auto;
  position:relative;
}
.discri{
  position: absolute;
  width: 820px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px 10px 20px;
  bottom: 0px;
}
.discri h1{
  color: #E6E99B;
  text-transform: uppercase;
  font-size: 18pt;
}
.discri span{
  color: #fff;
  line-height: 30px;
}
.tips{
  height: 120px;
  width: 860px;
  margin: auto;
}
.threetips{
  width: 285px;
  height: 120px;
  float: left;
  padding-top: 15px;
}
.twoside{
  width: 140px;
  height: 120px;
  float: left;
  text-align: center;
}
.twoside h1{
  margin: 0px;
  font-size: 14pt;
  text-align: left;
  padding:0 15px 15px 0 ;
  color: #E6E99B;
}
.twoside span{
  color: #fff;
  font-size: 12pt;
}
.twoside img{
  border: 2px #fff solid;
}
.content{
  width: 860px;
  margin: 0 20px 0 20px;
  background-color: #fff;
  padding-top: 20px;
}
.content h1{
  background-color: #DDE9D5;
  border-bottom: 2px #ADC89B solid;
  color: #6A0300;
  margin: 0 20px 20px 20px;
  padding: 10px 20px 10px 20px;
  font-size: 12pt;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 2px 2px #fff;
}
.top{
  margin-left: 20px;
  width: 840px;
  height: 280px;
}
.fourspace{
  width: 200px;
  float: left;
  margin: 0 5px 0 5px;
}
.fourspace img{
  width: 180px;
}
.fourspace h2{
  font-size: 12pt;
  text-transform: uppercase;
  color: #6A0300
}
hr{
width: 810px;
height: 3px;
margin: auto;
color: #EBEAE6;
background-color: #EBEAE6
}
.bott{
  margin-left: 20px;
  width: 840px;
  height: 260px;
}
.leftside{
  width: 290px;
  float: left;
  padding-top: 20px;
}
.leftside img{
  width: 280px;
}

.rightside{
  width: 510px;
  float: left;
}
.content h3{
  background-color: #DDE9D5;
  border-bottom: 2px #ADC89B solid;
  color: #6A0300;
  margin: 20px;
  padding: 10px 20px 10px 20px;
  font-size: 12pt;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 2px 2px #fff;
}
.rightside ol{
  line-height: 26px;
  font-size: 14px;
}
.footer{
  width: 860px;
  height: 160px;
  background-color: #DDEAD5;
  border-top: 2px #CADCC0 solid;
  color: #888;
  margin: 0 20px 0 20px;
}
.fourcolumn{
  width: 183px;
  height: 130px;
  float: left;
  padding: 15px;
  border-right: 2px #CADCC0 solid;
}
.fourcolumn h1{
  font-size: 16px;
  font-weight: normal;
  text-shadow: 1px 1px #fff;
  text-transform: uppercase;
}
.claim{
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
}
