/* 自己添加參數 */

/* 不透明參數補足 */

.bg-opacity-100 {
    --bs-bg-opacity: 1;
}

.bg-opacity-95 {
    --bs-bg-opacity: 0.95;
}

.bg-opacity-90 {
    --bs-bg-opacity: 0.9;
}

.bg-opacity-85 {
    --bs-bg-opacity: 0.85;
}

.bg-opacity-80 {
    --bs-bg-opacity: 0.8;
}

.bg-opacity-75 {
    --bs-bg-opacity: 0.75;
}

.bg-opacity-70 {
    --bs-bg-opacity: 0.7;
}

.bg-opacity-65 {
    --bs-bg-opacity: 0.65;
}

.bg-opacity-60 {
    --bs-bg-opacity: 0.6;
}

.bg-opacity-55 {
    --bs-bg-opacity: 0.55;
}

.bg-opacity-50 {
    --bs-bg-opacity: 0.5;
}

.bg-opacity-45 {
    --bs-bg-opacity: 0.45;
}

.bg-opacity-40 {
    --bs-bg-opacity: 0.4;
}

.bg-opacity-35 {
    --bs-bg-opacity: 0.35;
}

.bg-opacity-30 {
    --bs-bg-opacity: 0.3;
}

.bg-opacity-25 {
    --bs-bg-opacity: 0.25;
}

.bg-opacity-20 {
    --bs-bg-opacity: 0.2;
}

.bg-opacity-15 {
    --bs-bg-opacity: 0.15;
}

.bg-opacity-10 {
    --bs-bg-opacity: 0.1;
}

.bg-opacity-5 {
    --bs-bg-opacity: 0.05;
}

.bg-opacity-0 {
    --bs-bg-opacity: 0;
}

/* 微小的Gutters */

.g-01 {
    --bs-gutter-y: 2px;
    --bs-gutter-x: 2px;
}

.gx-01 {
    --bs-gutter-x: 2px;
}

.p-01 {
    padding: 1px !important;
}

.pt-02 {
    padding-top: 2px !important;
}

.px-01 {
    padding-left: 1px !important;
    padding-right: 1px !important;
}