* {
  /* outline: solid red 1px; */
  font-family: Arial, Helvetica, sans-serif;
  /* 字體 最後是明體(泛用字體) */
  box-sizing: border-box;
}

body {
  background-image: url("img/bg-body.jpg");
  min-width: 375px;
}

.header,
main,
.footer {
  background-color: #326611;
}

/* header */

.header__anchor-logo img {
  object-fit: contain;
}

.header__button:focus {
  box-shadow: 0 0 0 0rem;
}

.header__hamberger i {
  font-size: 40px;
  color: #326611;
}

.header__item {
  --bs-bg-opacity: 1;
  background-color: rgba(49, 100, 17, var(--bs-bg-opacity));
}

.header .nav-link {
  font-size: 20px;
  height: 60px;
  font-weight: bold;
}

.header .nav-item:nth-child(-n + 3) .nav-link {
  color: #326611;
}

.header .nav-link:hover::before {
  content: "> ";
  position: relative;
  right: 16px;
}

.header .nav-link:hover::after {
  content: " <";
  position: relative;
  left: 16px;
}

.header .nav-item:nth-child(n + 4) .nav-link {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .header__anchor-logo {
    height: 100px;
  }

  .header {
    padding-bottom: 1px;
  }

  .header .navbar-nav .nav-item .nav-link.active {
    background-color: #97b386;
    color: #326611;
  }

  .header .navbar-nav .nav-item .nav-link {
    background-color: #4a4a4a;
    color: #d8e8ce;
  }

  .header .navbar-nav .nav-item .nav-link:hover {
    background-color: #d8e8ce;
    color: #4a4a4a;
  }

  .header .nav-link:hover::before {
    content: unset;
  }

  .header .nav-link:hover::after {
    content: unset;
  }
}

/* focus figure */

.primary-focus .figure-caption {
  background-color: rgb(0, 0, 0);
}

.primary-focus h2 {
  color: #e1e497;
}

.primary-focus p {
  font-weight: bold;
  color: #fff;
}
.primary-focus a {
  height: 14px;
  width: 14px;
  background-color: #a4b2b5;
}

.primary-focus i {
  color: #fff;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .primary-focus .figure-caption {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .primary-focus p {
    font-size: 20px;
  }

  .primary-focus a {
    height: 20px;
    width: 20px;
  }

  .primary-focus i {
    font-size: 18px;
    vertical-align: top;
  }
}

/* secondary-focus */

.secondary-focus .card {
  background-color: unset;
}

.secondary-focus img {
  border-radius: 0;
}

.secondary-focus__card {
  background-color: #326611;
}

.secondary-focus h4 {
  font-weight: bold;
  color: #e1e497;
  font-size: 18px;
}

.secondary-focus p {
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  .secondary-focus h4 {
    font-size: 22px;
  }

  .secondary-focus p {
    font-size: 20px;
  }
}

@media screen and (min-width: 769px) {
  .secondary-focus__card + .secondary-focus__card {
    border-left: 4px solid #3a6f1c;
    box-shadow: 1px 0 #2a5a0e inset;
  }
}
@media screen and (min-width: 1200px) {
  .secondary-focus-container {
    margin: -8px 0;
  }

  .secondary-focus__card {
    padding: 8px 0;
  }
}

@media screen and (min-width: 1400px) {
  .secondary-focus-container {
    margin: -12px 0;
  }

  .secondary-focus__card {
    padding: 12px 0;
  }
}

.featured {
  background-color: #fff;
}

.featured h3 {
  background-color: #dce8d4;
  border-bottom: 2px solid #b5cda5;
  color: #856346;
}

.featured h4 {
  color: #856346;
  font-weight: bold;
  font-size: 18px;
}

.featured p {
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  .featured h4 {
    font-size: 22px;
  }

  .featured p {
    font-size: 20px;
  }
}

/* @media(min-width: 992px) { */
@media screen and (min-width: 992px) {
  .featured h4 {
    font-size: 20px;
  }

  .featured p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .featured h4 {
    font-size: 24px;
  }

  .featured p {
    font-size: 20px;
  }
}

hr.separate {
  height: 2px;
  background-color: #ecebe7;
  opacity: 1;
  border-left: 16px solid #fff;
  border-right: 16px solid #fff;
}

@media screen and (min-width: 1400px) {
  hr.separate {
    border-left: 24px solid #fff;
    border-right: 24px solid #fff;
  }
}

.tips {
  background-color: #fff;
}

.tips h3 {
  background-color: #dce8d4;
  border-bottom: 2px solid #b5cda5;
  color: #856346;
}

.tips img {
  object-fit: contain;
  object-position: top;
}

.tips__content ol {
  font-size: 16px;
}

.tips__content ol li::marker {
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  .tips__content ol {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .tips__content {
    height: 250px;
  }
}

@media screen and (min-width: 992px) {
  .tips__content {
    height: unset;
  }
}

/* about-us */

.about-us {
  background-color: #c8dbbd;
  border-top: 2px solid #c8dbbd;
  gap: 2px;
}

.about-us .card {
  background-color: unset;
}

.about-us__content {
  background-color: #dce8d4;
}

.about-us__content h5 {
  font-size: 24px;
  color: #a4a7a3;
}

.about-us__content p {
  font-size: 20px;
  color: #a3a7a1;
}

.about-us__link a {
  color: #a3a7a1;
}

.about-us__link a i {
  color: #326611;
}

@media screen and (min-width: 768px) {
  .about-us__content {
    height: 200px;
  }
}

@media screen and (min-width: 992px) {
  .about-us__content h5 {
    font-size: 20px;
  }

  .about-us__content p {
    font-size: 16px;
  }

  .about-us__link i {
    font-size: 20px;
  }

  .about-us__content {
    height: unset;
  }
}

@media screen and (min-width: 1400px) {
  .about-us__content h5 {
    font-size: 24px;
  }

  .about-us__content p {
    font-size: 20px;
  }

  .about-us__link i {
    font-size: 25px;
  }
}

.footer__copyright {
  background-color: #326611;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .footer__copyright {
    font-size: 20px;
  }
}

/* 不用gap的做法 */

/* .about-us {
    background-color: unset;
    border-top: unset;
    gap: unset;
}

.about-us__content {
    border-top: 2px solid #c8dbbd;
}

@media screen and (min-width: 768px) {
    .about-us__content:nth-child(2n) {
        border-left: 2px solid #c8dbbd;
    }
}

@media screen and (min-width: 992px) {
    .about-us__content:nth-child(n+2) {
        border-left: 2px solid #c8dbbd;
    }
} */
