* {
  /* outline: solid red 1px; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("img/bg-body.jpg");
  min-width: 375px;
}

.outside {
  background-color: #326611;
}

/* header */

.header h1 {
  flex: 1 1 0;
}

.header img {
  object-fit: contain;
}

.header__button:focus {
  box-shadow: 0 0 0 0rem;
}

.header__hamberger i {
  font-size: 40px;
  color: #326611;
}

.header__item {
  --bs-bg-opacity: 1;
  background-color: rgba(49, 100, 17, var(--bs-bg-opacity));
}

.header .nav-link {
  font-size: 20px;
  height: 60px;
  font-weight: bold;
}

.header .nav-item:nth-child(-n + 3) .nav-link {
  color: #326611;
}

.header .nav-link:hover::before {
  content: "> ";
  position: relative;
  right: 16px;
}

.header .nav-link:hover::after {
  content: " <";
  position: relative;
  left: 16px;
}

.header .nav-item:nth-child(n + 4) .nav-link {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .header__anchor-logo {
    height: 100px;
  }

  .header .navbar-nav {
    padding-bottom: 1px;
  }

  .header .navbar-nav .nav-item .nav-link {
    background-color: #4a4a4a;
    color: #d8e8ce;
  }

  .header .nav-item .nav-link.active {
    background-color: #97b386;
    color: #326611;
  }

  .header .nav-item .nav-link:hover {
    background-color: #d8e8ce;
    color: #4a4a4a;
  }

  .header .nav-link:hover::before {
    content: unset;
  }

  .header .nav-link:hover::after {
    content: unset;
  }
}

/* banner figure */

.banner .figure-caption {
  background-color: #000000;
}

.banner h2 {
  color: #e1e497;
}

.banner p {
  font-weight: bold;
  color: #fff;
}
.banner a {
  height: 14px;
  width: 14px;
  background-color: #a4b2b5;
}

.banner i {
  color: #fff;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .banner .figure-caption {
    background-color: #000000bf;
    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .banner p {
    font-size: 20px;
  }

  .banner a {
    height: 20px;
    width: 20px;
  }

  .banner i {
    font-size: 18px;
    vertical-align: top;
  }
}

/* service */

.service .card {
  background-color: unset;
}

.service img {
  border-radius: 0;
}

.service__card {
  background-color: #326611;
}

.service h4 {
  font-weight: bold;
  color: #e1e497;
  font-size: 18px;
}

.service p {
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  .service h4 {
    font-size: 22px;
  }

  .service p {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .service__card + .service__card {
    position: relative;
    border-left: 6px solid transparent;
  }

  .service__card + .service__card::before {
    content: "";
    border-left: 4px solid #3a6f1c;
    box-shadow: 2px 0 #2a5a0e inset;
    width: 6px;
    height: 100%;
    transform: translate(0 ,-50%);
    position: absolute;
    top: 50%;
    left: -6px;
  }
}

@media screen and (min-width: 1200px) {
  .service__card + .service__card::before {
    height: calc( 100% + 16px );
  }
}

@media screen and (min-width: 1400px) {
  .service__card + .service__card::before {
    height: calc( 100% + 24px );
  }
}

/* featured */

.featured {
  background-color: #fff;
}

.featured h3 {
  background-color: #dce8d4;
  border-bottom: 2px solid #b5cda5;
  color: #856346;
}

.featured h4 {
  color: #856346;
  font-weight: bold;
  font-size: 18px;
}

.featured p {
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  .featured h4 {
    font-size: 22px;
  }

  .featured p {
    font-size: 20px;
  }
}

/* @media(min-width: 992px) { */
@media screen and (min-width: 992px) {
  .featured h4 {
    font-size: 20px;
  }

  .featured p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .featured h4 {
    font-size: 24px;
  }

  .featured p {
    font-size: 20px;
  }
}

/* separate */

hr.separate {
  height: 2px;
  background-color: #ecebe7;
  opacity: 1;
  border-left: 16px solid #fff;
  border-right: 16px solid #fff;
}

@media screen and (min-width: 1400px) {
  hr.separate {
    border-left: 24px solid #fff;
    border-right: 24px solid #fff;
  }
}

/* tips */

.tips {
  background-color: #fff;
}

.tips h3 {
  background-color: #dce8d4;
  border-bottom: 2px solid #b5cda5;
  color: #856346;
}

.tips .card {
  border-radius: 0;
}

.tips img {
  object-fit: contain;
  object-position: top;
}

.tips__content ol {
  font-size: 16px;
}

.tips__content li::marker {
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  .tips__content ol {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .tips__content {
    height: 250px;
  }
}

@media screen and (min-width: 992px) {
  .tips__content {
    height: unset;
  }
}

/* about-us */

.about-us {
  background-color: #c8dbbd;
  border-top: 2px solid #c8dbbd;
  gap: 2px;
}

.about-us .card {
  background-color: unset;
  border-radius: 0;
}

.about-us__content {
  background-color: #dce8d4;
}

.about-us__content h5 {
  font-size: 24px;
  color: #a4a7a3;
}

.about-us__content p {
  font-size: 20px;
  color: #a3a7a1;
}

.about-us__link a {
  color: #a3a7a1;
}

.about-us__link i {
  color: #326611;
}

@media screen and (min-width: 768px) {
  .about-us__content {
    height: 200px;
  }
}

@media screen and (min-width: 992px) {
  .about-us__content {
    height: unset;
  }

  .about-us__content h5 {
    font-size: 20px;
  }

  .about-us__content p {
    font-size: 16px;
  }

  .about-us__content a {
    margin-bottom: 8px;
  }

  .about-us__content a:last-child {
    margin-bottom: 0;
  }

  .about-us__link i {
    font-size: 24px;
  }
}

@media screen and (min-width: 1400px) {
  .about-us__content h5 {
    font-size: 24px;
  }

  .about-us__content p {
    font-size: 20px;
  }

  .about-us__content a {
    margin-bottom: 12px;
  }

  .about-us__link i {
    font-size: 30px;
  }
}

/* footer */

.footer__copyright {
  background-color: #326611;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .footer__copyright {
    font-size: 20px;
  }
}
