*{
    /* outline: solid red 1px; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
} 

body {
    background-image: url("img/bg-body.jpg");
    min-width: 375px;
}

header , main ,.footer {
    background-color: #326611;;
}

/* header */

.header__logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.header__button:focus {
    box-shadow: 0 0 0 0rem;
}

.header__hamberger i {
    font-size: 40px;
    color: #326611;
}

.header__item {
    background-color: rgba(49, 100, 17, var(--bs-bg-opacity));
}

.header__link {
    font-size: 20px;
    height: 60px;        
    font-weight: bold;
}

.header__link:hover::before {
    content: "";
    position: relative;
    right: 16px;
    height: 40px;
    width: 40px;
    background-image: url(img/logo-allow.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat
}

.header__link:hover::after {
    content: "";
    position: relative;
    left: 16px;
    height: 40px;
    width: 40px;
    background-image: url(img/logo-allow.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat
}

.header__nav .header__item:nth-child(-n+3) .header__link {
    color:#326611;
}

.header__nav .header__item:nth-child(n+3) .header__link {
    color:#fff;
}

@media screen and (min-width: 768px) {
    .header__anchor-logo {
        height: 100px;
        width: 100%;
    }

    .header__nav {
        background-color: #97b386;
        margin-bottom: 1px;
    }

    .header__link:hover::before {
        content: unset;
    }
    
    .header__link:hover::after {
        content: unset;
    }
    
    .header__container .header__nav .header__item .header__link.active {
        background-color: #97b386;
        color: #326611;
    }

    .header__container .header__nav .header__item .header__link {
        background-color: #4a4a4a;
        color: #d8e8ce;
    }

    .header__container .header__nav .header__item .header__link:hover {
        background-color: #d8e8ce;
        color: #4a4a4a;
    }
}

/* focus figure */

.main-focus__title {
    color: #e1e497;
}

.main-focus__slideshow-explain {
    background-color: RGB(0,0,0);
    position: relative;
    left: unset;
    right: unset;
    bottom: unset;
}

.main-focus__slideshow img {
    height: 50vh;
    object-fit: cover;
}

.main-focus__content {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.main-focus__content a {
    height: 14px;
    width: 14px;
    background-color: #a4b2b5;
}

.main-focus__content a:last-child {
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: #a4b2b5;
    right: 0px;
    bottom: 4px;
}

.main-focus__slideshow-explain .collapse:not(.show) {
    display: block;
}

.main-focus__slideshow-explain .collapse.show a:last-child ,
.main-focus__slideshow-explain .collapsing a:last-child {
    display: none;
}

.main-focus__content a i {
    color: #fff;
    font-size: 12px;
    vertical-align: text-top;
}

.main-focus__slideshow-explain .collapse:not(.show) ,
.main-focus__slideshow-explain .collapsing {
    height: 42px;
}

.main-focus__slideshow-explain .collapse:not(.show) {
    display: block;
}

.main-focus__slideshow-explain .collapse:not(.show) .main-focus__content {
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    background-color: unset;
}


@media screen and (min-width: 768px) {
    .main-focus__slideshow-explain {
        background-color: RGB(0,0,0,.75);
        position: absolute;
        bottom: 0;
    }

    .main-focus__slideshow img {
        height: unset;
        object-fit: contain;
    }

    .main-focus__slideshow-explain .collapse:not(.show) ,
    .main-focus__slideshow-explain .collapse {
        height: unset;
    }
}

@media screen and (min-width: 1200px) {
    .main-focus__content {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }

    .main-focus__content a {
        height: 20px;
        width: 20px;
    }

    .main-focus__content a i {
        font-size: 18px;
        vertical-align: top;
    }
}

/* secondary-focus */

.secondary-focus__img img {
    border-radius: 0;
}

.secondary-focus__card {
    background-color: #326611;
    border: 0;
    border-radius: 0
}

.secondary-focus__title {
    font-weight: bold;
    color: #e1e497;
    font-size: 18px;
}

.secondary-focus__text {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

@media  screen and (min-width: 576px) {
    .secondary-focus__title {
        font-size: 22px;
    }
    
    .secondary-focus__text {
        font-size: 20px;
    }
}

@media screen and (min-width: 769px) {
    .secondary-focus__card + .secondary-focus__card {
        border-left: 4px solid #3a6f1c;
        box-shadow: 1px 0 #2a5a0e inset;
    }
}

@media screen and (min-width: 1200px) {
    .secondary-focus {
        margin: -8px 0;
    }

    .secondary-focus__card {
        padding: 8px 0;
    }
}

@media screen and (min-width: 1400px) {
    .secondary-focus {
        margin: -12px 0;
    }

    .secondary-focus__card {
        padding: 12px 0;
    }
}

.featured {
    background-color: #fff;
}

.featured h3 {
    background-color: #dce8d4;
    border-bottom: 2px solid #b6cda8;
    color: #856346;
}

h4.featured__title {
    color: #856346;
    font-weight: bold;
    font-size: 18px;
}
    
p.featured__text {
    font-size: 16px;
}

@media screen and (min-width: 576px) {
    h4.featured__title {
        font-size: 22px;
    }
        
    p.featured__text {
        font-size: 20px;
    }
}

/* @media(min-width: 992px) { */
@media screen and (min-width: 992px) {
    h4.featured__title {
        font-size: 20px;
    }
    
    p.featured__text {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    h4.featured__title {
        font-size: 24px;
    }
    
    p.featured__text {
        font-size: 20px;
    }
}

hr.hr {
    height: 2px;
    background-color: #a3a3a3;
    opacity:1;
}

.tips {
    background-color: #fff;
}

.tips h3 {
    background-color: #dce8d4;
    border-bottom: 2px solid #b6cda8;
    color: #856346;
}

.tips__img img {
    height: 100%; 
    width: 100%;
    object-fit: contain;
    object-position: top left;
}

.tips__text {
    font-size: 16px;
}

.tips__text li::marker {
    font-weight: bold;
}

@media screen and (min-width :576px) {
    .tips__text {
        font-size: 20px;
    }
}

@media screen and (min-width :768px) {
    .tips__content {
        height: 250px;
    }
}

@media screen and (min-width :992px) {
    .tips__content {
        height: unset;
    }
}

/* about-us */

.about-us {
    background-color: #c8dbbd;
    border-top: 2px solid #c8dbbd;
    gap: 2px;
}

.about-us__content {
    background-color: #dce8d4;
}

.about-us__content h5 {
    font-size: 24px;
    color: #a4a7a3;
}

.about-us__content p ,
.about-us__link {
    font-size: 20px; 
    color: #a3a7a1;
}

.about-us__link a {
    color: #a3a7a1;
}

.about-us__link a i {
    color: #326611;
}

@media screen and (min-width: 768px) {
    .about-us__content {
        height: 200px;
    }
}

@media screen and (min-width: 992px) {
    .about-us__content h5 {
        font-size: 20px;
    }

    .about-us__content p ,
    .about-us__link{
        font-size: 16px; 
    }

    .about-us__link i {
        font-size: 20px; 
    }

    .about-us__content {
        height: unset;
    }
}
    

@media screen and (min-width: 1400px) {
    .about-us__content h5 {
        font-size: 24px;
    }

    .about-us__content p ,
    .about-us__link {
        font-size: 20px;
    }

    .about-us__link i {
        font-size: 25px; 
    }

}

.footer__copyright {
    background-color: #326611;
    font-size: 14px;
    color: #fff;
    font-weight: bold ;
}    

@media screen and (min-width: 992px) {
    .footer__copyright {
        font-size: 20px;
    }
}