*{
    outline: solid red 1px;
    font-family: Arial, Helvetica, sans-serif;
    /* 字體 最後是明體(泛用字體) */
    box-sizing: border-box;
} 

body {
    background-image: url("img/bg-body.jpg");
    min-width: 480px;
}

header , main , footer {
    margin: 0 auto;
    min-width: 480px;
    width: 100vw;
    background-color: #326611;
    padding: 0;
}

@media screen and (min-width :769px) and (max-width :1024px) {
    header , main , footer {
        padding: 0;
    }
}

@media screen and (min-width :1025px) {
    header , main , footer {
        padding: 0 30px;
    }
}

@media screen and (min-width :1025px) and (max-width :1440px) {
    header , main , footer {
        width: 80vw ; 
    }
}

@media screen and (min-width :1440px) {
    header , main , footer {
        width: 75vw; 
    }
}

.header__container {
    position: relative;
}

.header__control {
    display: none;
    height: 50px;
    width: 50px;
    background-color: #326611;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.header__control a {
    width: 100%;
    text-align: center;
}

.header__control a i {
    color: #fff;
    font-size: 24px;
    vertical-align: bottom;
}

/* .header__control a::before {
    content: "";
    position: absolute;
    top: 15px;
    width: 25px;
    border:1px solid #fff ;
    transform: translate(-2%, -50%);
}

.header__control a::after {
    content: "";
    position: absolute;
    bottom: 12px;
    width: 25px;
    border:1px solid #fff ;
    transform: translate(-2%, -50%);
} */


h1 {
    margin: 0;
    background-color: #fff;
    text-align: center;
}

h1 a {
    height: 100px;
    display: inline-block;
}

h1 a img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    vertical-align: bottom;
}

.header__nav {
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
}

.collapse:not(.show) {
    display: flex;
}

.header__nav a {
    margin: 1px 0;
    display: inline-flex;
    height: 60px;
    flex:1;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (min-width :481px) and (max-width :768px) {
    .header__nav a {
        min-width: calc(160px + (100vw - 481px) / (768 - 481) * 40);
        height: 30px;
    }
}

@media screen and (max-width :480px) {
    .header__nav {
        display: flex;
        flex-flow: column;
    }

    .collapse:not(.show) {
        display: none;
    }

    .header__nav--miss {
        display: none;
    }

    .header__control {
        display: flex;
    }

    h1 a {
        height: 50px;
    }
}

.header__nav a {
    background-color: #4a4a4a;
    color: #d8e8ce;
}

.header__nav a:hover {
    background-color: #d8e8ce;
    color: #4a4a4a;
}

.header__nav a:hover:active {
    background-color: #97b386;
    color:#326611;
}

.header__nav a:focus {
    background-color: #97b386;
    color:#326611;
}


.focus__title {
    position: relative;    
}


.focus__title img {
    width: 100%;
}

.focus__main-content {
    background-color: RGB(0,0,0);
    padding: 0 30px;
    font-weight: bold;
    width: 100%;
}

@media screen and (min-width :769px) {
    .focus__main-content {
        position: absolute;
        bottom: 0%;
        background-color: RGB(0,0,0,.5);
        padding: 30px;
    }
}

.focus__title h2 {
    margin: 0;
    color: #e1e497;
}

.focus__title p {
    margin: 0;
    color: #fff;
    font-size: 20px;
}

.focus__title p a {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #a4b2b5;
    border-radius: 50%;
    text-align: center;
}

.focus__title p a i {
    color: #fff;
}

.focus__column {
    padding: 15px 0;
    columns: 1 ;
}

.focus__choose {
    padding: 15px 0 ;
    display: flex;
    break-inside: avoid;
}

.focus__choose img {
    margin:0 30px 0 5px;
    height: 140px;
}

@media screen and (min-width :1440px) {
    .focus__column {
        columns: 3 ;
    }
    
    .focus__choose + .focus__choose {
        border-left: 4px solid #3a6f1c;
    }
}

@media screen and (min-width :769px) and (max-width :1024px) {
    .focus__choose img {
        margin-left: 5px;
    }
}

@media screen and (min-width :1025px) {
    .focus__choose img {
        margin-left: 30px;
    }
}

.focus__sub-content h4 {
    margin: 0;
    font-weight: bold;
    color: #e1e497;
}

.focus__sub-content p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.featured {
    padding: 40px 5px;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

@media screen and (min-width :769px) and (max-width :1024px) {
    .featured  {
        padding: 40px 5px 0 ;
    }
}

@media screen and (min-width :1025px) {
    .featured  {
        padding: 40px 30px 0;
    }
}

.featured h3 {
    margin: 0 0 30px;
    background-color: #dce8d4;
    border-bottom: 2px solid #b6cda8;
    color: #856346;
    padding: 20px 30px;
}

.featured__list {
    display: flex;
    flex-flow: row;
}

.featured__items {
    display: flex;
    flex-flow: column;
    width: 300px;
    flex: 1;
}

.featured__items img {
    margin-bottom: 20px;
    width: 100%;
}

.featured__item-container {
    height: 140px;
}

.featured__items-container h4 {
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #856346;
    font-weight: bold;
}

.featured__items-container p {
    margin: 0;
    font-size: 20px;
}

.featured hr {
    background-color: #a3a3a3;
    height: 2px;
}

@media screen and (max-width :768px) {
    .featured__list {
        flex-flow: column;
    }

    .featured__items {
        height: 200px;
        width: 100%;
        flex-flow: row;
    }

    .featured__items + .banner__items{
        margin-top: 20px;
    }

    .featured__items img{
        margin: 0 30px 0 0;
        height: 200px ;
        flex: 1;
    };

    .featured__items-container {
        flex: 3;
    }
}

@media screen and (min-width :769px) and (max-width :1440px) {
    .featured__list {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .featured__items {
        min-width: 350px;
        flex: 0;
    }
}

@media screen and (min-width :1441px) {    
    .featured__items + .featured__items {
        margin-left: 30px;
    }
}

.week-tips {
    padding: 0 5px 40px;
    background-color: #fff;
}

.week-tips__img {
    margin-right: 30px;
    flex: 3;
}

.week-tips__img img {
    width: 100%;
}

.week-tips > h3 {
    display: none;
}


.week-tips__container {
    display: flex;
    width: 100%;
}

.week-tips__content {
    flex: 5;
}

.week-tips__content ol {
    margin: 0;
    font-size: 20px;
}

.week-tips__content ol li + li {
    margin-top: 20px;
}

.week-tips__content ol li::marker {
    font-weight: bold;
}

@media screen and (max-width :768px) {
    .week-tips__content {
        flex: 2;
    }
}

@media screen and (min-width :769px) and (max-width :1024px) {
    .week-tips  {
        padding: 0 5px ;
    }
}

@media screen and (max-width :1024px) {
    .week-tips__img ,
    .week-tips__content {
        flex: 1;
    }

    .week-tips__content ol {
        font-size: 18px;
    }
    
    .week-tips__content ol li + li {
        margin-top: 0px;
    }
}

@media screen and (min-width :1025px) {
    .week-tips  {
        padding: 0 30px 40px ;
    }
}

@media screen and (max-width :1440px) {
    .week-tips__content h3 {
        display: none;
    }
    
    .week-tips > h3 {
        display: block;
    }   
}
.week-tips h3 {
    margin: 0 0 30px;
    background-color: #dce8d4;
    border-bottom: 2px solid #b6cda8;
    color: #856346;
    padding: 20px 30px;
}

.footer {
    background-color: #326611;
    font-size: 0;
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
}

.mini-footer {
    display: none;
}

.footer__other-info , .footer__medialink {
    padding: 30px 0 30px 20px;
    display: flex;
    flex-flow: column;
    background-color: #dce8d4;
    width: 25%;
    border-top: 2px solid #3a6f1c;
    font-size: 20px;
    align-items: stretch;
    color: #a4a7a3;
}

.footer__other-info + .footer__other-info , 
.footer__medialink {
    border-left: 2px solid #3a6f1c;
}

.footer * h5 {
    font-size: 28px;
} 

.footer__other-info span {
    font-size: 24px;
    color: #a3a7a1;
}


.footer__medialink a {
    display: block;
    color: #a3a7a1;
    text-decoration: none;
    font-size: 24px;
}

.footer__medialink a i {
    margin-right: 20px;
    color: #326611;
}

.footer > span {
    margin: 0 auto;
    padding: 20px 0;
    background-color: #326611;
    font-size: 20px;
    color: #fff;
    font-weight: bold ;
}

@media screen and (max-width :1024px) {
    .footer {
        display: block;
    }
    
    .mini-footer {
        display: block;
    }

    .footer__other-info--miss ,
    .footer__medialink--miss {
        display: none;
    }

    .footer__other-info + .footer__other-info , 
    .footer__medialink {
    border-left: 0;
    }

    .footer__other-info , .footer__medialink {
        width: 100%;
        height: 250px;
        padding: 30px 100px 0;
    }

    .footer > span {
        display: block;
        margin: 0 auto;
        padding: 20px 0;
        background-color: #326611;
        font-size: 20px;
        color: #fff;
        font-weight: bold ;
        text-align: center;
    }    
}