*{
    outline: solid red 1px;
    font-family: Arial, Helvetica, sans-serif;
    /* 字體 最後是明體(泛用字體) */
    box-sizing: border-box;
} 

body {
    background-image: url("img/bg-body.jpg");
    min-width: 375px;
}

.header , main ,.footer {
    background-color: #326611;;
}

h1 {
    font-size: 0;
}

.header__anchor-logo {
    height: calc( 50px + 30 * (100vw - 375px)/(575 - 375) ) ;
    min-height: 50px;
}

.header__logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.header__hamberger i {
    font-size: 40px;
    color: #326611;
}

.header__item {
    --bs-bg-opacity: 1;
    background-color: rgba(49, 100, 17, var(--bs-bg-opacity));
}

.bg-opacity-90 {
    --bs-bg-opacity: 0.9;
}

.bg-opacity-75 {
    --bs-bg-opacity: 0.75;
}

.bg-opacity-60 {
    --bs-bg-opacity: 0.6;
}

.bg-opacity-45 {
    --bs-bg-opacity: 0.45;
}

.bg-opacity-30 {
    --bs-bg-opacity: 0.3;
}

.bg-opacity-15 {
    --bs-bg-opacity: 0.15;
}

.header__link {
    font-size: 20px;
}

.navbar-nav .header__item:nth-child(-n+3) .header__link {
    color:#326611;
}

.navbar-nav .header__item:nth-last-child(-n+3) .header__link {
    color:#fff;
}


@media screen and (min-width: 576px) {
    h1 {
        width: 100%;
    }

    .header__anchor-logo {
        height: 100px;
        width: 100%;
    }

    .header__nav {
        background-color: #97b386;
    }
    .header__item {
        margin: 1px 0;
    }
    
    .navbar-light .navbar-nav .header__item .header__link.active {
        background-color: #97b386;
        color: #326611;

    }

    .navbar-light .navbar-nav .header__item .header__link {
        font-weight: bold;
        height: 60px;
        background-color: #4a4a4a;
        color: #d8e8ce;
    }

    .navbar-light .navbar-nav .header__item .header__link:hover {
        background-color: #d8e8ce;
        color: #4a4a4a;
    }
}