:root {
    --bs-bg-opacity: 1;
}

/* 自己添加參數 */

/* 不透明參數補足 */

.bg-opacity-100 {
    --bs-bg-opacity: 1;
}

.bg-opacity-95 {
    --bs-bg-opacity: 0.95;
}

.bg-opacity-90 {
    --bs-bg-opacity: 0.9;
}

.bg-opacity-85 {
    --bs-bg-opacity: 0.85;
}

.bg-opacity-80 {
    --bs-bg-opacity: 0.8;
}

.bg-opacity-75 {
    --bs-bg-opacity: 0.75;
}

.bg-opacity-70 {
    --bs-bg-opacity: 0.7;
}

.bg-opacity-65 {
    --bs-bg-opacity: 0.65;
}

.bg-opacity-60 {
    --bs-bg-opacity: 0.6;
}

.bg-opacity-55 {
    --bs-bg-opacity: 0.55;
}

.bg-opacity-50 {
    --bs-bg-opacity: 0.5;
}

.bg-opacity-45 {
    --bs-bg-opacity: 0.45;
}

.bg-opacity-40 {
    --bs-bg-opacity: 0.4;
}

.bg-opacity-35 {
    --bs-bg-opacity: 0.35;
}

.bg-opacity-30 {
    --bs-bg-opacity: 0.3;
}

.bg-opacity-25 {
    --bs-bg-opacity: 0.25;
}

.bg-opacity-20 {
    --bs-bg-opacity: 0.2;
}

.bg-opacity-15 {
    --bs-bg-opacity: 0.15;
}

.bg-opacity-10 {
    --bs-bg-opacity: 0.1;
}

.bg-opacity-5 {
    --bs-bg-opacity: 0.05;
}

.bg-opacity-0 {
    --bs-bg-opacity: 0;
}


*{
    /* outline: solid red 1px; */
    font-family: Arial, Helvetica, sans-serif;
    /* 字體 最後是明體(泛用字體) */
    box-sizing: border-box;
} 

body {
    background-image: url("img/bg-body.jpg");
    min-width: 375px;
}

header , main ,.footer {
    background-color: #326611;;
}

/* header */

.header__logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.header__button:focus {
    box-shadow: 0 0 0 0rem;
}

.header__hamberger i {
    font-size: 40px;
    color: #326611;
}

.header__item {
    background-color: rgba(49, 100, 17, var(--bs-bg-opacity));
}


.header__link {
    font-size: 20px;
    height: 60px;        
    font-weight: bold;
}

.header__nav .header__item:nth-child(-n+3) .header__link {
    color:#326611;
}

.header__nav .header__item:nth-last-child(-n+3) .header__link {
    color:#fff;
}


@media screen and (min-width: 768px) {
    h1 {
        width: 100%;
    }

    .header__anchor-logo {
        height: 100px;
        width: 100%;
    }

    .header__nav {
        background-color: #97b386;
        margin-bottom: 1px;
    }
    
    .header__container .header__nav .header__item .header__link.active {
        background-color: #97b386;
        color: #326611;
    }

    .header__container .header__nav .header__item .header__link {
        background-color: #4a4a4a;
        color: #d8e8ce;
    }

    .header__container .header__nav .header__item .header__link:hover {
        background-color: #d8e8ce;
        color: #4a4a4a;
    }
}

.main-focus__title {
    color: #e1e497;
}

.main-focus__slideshow-explain {
    background-color: RGB(0,0,0);
    position: relative;
    left: unset;
    right: unset;
    bottom: unset;
}

.main-focus__content {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.main-focus__content a {
    height: 14px;
    width: 14px;
    background-color: #a4b2b5;
}

.main-focus__content a i {
    color: #fff;
    font-size: 12px;
    vertical-align: text-top;
}

@media screen and (min-width: 769px) {
    .main-focus__slideshow-explain {
        background-color: RGB(0,0,0,.75);
        position: absolute;
        bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .main-focus__content {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }

    .main-focus__content a {
        height: 20px;
        width: 20px;
    }

    .main-focus__content a i {
        font-size: 18px;
        vertical-align: top;
    }
}

/* secondary-focus */

.secondary-focus {
    right: unset;
    bottom: unset;
    left: unset;
    z-index: unset;
    justify-content: unset;
    margin: unset;
    list-style: unset;
}

.secondary-focus [data-bs-target] {
    box-sizing: border-box;
    flex: unset;
    width: unset;
    height: unset;
    margin: unset;
    cursor: pointer;
    text-indent: unset;
    background-color: #326611;
    background-clip: unset;
    border: 0;
    opacity: unset;
    transition: unset;
}

.secondary-focus__img img {
    border-radius: 0;
}

.secondary-focus__card {
    order: 3;
    border: 0;
    background-color: #326611;
    border-radius: 0;
}

.secondary-focus__card.active {
    order: 1;
    background-color: #d8e8ce;
    color: #326611;
    transition: all .6s
}

.secondary-focus__card.active + .secondary-focus__card {
    order: 2;
}

.secondary-focus__card.active .secondary-focus__title {
    color: #326611;
}

.secondary-focus__card.active .secondary-focus__text {
    color: #628f45;
}

.secondary-focus__title {
    font-weight: bold;
    color: #e1e497;
    font-size: 18px;
}

.secondary-focus__text {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

@media  screen and (min-width: 576px) {
    .secondary-focus__title {
        font-size: 22px;
    }
    
    .secondary-focus__text {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .secondary-focus__card + .secondary-focus__card {
        border-left: 4px solid #3a6f1c;
        box-shadow: 1px 0 #2a5a0e inset;
    }

    .secondary-focus__card.active {
        margin-top: unset;
        order: 3;
    }

    .secondary-focus__card.active + .secondary-focus__card {
        order: 3;
    }
}
@media screen and (min-width: 1200px) {
    .secondary-focus {
        margin: -8px 0;
    }

    .secondary-focus__card-container {
        padding: 8px;
    }
}

@media screen and (min-width: 1400px) {
    .secondary-focus {
        margin: -12px 0;
    }

    .secondary-focus__card-container {
        padding: 12px;
    }
}

.featured {
    padding: 12px 0;
    background-color: #fff;
}

.featured * h3 {
    background-color: #dce8d4;
    border-bottom: 2px solid #b6cda8;
    color: #856346;
}

h4.featured__title {
    color: #856346;
    font-weight: bold;
    font-size: 18px;
}
    
p.featured__text {
    font-size: 16px;
}

@media screen and (min-width: 576px) {
    h4.featured__title {
        font-size: 22px;
    }
        
    p.featured__text {
        font-size: 20px;
    }
}

/* @media(min-width: 992px) { */
@media screen and (min-width: 992px) {
    h4.featured__title {
        font-size: 20px;
    }
    
    p.featured__text {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    h4.featured__title {
        font-size: 24px;
    }
    
    p.featured__text {
        font-size: 20px;
    }
}

hr.hr {
    height: 2px;
    background-color: #a3a3a3;
    opacity:1;
}


@media screen and (min-width: 992px) {
    hr {
        border-left: 16px solid #fff;
        border-right: 16px solid #fff;
    }
}

@media screen and (min-width: 1400px) {
    hr {
        border-left: 24px solid #fff;
        border-right: 24px solid #fff;
    }
}

.tips {
    background-color: #fff;
}

.tips h3 {
    background-color: #dce8d4;
    border-bottom: 2px solid #b6cda8;
    color: #856346;
}

.tips__img img {
    height: 100%; 
    width: 100%;
    object-fit: contain;
    object-position: top left;
}

.tips__text {
    margin: 0;
    font-size: 16px;
}

.tips__text li::marker {
    font-weight: bold;
}

@media screen and (min-width :576px) {
    .tips__text {
        font-size: 20px;
    }
}

@media screen and (min-width :768px) {
    .tips--height {
        height: 270px;
    }
}

@media screen and (min-width :992px) {
    .tips--height {
        height: unset;
    }
}

/* about-us */

.about-us {
    background-color: #9cc588;
    border-top: 2px solid #9cc588;
    gap: 2px;
}

.about-us__container {
    background-color: #dce8d4;
    border: 0;
    /* height: 200px; */
}


.about-us .about-us__title {
    font-size: 24px;
    color: #a4a7a3;
}

.about-us__text {
    font-size: 20px; 
    color: #a3a7a1;
}

.about-us__text a {
    color: #a3a7a1;
}

.about-us__text a i {
    color: #326611;
}

/* special */

.about-us__title .about-us__button ,
.about-us__content {
    background-color: #dce8d4;
    color: #a4a7a3;
}

.about-us__title .about-us__button {
    font-size: 24px;
}



.about-us__button:focus {
    box-shadow: unset;
}

@media screen and (min-width: 768px) {
    .about-us__container {
        height: 200px;
    }
    
    .about-us__content {
        height: 200px;
    }
}

@media screen and (min-width: 992px) {
    .about-us__title {
        font-size: 20px;
    }

    .about-us__text {
        font-size: 16px; 
    }

    .about-us__container {
        height: unset;
    }

    .about-us__content {
        height: unset;
        align-items: flex-start;
    }
}
    

@media screen and (min-width: 1400px) {
    .about-us__title {
        font-size: 24px;
    }

    .about-us__text {
        font-size: 20px;
    }

}

.footer__copyright {
    background-color: #326611;
    font-size: 14px;
    color: #fff;
    font-weight: bold ;
}    

@media screen and (min-width: 992px) {
    .footer__copyright {
        font-size: 20px;
    }
}
