*{
    outline: solid red 1px;
    font-family: Arial, Helvetica, sans-serif;
    /* 字體 最後是明體(泛用字體) */
    box-sizing: border-box;
} 

body {
    background-image: url("img/bg-body.jpg");
    min-width: 375px;
}

.header , main ,.footer {
    background-color: #326611;
}

.footer__carousel-card {
    background-color: #dce8d4;
    height: 240px;
    font-size: 0;
}

.footer__title {
    font-size: 24px;
    color: #a4a7a3;
}

.footer__text {
    font-size: 20px; 
    color: #a3a7a1;
}

.footer__text a {
    color: #a3a7a1;
    font-size: 24px;
}

.footer__text a i {
    color: #326611;
}

.footer__copyright {
    background-color: #326611;
    font-size: 14px;
    color: #fff;
    font-weight: bold ;
}    

.footer__card {
    background-color: #dce8d4;
}

@media screen and (min-width: 1200px) {
    .footer__copyright {
        font-size: 20px;
    }
}