*
    outline: 1px solid black
    box-sizing: border-box
body
    margin: 0
h1,h2,h3,p
    margin: 0
    padding: 0

figure
    position: absolute
    top: -10px
    left: -7px
    margin: 0
    opacity: 0.2

figure img
    width: 100%

// 在 width 1200px 時 合板
.container
    width: 890px
    margin: 0 auto

header,main,footer,.copyright
    width: 855px
    margin: 0 auto

header
    // height: 133px
    .banner
        height: 87px
        background: #fff url(../image/logo.png) no-repeat 52% 21%
        background-size: 47%
    .navbar
        padding: 0
        .container
            padding: 0
        .navbar-nav
            width: 100%
            margin: 0
        a
            text-align: center

main
    height: 1205px

footer
    height: 165px

.copyright
    height: 35px
