body {
    background: transparent url("body.jpg") repeat;
    color: #356618;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
  }
.rowclear{
  margin:0px;
  padding:0px;
}
#page{
  	background: #356618;
    margin: 0 auto;
    padding: 0 20px;
    width: 920px;
}
p{
  color:#EEE;
  margin: 0px;
}
a:focus, a:hover {
    color: #EEE;
    text-decoration: none;
}
h4{
  background: #DCE9D4;
  border-bottom: 2px solid #B3CCA4;
  color: #836145;
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
  margin: 0px;
  height: 39px;
  line-height: 39px;
  padding: 0px 20px 0px 20px;
  text-shadow: 1px 1px 1px #FFF;
}
header {
  background:#fff;
  height: 150px;
}
#logo{
  display: block;
  height: 90px;
}
header #logo img {
    display: block;
    margin: 0px auto;
}
.navbarfix{
  height: 50px;
  margin-bottom: 10px;
  background: #4B4B4B;
  border: none;
}
.headfix{
  padding-right: 0px;
  padding-left: 0px;
}
.headerlist{
  width: 100%;
}
.headerlifix{
  padding-right: 0px; padding-left: 0px;
  text-align: center;
}
.active{
    background: rgb(179, 209, 162);
    color: #356618;
}
header ul li a{
  color: #F0F2C9;
}
ul.nav a:hover {
  background-color: #DCE9D4;
  color: #1b330c;
}
#gardner{
  height: 550px;
}
#woman{
  height: 430px;
  background-image: url("gardening1.jpg");
  position: relative;
  margin-bottom: 8px;
}
#woman>a{
    display: block;
    height: 300px;
    margin: 0px auto;
}
#woman>div{
  background-color: rgba(41, 37, 37, 0.74);
  width:100%;
  height: 130px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 15px;
}
#woman>div>a{
  color: #E3E699;
  font-size: 24px;
  font-weight: normal;
}
#woman>div>a:hover{
  text-decoration: none;
  color: #EEE;
}
.gardnerleft{
  border: 1px solid rgb(255, 255, 255);
  height: 100px;
  width: 95px;
  margin-left: 2.7px;
}
.gardnerright{
  color: #E3E699;
  font: 20px "Helvetica Neue",sans-serif;
}
.col8right{
  padding-left: 10px;
}
#content{
  padding: 25px;
  background-color: #fff;
}
#content .col-xs-3{
  margin-top: 20px;
  text-align: center;
}
#content .col-xs-3 img{
  width:193px;
  height:185px;
}
#content4g{
  margin-bottom: 20px;
  border-bottom: 1.5px solid #D7D6CD;
}
h5{
  color: #836145;
  font-weight: normal;
  margin:10px 0px;
  text-transform: uppercase;
  letter-spacing:2px;
}
.col-xs-3 p{
  text-align: left;
  color: #4B4B4B;
  margin: 0px 8px 10px;
  line-height: 24px;
}
.col-xs-7 ol, .col-xs-7 p{
  color: #4B4B4B;
  line-height: 25px;
  margin:5px 0px;
}
ol{
  padding-left: 25px;
  padding-top: 10px;
}
.footercolxs3{
  height: 170px;
  background: #DCE9D4 none repeat scroll 0% 0%;
  padding-left: 25px;
  border-top: 1px solid #356618;
  border-left: 1px solid #356618;
}
.footercolxs3 h4{
  color: #8C8C8C;
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
  margin: 0px;
  height: 39px;
  line-height: 39px;
  text-shadow: 1px 1px 1px #FFF;
  border:  none;
  padding: 0px;
}
.footercolxs3 a{
  text-align: left;
  color: #4B4B4B;
  margin: 0px;
  line-height: 24px;
  display:block;
}
.footercolxs3 a:hover{
  color: #356618;
}
a#mail{
	background: url(icons.png) no-repeat 0 -1%;
  height: 18px;
  line-height: 18px;
  margin: 0 0 10px;
  padding: 0 0 0 30px;
}
a#facebook{
	background: url(icons.png) no-repeat 0 -38px;
  height: 20px;
  line-height: 20px;
  margin: 0 0 10px;
  padding: 0 0 0 30px;
}
a#twitter{
	background: url(icons.png) no-repeat 0 -88px;
  height: 18px;
  line-height: 18px;
  margin: 0 0 10px;
  padding: 0 0 0 30px;
}
a#google{
	background: url(icons.png) no-repeat 0 -134px;
  height: 20px;
  line-height: 20px;
  margin: 0 0 10px;
  padding: 0 0 0 30px;
}
#copyright{
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #FFF;
  text-shadow: 1px 1px 1px #8DA181;
}
