.bg_mainColor {
    background-color: #366819;
}

.px_15px {
    padding: 0 30px !important;
}

.mx_n15px {
    margin: 0 -15px;
}

body {
    background-image: url(./img/bg-body.jpg);
}

header h1 {
    margin-bottom: 0;
}

.bg-darkgreen {
    background-color: #4B4B4B;
}

.navbar-nav-color {
    color: #E9EB9D;
    line-height: 2.5;
}

.navbar-nav a:hover,
.nav-item:hover {
    background-color: #D9EACF;
    color: #4D6140;
}

.nav a:focus,
.nav-item:focus {
    background-color: #96B285;
    color: #2A6100;
}

.bg-half-dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.media p {
    margin-bottom: 0;
}

.main-text {
    position: absolute;
    bottom: 0;
}

.text-yellow {
    color: #E9EB9D;
}

.border-right-green {
    border: 0;
}

.bg-title {
    background-color: #DCE8D4;
}

.text-red {
    font-size: 1.25rem;
    color: #784413;
}

article h2 {
    margin-bottom: 0;
}

.border-bottom-lightgreen {
    border-bottom: 3px #ABC79A solid;
}

.border-lightgreen {
    border: 1px #ABC79A solid;
}

.footer-bg-lightgreen {
    background-color: #DDE9D5;
}

ul {
    padding-inline-start: 0;
}

i {
    color: #366819;
}

.disappear-in-sm {
    display: none;
}

@media (min-width: 768px) {
    .main-text {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding-left: 0.75rem;
        padding-top: 0.75rem;
    }
    .main-text-wrap {
        white-space: normal !important;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 3rem;
    }
    .disappear-in-lg {
        display: none;
    }
    .disappear-in-sm {
        display: block;
    }
    .border-right-green {
        border-right: 2px inset #2B5B0F !important;
    }
}