.bg-mainColor {
    background-color: #366819;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.mx-n15 {
    margin: 0 -15px;
}

.ml-n15 {
    margin-left: -15px;
}

.bg-darkgreen {
    background-color: #4B4B4B;
}

.nav a {
    color: #D9EAD0;
}

.nav a:hover,
.nav-item:hover {
    background-color: #D9EACF;
    color: #4D6140;
}

.nav a:focus,
.nav-item:focus {
    background-color: #96B285;
    color: #2A6100;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bg-dark_alpha {
    background-color: rgba(0, 0, 0, 0.5)
}

.text-yellow {
    color: #E9EB9D;
}

.border-right-green {
    border-right: 2px inset #2B5B0F !important;
}

.bg-title {
    background-color: #DCE8D4;
}

.text-red {
    color: #784413;
}

.border-bottom-lightgreen {
    border-bottom: 3px #ABC79A solid;
}

.border-lightgreen {
    border: 1px #ABC79A solid;
}

ol {
    padding-inline-start: 16px;
}

.footer-bg-lightgreen {
    background-color: #DDE9D5;
}

ul {
    padding-inline-start: 0;
}

i {
    color: #366819;
}