body {
  background-image: url(../image/bg-body.jpg);
  text-align: center;
}

.body_color {
  background-color: green;
  width: 80%;
  margin: 0 auto;
}

.logo {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.nav {
  display: inline;
  background-color: #5f5959;
  width: 16.666666666667%;
  font-size: 22px;
  line-height: 60px;
}

.nav a {
  color: #d4edda;
  text-decoration: none;
}

.menu {
  display: none;
  text-align: center;
  background-color: #5f5959;
  width: 100%;
  font-size: 22px;
  line-height: 60px;
  color: #d4edda;
}

.menu img {
  height: 50%;
}

label {
  margin: 0;
}

#toggle_menu {
  display: none;
}

.title_bar_background {
  background-position: center;
  background-image: url(../image/gardening1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.title_bar_background_info {
  margin-top: 450px;
  font-family: sans-serif;
  padding: 10px 20px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 18px;
}

.title_bar_background_info h1 {
  font-size: 48px;
  color: #85AA53;
}

.title_bar_background_info p {
  font-weight: bold;
}

.title_bar_content {
  margin: 10px 0;
  display: flex;
  width: 33.3333333333%;
  border-right: 2px solid rgba(255, 255, 255, 0.26);
}

.title_bar_content_img {
  margin: 20px;
}

.title_bar_content_img img {
  border: 2px solid white;
}

.title_bar_info {
  text-align: left;
}

.title_bar_info p {
  font-weight: bold;
  margin-top: 18px;
  color: white;
}

.title_bar_info_title {
  line-height: 1;
  margin-top: 20px;
  font-size: 28px;
  color: #d4edda;
}

.content {
  margin: auto 15px;
  overflow: hidden;
  background-color: white;
}

.content_main {
  border-bottom: 2px solid rgba(255, 255, 255, 0.26);
}

.content_main_title {
  border-bottom: 1px solid green;
  margin: 20px 10px;
  padding: 10px;
  text-align: left;
  font-size: 24px;
}

.content_main_content {}

.content_main_info {
  padding: 10px;
  width: 25%;
}

.content_main_info_img img {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.content_main_info_contnen {}

.content_main_info_contnen h1 {
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
}

.content_main_info_contnen p {
  font-size: 18px;
  margin-top: 10px;
  text-align: left;
}

.content_sub {
  margin: 0px 10px 30px 10px;
}

.content_sub_left {
  width: 33.3333333333%;
}

.content_sub_left img {
  height: 100%;
  width: 100%;
}

.content_sub_right {
  padding-left: 20px;
  width: 66.6666666667%;
  text-align: left;
}

.content_sub_title {
  border-bottom: 1px solid green;
  padding: 10px;
  width: 100%;
  font-size: 24px;
}

.content_sub_content ol {
  padding-left: 20px;
}

.content_sub_content ol li {
  font-size: 18px;
}

.footer_top {
  background-color: #d4edda;
  color: #9e9e9eba;
  font-size: 16px;
  text-align: left;
}

.footer_content {
  width: 25%;
  border: 1px solid #00800057;
  padding: 15px;
  font-size: 16px;
}

.footer_img_fix {
  flex-direction: column;
}

.footer_content_title {
  font-size: 20px;
}

.footer_content_link {
  font-size: 18px;
}

.footer_content_link img {
  height: 10%;
  width: 10%;
  margin: 5px;
}

.footer_bottom {
  color: white;
  margin: 5px 0px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width:1024px) {
  .body_color {
    width: 100%;
  }
  .title_bar_content_img {
    justify-content: center;
  }
  .content_sub_content {
    margin-top: 10px;
  }
  .content_sub_left {
    width: 100%
  }
  .content_sub_right {
    padding: 0;
    margin-top: 10px;
    width: 100%
  }
  .footer_content {
    font-size: 14px;
  }
  .footer_content_title {
    font-size: 20px;
  }
  .footer_content_link {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .title_bar_background_info {
    text-align: center;
  }
  .title_bar_background_info p {
    display: none;
  }
  .title_bar_content {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .title_bar_info_title {
    font-size: 32px;
  }
  .title_bar_info p {
    font-size: 18px;
    margin-top: 10px;
  }
  .content_sub_content {
    margin-top: 10px;
  }
}

@media screen and (max-width:576px) {
  .container-fluid {
    padding: 0px;
  }
  .row {
    margin: 0;
  }
  .nav {
    width: 100%;
  }
  .menu {
    display: block;
  }
  .title_bar_background_info h1 {
    font-size: 32px;
  }
  .title_bar_content {
    padding: 0px 10px;
  }
  .content {
    margin: 0px;
  }
  .content_main_info {
    width: 100%;
  }
  .footer_content {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  .footer_content_link {
    font-size: 14px;
  }
  .footer_content_link img {
    height: 5%;
    width: 5%;
  }
  .footer_content_link br {
    display: none;
  }
  .footer_bottom {
    font-size: 14px;
  }
  #toggle_menu:checked~.nav {
    display: none;
  }
}