body {
  background-color: green;
  text-align: center;
}

.clear_mp {}

.logo {
  background-color: #ffffff;
}

.logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.clear_mp {
  margin: 0;
  padding: 0;
}

.col_fix {
  background-color: #5f5959;
  color: #8bc34a;
  font-size: 18px;
  line-height: 40px;
}

.header_backgroungd {
  background-image: url(../image/gardening1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.header_background_info {
  margin-top: 300px;
  font-family: sans-serif;
  padding: 10px 20px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.header_background_info h1 {
  color: #85AA53;
}

.header_background_info p {
  font-weight: bold;
}

.info_display {
  display: flex;
}

.info-img img {
  margin: 20px;
  border: 2px solid white;
}

.info_content {
  text-align: left;
}

.info_content p {
  font-weight: bold;
  margin-top: 20px;
  color: white;
}

.info_content_title {
  line-height: 1;
  margin-top: 20px;
  font-size: 24px;
  color: #85AA53;
}

.info_content_margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info_content_border {
  border-right: 2px solid rgba(255, 255, 255, 0.26);
}

.content {
  overflow: hidden;
  background-color: white;
}

.content_title {
  border-bottom: 1px solid green;
  margin: 20px 30px 10px 30px;
  padding: 10px;
  text-align: left;
  font-size: 24px;
}

.content_main_fix {
  margin: 15px;
}

.content_main_img {}

.content_main_img img {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.content_main_title {
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
}

.content_main_content {
  margin-top: 10px;
  text-align: left;
}

.content_sub {
  display: flex;
  flex-wrap: wrap;
}

.content_sub_title {
  margin: 10px;
}

.content_footer {
  background-color: red;
  height: 100px;
  width: auto;
}

.footer {
  color: white;
  margin: 5px 0px;
  font-size: 18px;
  font-weight: bold;
}

/*給電腦*/

@media (min-width: 1024px) {
  .header_background_info {
    margin-top: 450px;
  }
}

/* 給平板*/

@media screen and (min-width:576px) and (max-width:1023px) {
  .header_background_info {
    margin-top: 200px;
  }
  .header_background_info p {
    font-size: 16px;
  }
  .info_content_title {
    font-size: 20px;
  }
  .info_content p {
    font-size: 12px;
  }
}

/* 給手機*/

@media screen and (max-width:575px) {
  .col_fix {
    line-height: 30px;
  }
  .header_background_info {
    margin-top: 150px;
  }
  .header_background_info p {
    display: none;
  }
  .header_background_info h1 {
    text-align: center;
    font-size: 24px;
  }
  .info_content_title {
    font-size: 24px;
  }
  .info_content p {
    font-size: 16px;
  }
}