body {
    background-image: url("./img/bg-body.jpg");
}

.green_background {
    background-color: #356618;
}

.white_background {
    background-color: #fff;
}

.logo_img{
    background-image: url(./img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 7%;
    margin: 14px 0;
}

.menu_area ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.menu_area li{
    line-height: 40px;
    background-color: #4b4b4b;
    color: white;
}

li.menu_selected_page {
    background-color: #96b285;
    color: #356618;
}
