/**{
	box-shadow: 0 0 1px red;
}*/

body{
	background: url(../images/body.png);
}

.container{
	background-color:#336611;
}

/*--------------------------Logo--------------------------*/
.logo{
	background: #fff;
	padding: 12px;
}

#style-p1 span{
	color: #4e852a;
}

#style-p1{
	color: #7b7b7b;
	font-size: 4.5vw;
	line-height: 4.5vw;
	
}

#style-p2{
	color: #f4b75f;
	font-size: 1.5vw;
	
}

.logo img{
	max-width: 15%;
	width: 90px;
}

/*--------------------------nav--------------------------*/
.nav-style{
	background-color: #4a4a4a;
	font-size: 16px;
}

.nav-style a{
	color: #dbddb9;
}

.nav-style a:hover {
	background-color: #dbebd0;
	color: #3a512c;
}

nav .home:hover{
	background-color: #98b487;
	color: #3d6d22; 
}

.nav-border{
	border-bottom: 1px solid #fff;
}

/*--------------------------background-img--------------------------*/
.background-img{
	background: url(../images/gardening.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 40vw;
	position: relative;
}

.font-background{
	background-color: rgba( 0, 0, 0, 0.6);
	position: absolute;
	bottom: 0;
	padding: 2vw;
}

.style-h4{
	color: #dde095;
	font-size: 2vw;
	font-weight: 300;
}

.style-p3{
	color: #fff;
	font-size: 1.5vw;
	line-height: 3.8vw;
	font-weight: 300;
}

#style-arrow{
	background-color: grey;
	border-radius: 15px;
}

#style-arrow a{
	text-decoration: none;
	color: #fff;
}

/*--------------------------content--------------------------*/
.img-border{
	border: 1px solid #fff;
}

.middle-h6-style{
	color: #dde095;
	font-size: 1.5vw;
	font-weight: 300;
	margin-bottom: 8px;
}

 .middle-p-style{
 	color: #fff;
 	font-size: 1.2vw;
 }

@media screen and (min-width: 768px){
	 .green-separate-line{
		border-left: 2px solid #3c7419;
		border-right: 2px solid #2f600b;
		margin: -2px;
	 }
 }

/*--------------------------Featured Gardens--------------------------*/
.section{
	background-color: #fefefe;
	overflow: auto; 
}

.section-title-color{
	color: #78491b;
}

.title-p{
	background-color: #ddead5;
	text-indent: 1vw;                /*首行縮排*/
	font-size: 22px;
	border-bottom: 0.2vw solid #afc99e;
}

.content-img{
	width: 100%;
}

.section-title-h6{
	font-size: 18px;
}

.section-content{
	font-size: 17px;
}

.section-line{
	border-top: 2px solid #ecebe7;
	border-bottom: 2px solid #ecebe7;
}

.section ol{
	padding-left: 22px;
}

/*--------------------------footer--------------------------*/
.footer{
	background-color: #ddead5;
	border-top: 1px solid #caddbf; 
}

.footer-border{
	border: 1px solid #caddbf;
}

.footer h6{
	color: #8c8d8c;
	font-size: 20px;
	font-weight: 400;
}

.footer p{
	color: #999b98;
	font-size: 18px;
	margin: 0;
}

.footer-p-style{
	color: #fff;
	font-size: 1.2vw;
}

.footer a{
	text-decoration: none;
}

.footer i{
	color: #346714;
	font-size: 22px;
}

