* {
   padding: 0px;
   margin: 0px;
}
body {
   background-image: url(../images/bg-body.jpg);
   background-repeat: repeat;
   width: 100%;
}
.content-wrap {
    background-color: #356618;
    overflow: hidden;
    position: relative;
    width: 80%;
    left: 10%
}
.content {
    margin: 0% 1% 3% 1%;
    height: 100%;
}
.banner {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner {
    marign-top: 1%;
    margin-bottom: 1.3%;
}

.nav-button-wrap {
    text-align: center;
    overflow: inherit;
    display: flex;
    flex-direction: row;
    height: inherit;
}
.nav-button > a {
    text-decoration: none;
    color: #dee0bb;
}
.nav-button:hover .btn {
    color: #77866f;
}
.nav-button:hover {
    background-color: #daeacf;
}
.nav-button {
    list-style-type: none;
    float: left;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b4b4b;
}
.nav-button-active {
    background-color: #96b2a5;
}
.nav-button-active > a {
    color: #497131;
}
.nav {
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.gardening1 {
   background-image: url(../images/gardening1.jpg); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 600px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.gardening-box  {
   width: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   align-self: flex-end;
   position: absolute;
   height: 20%;
   bottom: 0%;
   left: 0%;
   display: flex;
   justify-content: center;
}
.gardening-box-wrap {
    position: relative;
    width: 90%;
    margin: 1% 1% 1% 1%;
}
.gardening-box-wrap > h2 {
    color: yellow;
    font-size: 200%;
}
.gardening-box-wrap > p {
    color: white;
}
.small-portfolio-wrap {
    display: flex;
    flex-direction: row;
}
.small-portfolio {
    flex-grow: 1;
}
.sp {
    padding: 5%;
}
.sp > img {
   float: left;
   margin-right: 5%;
   border: 1px solid #fff;
}
.sp > div {
}
.sp > div > h2 {
    color: yellow;
}
.sp > div > p {
    color: white;
}
.main-content-wrap {
    margin-top: 2%;
    background-color: white;
}
.main-content {
   padding: 2%;
}
.title {
   background-color: #dce8d4;
}
.title > p {
   color: red;
   padding-top: 0.5%;
   padding-bottom: 0.5%;
   padding-left: 2%;
}
.grid-wrap {
    display: flex;
    flex-direction: row;
    padding-top: 0.5%;
    padding-bottom: 1%;
    flex-flow: row wrap;
}
.grid {
    flex-grow: 1;
}
.grid-4 > img {
    max-width: 100%;
    width: 100%;
    /* float: top; */
}
.tips-picture {
    max-width: 100%;
    max-height: 100%;
   background-image: url(../images/gardening5.jpg); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.grid-4 {
    padding-left: 2%;
}
.grid-4:first-of-type {
    padding-left: 0;
}
.grid-wrap.tips > * {
    /* flex: 1 100%; */
}
.tips-context {
    margin: 1%;
    flex: 1;
}
.tips-picture {
}
.tips-picture-wrap {
    margin: 1%;
    /* flex: 0.5; */
}
.tip-list {
    list-style-position: inside;
    margin-top: 2%;
}
.tip-list > li {
    line-height: 24px;
}
.footer-content {
    display: flex;
   background-color: #dce9d4;
   border-top: 1px solid #777777;
}
.grid-wrap-nobr {
    flex-wrap: nowrap;
}
.footer-grid > h3 {
   margin-bottom: 10px; 
}

.vertical-hr {
    height: 253px;
    position: absolute;
    bottom: 1.9%;
    margin-left: 1%;
    border: 1px solid #777777;
} 
