body {
  background-image: url(../images/bg-body.jpg);
}


#topissue {
  background-color: rgb(42,85,19);
margin: auto;
width: 85%;
}

#bodyissue {
  background-color: white;
  margin: auto;
  width: 95%;
  /*height: 95%;*/
}

.topheader {
/*width: 80%;*/
/*background-color: white;*/
/*margin:5px;*/
text-align: center;
}
.topheader ul {
  margin-bottom: 0;
  /*height: 50px;*/
}

header li {
  background-color: rgb(58,58,58);
  padding: 10px 0 15px 0;
  color: white ;
  /*display:inline-block;*/
  line-height: 30px;
  /*margin-left:  1px;*/
  text-align: center;
  /*vertical-align: bottom;;*/
  /*width: 80%;*/
  height: 50px;
  font-size: 14px;
}
  header li:hover {
    background-color: rgb(132,166,112);
    color:  rgb(42,85,19);
  }



.topcontent {
  background-image: url(../images/gardening1.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  position: relative;
}

.topcontentin{
  background-color:  rgba(255,255,255,0.5);
/*vertical-align: bottom;*/
position: absolute;
bottom: 0;
}

.headerimg {
  margin: 15px;
  width: auto;
  height: auto;
}
