main {
  display: inline-block;
  background-image: url("../images/gardening1.jpg");
}

.section2li {
  display: inline-block;
  margin:10px 20px 10px 20px;
}

.bodycontent {
    background-color: rgb(42,85,19);
}

.section2img {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.section2block  {
  display: inline-block;
  margin: 0px 10px 0 10px;
}

.section2block p {
 color:white;
}

.section2block h4{
  color: rgb(221,228,131);
}
 h3 {
    background-color: rgb(215,238,206);
    /*display: inline-block;*/
    /*width: 95%;*/
    /*padding:auto -20% auto -20%;*/
    /*margin: auto -20%x auto -20%;*/
}





.section4img {
  margin: 25px;
}

footer {
  background-color: rgb(206,236,194);
}

.lasts {
  color:rgb(249,249,249);
  line-height: 20px;
}
