
/* general ------------------------------ */

.box {
	width: 960px;
	padding: 0;
}

.row {
	background-color: #2B5614;
}

body {
	background-image: url('image/bg-body.jpg');
}

hr {
	width: 930px;
	margin: 0 auto;
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
}

.hr1 {
	padding: 0 15px;
	background-color: #2B5614;
}

.hr2 {
	background-color: whitesmoke;
	padding: 10px 0 20px;
}



/* header ------------------------------ */

.logo {
	background-color: white;
	padding: 0;
	width: 960px;
	height: 100px;
	margin: auto 15px;
	display: flex;
}

.logo img {
	margin: auto;
}

.nav {
	width: 960px;
	margin: auto;
}

.navText {
	text-align: center;
	padding: 0;
}

.nav a {
	display: block;
	padding: 15px 0;
	color: whitesmoke;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: .03em;
	text-decoration: none;
}

.button {
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #D4E4CB; /* Green */
    color: #2B5614;
}



/* slider ------------------------------ */

.slider {
	padding: 0;
	width: 960px;
	margin: auto 15px;
	display: block;
}

.slider img {
	margin: auto;
	width: 960px;
	height: auto;
	position: relative;
}

.ps {
	background-color: rgba(26,26,26,.5);
	position: absolute;
	bottom: 0px;
	padding: 15px 20px;
}

.ps p {
	margin: 0;
}

.pTitle {
	color: #E6ED8E;
	font-family: 'Helvetica';
	font-size: 26px;
	font-weight: lighter;
	letter-spacing: .1em;
}

.pContent {
	color: whitesmoke;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: .03em;
}

.slide {
	width: 960px;
	margin: auto;
	padding: 15px 0;
}

.slides {
	display: flex;
	align-items: center;
	padding: 0 15px 15px;
}

.slides img {
	width: auto;
	height: auto;
	max-height: 100px;
	border: 2px whitesmoke solid;
}

.slides div {
	margin: 0 0 0 20px;
}

.slidesTitle {
	color: #E6ED8E;
	font-family: 'Helvetica';
	font-weight: lighter;
	letter-spacing: .1em;
	font-size: 18px;
	margin: 10px 0;
}

.slidesContent {
	color: whitesmoke;
	font-family: 'Helvetica';
	font-weight: lighter;
	letter-spacing: .03em;
	font-size: 13px;
}



/* feature & tip ------------------------------ */

.feature {
	width: 960px;
	margin: 0 15px;
	background: whitesmoke;
}

.featureTitle {
	margin: 20px auto;
	padding: 7.5px 15px;
	font-size: 19px;
	font-family: 'Helvetica';
	font-weight: bold;
	letter-spacing: .1em;
	background-color: #D4E4CB;
	border-bottom: #9CBD89 solid 3px;
	color: #96514d;
}

.featureBlock {
	display: inline-block;
	padding: 0 25px;
	background-color: whitesmoke;
}

.featureBlock img {
	width: 100%;
	margin: 5px;
}

.featureSubt {
	margin: 10px 0;
	font-size: 18px;
	font-family: 'Helvetica';
	font-weight: 400;
	letter-spacing: .05em;
	color: #96514d;
}

.featureCon {
	font-family: 'Helvetica';
	font-weight: lighter;
	letter-spacing: .03em;
	font-size: 13px;
	padding: 0 10px;
	margin: 10px 0 20px;
}

.tip {
	margin: auto;
	background: whitesmoke;
	padding: 0 15px 25px;
}

.tip img {
	width: 100%;
	height: auto;
}

.tipImg {
	width: 34%;
	margin: 10px 0 0 12px;
}

.tiptip {
	padding: 10px 30px 0 30px;
	width: 600px;
	float: right;
}

.tipTitle {
	margin: 0 0 15px 0;
	padding: 7.5px 15px;
	font-size: 19px;
	font-family: 'Helvetica';
	font-weight: bold;
	letter-spacing: .1em;
	background-color: #D4E4CB;
	border-bottom: #9CBD89 solid 3px;
	color: #96514d;
}

.tipCon {
	margin: 0 0 7.5px 0;
	font-family: 'Helvetica';
	font-weight: lighter;
	letter-spacing: .01em;
	font-size: 15px;
}



/* footer ------------------------------ */

.footer {
	width: 960px;
	margin: auto;
	background-color: #D4E4CB;
}

.footer p {
	font-family: 'Helvetica';
	font-weight: lighter;
	letter-spacing: .01em;
}

.footerBlock {
    border-top: #9CBD89 solid 2px;
    border-right: #9CBD89 solid 2px;
    height: 205px;
    background-color: #D4E4CB;
}

.footerTitle {
	margin: 20px 0 10px;
	font-size: 18px;
	font-family: 'Helvetica';
	font-weight: 400;
	letter-spacing: .05em;
	color: #1f3134;
}

.connect {
	display: inline-block;
	border-right: 0;
}

.connect .connectBlock {
	display: flex;
	margin: 7.5px 0;
}

.connect .connectBlock img {
	width: 30px;
    height: 30px;
}

.connectCon {
	margin: auto 0;
	font-size: 15px;
	padding: 0 10px;
	font-family: 'Helvetica';
	font-weight: lighter;
	letter-spacing: .01em;
}

.copy {
	margin: auto;
	padding: 10px 0;
	background-color: #2B5614;
	font-family: 'Helvetica';
	font-weight: 200;
	letter-spacing: .1em;
	color: whitesmoke;
}


