*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(../image/bg-body.jpg)
}

.container{
	background-color: #257415;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

.header_logo{
	background-color: white;
	padding: 15px;
}

.logo{
	margin: 0 auto;
}

.logo img{
	width: 100%;
	height: auto;
}

.navbar{
	padding: 0;
}

.navbar div{
	height: 50px;
	line-height: 47px;
	float: left;
	text-align: center;
	background-color: #505050;
	color:white;
}

.navbar div:hover{
	background-color:rgba(256,256,256,0.9);
	color:#505050;
}

.navbar .first{
	background-color:rgba(256,256,256,0.6);
	color: #006400;
}

.introduction{
	position: relative;
}

.introduction img{
	width: 100%;
	height: auto;
}

.Briefing{
	background-color:rgba(0,0,0,0.6);
	padding: 10px 10px 0 20px;
	position: absolute;
	bottom: 0;
}

.Briefing h1{
	color:#CCFF99 ;
	font-size: 25px;
}

.Briefing p{
	color:white;
}

.sp h6{
	color:#CCFF99 ;
}

.sp p{
	color: white;
}

.spl,.spc,.spr{
	display: inline-block;
	padding: 10px 0px 0px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 20px;
}

.spl img,.spc img,.spr img{
	border: 1px white solid;
}

.spl span,.spc span,.spr span{
	float: left;
	margin-right: 20px;
}

.spl,.spc{
		border-right: #2d811b 2px solid; 
}

.content{
	background-color: white;
	padding:5px 0 0 0; 
}

.top_title{
	background-color: #d9eed4;
	border-bottom: #acd6a1 2px solid;
	margin: 20px;
	padding: 5px 5px 0 20px;
}

.top_title h1{
	font-size: 20px;
	color: #946000;
}

.top_title_list{
	margin: 20px 20px 20px 0;
}

.top_title_list img{
	width: 100%;
	height: auto;
}

.list1,.list2,.list3,.list4{
	padding: 0 0 0 20px;
	text-align: center;
	display: inline-block;
}

.top_title_list h3{
	font-size: 20px;
	margin-top: 20px;
	text-align:left;
	color: #844200;
}

.top_title_list p{
	text-align:left;
}

.bottom_left,.bottom_right{
	display: inline-block;
}

.bottom_right{
	padding-left: 0px;
}

.bottom_left{
	vertical-align: top;
	margin-top: 20px;
	padding-left: 20px;
}

.bottom img{
	width: 100%;
	height: auto;
}

.bottom_title{
	background-color: #d9eed4;
	border-bottom: #acd6a1 2px solid;
	margin: 20px;
	padding: 5px 5px 0 20px;
}

.bottom_title h1{
	font-size: 20px;
	color: #946000;
}

.narrative{
	margin: 0 20px 40px 20px;
	padding: 0 0 0 20px
}

.narrative ol li{
	font-size: 19px;
}

.footer_list{
	display: inline-block;
	background-color: #d9edd4;
	padding: 20px 0 0 20px;
	border: #006400 1px solid;
	height: 180px;
	vertical-align: top;
	color: #707070;
	font-size: 18px;
}

.footer_list h1{
	font-size: 20px;
	margin-bottom: 20px;
}

.footer_list p{
	font-size: 18px;
}

.email{
	background-image: url(../image/icon_email);
}

.footer i{
	display: block;
	font-size: 20px;
	line-height: 30px;
	color:#006400;
}

.icon h1{
	margin-bottom: 15px;
}
.icon span{
	color: #707070;
}

.property{
	background-color: #257415;
	color:white;
}

.property{
	text-align: center;
	padding:10px;
}