.containerBottom{
  width: 100%;
  background-color: white;
}
.containerBottom>div{
  padding: 20px;
}
.containerBottom>div>h2{
  background-color: #DCE9D4;
  border-bottom: 2px solid #B3CCA4;
  color: #836145;
  margin: 0;
}
.containerBottom>div>ul{
  padding: 20px 0;
}
.containerBottom>div>ul>li{
  width:24%;
}
.containerBottom>div>ul>li>p{
  color: black !important;
}
.containerBottom>div>div{
  border-top: 1px solid #D7D6CD;
  padding: 20px 0;
}
.containerBottom>div>div>div>h2{
  background-color: #DCE9D4;
  border-bottom: 1px solid #B3CCA4;
  color: #836145;
  margin: 0;
  font-variant:small-caps;
}
.containerBottom>div>div>div>ol{
  padding: 20px;
}
.containerBottom>div>div>div>ol>li{
  padding: 5px;
}
