body{
  background-image: url("img/bg-body.jpg");
  background-position: center;
  background-repeat: repeat;
  margin: 0;
}
#page{
  background-color: #356618;
  width: 1000px;
  margin: 0 auto;
}
#mainContent{
  width:90%;
  margin: 0 auto;
}
#page>p{
  text-align: center;
  padding: 15px 0;
}
a{
  color:#836145 !important;
}
p{
  color: white !important;
}
