.subFooter{
  background-color: #DCE9D4;
  border-top: 1px solid #B3CCA4;
}
.subFooter>div{
  width: 100%;
  margin: 0px auto;
  display: flex;
}
.subFooter>div>div{
  width:24%;
  border-right: 1px solid #B3CCA4;
  padding: 20 5px;
  margin: 0 auto;
}
.subFooter>div>span{
  width:24%;
  padding: 20 5px;
  margin: 0 auto;
}
.subFooter>div>div>a{
  display: block;
}
.subFooter h3{
  margin: 0;
  color: #8C8C8C;
}
.subFooter>div>span>ul{
  list-style-type: none;
  padding: 0;
}
