.subHeader{
  width:100%;
  margin: 0 auto;
  background-color: white;
}
.subHeader>div{
  width:50%;
  margin: 0 auto;

}
.subHeader>div>a{
  display: block;
  color: #F0F2C9;
}
.subHeader>nav{
  margin: 0;
}
.subHeader>nav>div{
  padding: 0;
}
.subHeader>nav>div>ul{
  width: 100%;
}
.subHeader>nav>div>ul>li{
  background-color: #4B4B4B ;
  text-align: center;
  padding: 0;
}
