body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	background-image: url("img/bg-body.jpg");
	background-repeat: repeat;
}

.clear {
	clear: both;
}

#main {
	background-color: #326611;
	width: 892px;
	margin: 0 auto;
}

.content {
	box-sizing: border-box;
	width: 852px;	
	margin: 0 20px 0 20px;
	background-color: #fff;
	padding-top: 20px;
}

.banner {
	width: 852px;	
	margin: 0 20px 0 20px;
	background-color: #fff;
	padding-top: 3px;
	height: 97px;
	text-align: center;
}

.menu {
	width: 852px;
	background-color: #4A4A4A;
}

.menu ul {
	margin: 0px;
	padding: 0px;
}

.menu ul li {
	list-style: none;
	float: left;
	width: 142px;	
	text-align: center;
	padding-top: 13px;
	height: 37px;	
}

ul > .active > a {
	color: #3C6D1F !important;	
	font-weight: normal;
}

ul > .active {
	background-color: #97B486;
}

.menu ul li a {
	color: #ECEEC6;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 15px;
}

#cover {
	width: 852px;
	height: 406px;
	margin: 0 auto;
	background-image: url("img/gardening1.jpg");
	position: relative;
}

#description > h1 {
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
	font-size: 22px;
	color: #E6E99B;
}


div #description {
	position: absolute;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px 20px 15px 20px;
	line-height: 30px;
	font-size: 14px;
}

.two {
	width: 50%;
}

.three {
	width: 33%;
}

.four {
	width: 25%;
}

.row {
	box-sizing: border-box;	
}

.row > .column {
	box-sizing: border-box;
	float: left;		
}

.a {
	width: 852px;
	margin: 0 auto;
	height: 110px;
	font-size: 14px;
	color: #fff;

}

.a h1 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 16px;
	color: #E6E99B;
}

.a > .column {
	padding: 15px;
}

.b img {
	border: 2px #fff solid;
}

.border-left {
	border-left: 2px #3D751A solid;
}

.content h1 {
	display: block;
	box-sizing: border-box;
	padding: 9px 20px 9px 20px;
	margin: 0 20px 20px 20px;
	border-bottom: 2px #ADC89B solid;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: 2px 2px #fff;
	background-color: #DDE9D5;
	color: #6A0300;
}

.content h2 {
	font-size: 15px;
	text-transform: uppercase;
	color: #6A0300;
}

.content hr {
	width: 812px;
	margin: 0 auto;
	color: #EBEAE6;
	background-color: #EBEAE6;	
	height: 3px;

}

.c {
	margin-left: 20px;
}

.c > .column {
	font-size: 14px;
}

.c img {
	width: 187px;
}

.margin-right {
	margin-right: 15px;
}

.d {
	margin: 20px 20px 0 20px;
	padding-bottom: 20px;
}

.d img {
	width: 282px;
}

.textarea {
	float: left;
	margin-left: 20px;
	width: 512px;
}

.textarea ol {
	line-height: 28px;
	font-size: 14px;
}

#footer {
	width: 852px;
	background-color: #DDEAD5;
	margin: 0 auto;
	border-top: 2px #CADCC0 solid;
	color: #888;
	font-size: 14px;
}

#footer h1 {
	margin: 0px;
	font-size: 16px;
	font-weight: normal;
	text-shadow: 1px 1px #fff;
	text-transform: uppercase;
}

#footer .column {
	padding: 20px;
	border-right: 2px #CADCC0 solid;
}

.icon-envelope, .icon-facebook2, .icon-twitter, .icon-google-plus2 {
	color: #326611;
	font-size: 20px;
}

#claim {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 14px;	
	line-height: 40px;
}