body {
	background-image: url(../image/bg-body.jpg);
}
.row {
	margin: 0 auto;
}
.container {
	background: #356618;
	padding: 0px 20px;
}
.logo {
	background: #fff;
	text-align: center;
	padding: 15px;
}

.menu {
	text-align: center;
}
.menu .col {
	padding:15px;
	background: #4b4b4b;
	color: #ebedc5;
	font-weight: 500;
	font-size: 1.4em;
	cursor: pointer;
	transition: all 0.3s;
}
.menu .col:hover {
	background: #d9eacf;
	color: #495a40
}
.menu .col:active {
	background: #96b285;
	color: #4a7531
}
.banner {
	position: relative;
}
.banner img {
	width: 100%
}
.ad-text {
	padding:10px 15px; 
	position: absolute;
	background: rgba(0,0,0,0.5);
	bottom: 0;
}
.ad-text h3 {
	color: #eef19f;
	font-size: 1.5em
}
.ad-text p {
	margin-bottom: 0px;
	color: #fff;
	font-size: 0.8em
}
.box {
	padding: 15px;
}
.box img {
	border: 1px solid #fff;
	width: 90px;
	height: 90px
}
.box > div {
	border-right: 1px solid #3a6f1b;
	box-shadow: 1px 0px 0px #285012
}
.boxinfor {
	color: #fff;
	font-size: 0.8em;
	margin-left: 15px
}
.boxinfor h3 {
	color: #eef19f;
	font-size: 1.2em
}
.article {
	background: #fff;
	padding: 15px;
}
.title {
	background: #dce8d4;
	border-bottom: 2px solid #abc79a;
	margin: 0px 15px
}
.title h3 {
	font-size: 1.2em;
	color: #9a5731;
	padding: 10px 35px;
	margin-bottom: 0px
}
.featured {
	border-bottom: 2px solid #eae9e5
}
.featured > div{
	padding: 25px 15px
}
.featured img, .recommend img {
	width: 100%
}
.featured h3 {
	font-size: 1.3em;
	color: #7b532a;
	margin: 25px 0px 12px
}
.recommend {
	padding: 35px 0px 0px 0px
}
.recommend ol {
	padding: 30px
}
.recommend li {
	margin: 10px 0px
}
.footer {
	background: #dce9d4;
}
.footer>div {
	border: 1px solid #cadcc0;
	min-height: 200px
}
.footer h3 {
	color: #939194;
	color: #939194;
	margin: 10px;
	font-size: 1.3em;
	font-weight: 400
}
.footer p {
	color: #939194;
	margin: 0px 10px;

}
.footer i {
	font-size: 1.6em;
	color: #356618;
	margin: 5px 5px 0px 0px 
}
.copyright {
	color: #fff;
	padding: 8px;
	text-align: center;
}
@media (max-width:768px) {
	.ad-text {
		position: inherit;
		background:#4b4b4b
	}
	.box > div {
		margin:8px 0px 
	}
}