/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--     Header       -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


.logo {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}


.menuStyle {
  text-align: center;
  padding: 0;
  margin: 0;
}


.menuItemStyle {
  display: inline;
  background-color: rgb(75, 75, 75);
  padding: 0;
}


.menuItemStyle  a{
  display: block;
  color:  #f0f2c9;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 10px 0;
}


.menuStyle a:hover {
  background-color: rgb(213, 237, 207);
  color: #1b330c;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--     Content      -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


body {
  background-image: url('img/bg-body.jpg');
  background-repeat:repeat;
}


.greenBackground {
  background-color: #1a6c16;
  margin: 0 auto;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  upperContent    -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


.banner  {
  position: relative;
  background-image: url(img/gardening1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 431px;
  width: 100%;
}


.bannerDescription {
  position: absolute;
  background-color: rgba(10%, 10%, 10%, 0.7);
  bottom: 0;
  padding: 20px;
}


.bannerDescription h3 {
    color: #e3e699;
}

.bannerDescription p {
    color: #ffffff;
    margin-bottom: 0;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  middleContent   -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


.middleItem {
  padding: 20px 15px;
}


.middleItem img {
    border: solid 1px #ffffff;
    margin-right: 20px;
    width: 88px;
    height: 89px;
}


.middleContent h5{
  color: #e3e699;
}


.middleContent p {
  color: #ffffff;
  margin: 0;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--  lowerContent    -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


.lowerContent {
  background-color: #fff;
  padding: 20px;
}


.featureTitle, .gardensTitle {
  background: #dce9d4;
  padding: 10px 20px;
  border-bottom: solid 2px #b3cca4;
  margin-bottom: 20px;
}


.featureItem img {
  width: 100%;
  height: auto;
}


.featureItem h4 {
  margin: 20px 0 10px 0;
  color: #836145;
  font-size: 16px;
  font-weight: 500;
}



.featureItem p{
  margin-bottom: 25px;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--tipsOfTheWeek-->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


.tipsOfTheWeek {
  border-top: 2px solid #dce9d4;
  margin-top: 20px;
  padding-top: 20px;
}


.tipsImg {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}


.tipsdescription ol {
  padding-left: 20px;
}


.tipsdescription li {
  margin-bottom: 20px;
}


/*<!--~~~~~~~~~~~~~~~~~~-->*/
/*<!--      Footer      -->*/
/*<!--~~~~~~~~~~~~~~~~~~-->*/


.noMargin {
  margin: 0;
}


footer .aboutItem {
  background-color: #dce9d4;
  padding: 20px;
  border-top: solid 2px #b8d0aa;
  border-right: solid 2px #b8d0aa;
}


.aboutItem h4 {
  color: #8c8c8c;
  margin-bottom: 20px;
}


.aboutItem p {
  color: #8c8c8c;
  margin: 0;
}


.icons ul {
  padding-left: 0;
  list-style: none;
}


.icons a{
	background: url(img/icons.png) no-repeat;
	padding-left: 30px;
	color: #8c8c8c;
	display: inline-block;
  text-decoration: none;
}

a.email{
	height: 14px;
	background-position: 0 0px;
}

a.fb{
	height: 20px;
	background-position: 0 -38px;
}

a.twitter{
	height: 18px;
	background-position: 0 -88px;
}

a.google{
	height: 20px;
	background-position: 0 -134px;
}


.allRightReserved {
  text-align: center;
  padding: 10px;
  color: #fff;
}
