/* body - main container (background) */
#mainContainer {
  background-color: #D0F5A9;
  width: 85em;
  height: 107em;
  margin: 0 auto;
}

/* body - sub container (green wallpaper) */
#subContainer {
  background-color: #243B0B;
  width: 64em;
  height: 107em;
  margin: 0 auto;
}

/* body - top pannal */
#topBanner {
  background-color: #FFFFFF;
  width: 61.5em;
  height: 7em;
  margin: 0 auto;
}

/* body - navgation bar */
#navgationBar {
  background-color: #424242;
  width: 61.5em;
  height: 3.5em;
  margin: 0 auto;
}

/* body - main image */
#mainBlock {
  background-color: #4000FF;
  width: 61.5em;
  height: 29em;
  margin: 0 auto;
}

/* body - center block */
#centerBlock {
  /*background-color: #D358F7;*/
  width: 61.5em;
  height: 8em;
  margin: 0 auto;
}

/* body - bottom Container */
#bottomContainer {
  background-color: #FFFFFF;
  width: 61.5em;
  height: 45em;
  margin: 0 auto;
}

/* body - footer */
#footer {
  background-color: #ECF6CE;
  width: 61.5em;
  height: 11em;
  margin: 0 auto;
}

/* body - copyright statement */
#copyrightStatement {
  /*background-color: #BDBDBD;*/
  width: 61.5em;
  height: 3em;
  margin: 0 auto;
}
