body{
      background-image: url("../img/bg-body.jpg");
  }

.container-bg{
      background-color: #356618;
      padding: 0 30px;
      box-sizing: border-box;
}

/* header */

.header_logoContainer{
      background-color: white;
      text-align: center;
      padding: 5px 0 15px 0;
}

.header_logoContainer img{
      width: 80%;
}

header .nav a{
      line-height: 45px;
      text-align: center;
      background-color: #4B4B4B;
      color: #DEE0BB;
      font-size: 18px;
      padding: 0;
}

header .nav .header_activeitem{
      background-color: #96B285;
      color: #406D26;
}


header a:hover{
      background-color: #D9EACF;
      color: #486042;
      font-weight: bolder;
}

/* 做漢堡 */

#toggle{
      display: none;
}
.header_nav label{
        display:block;
        cursor: pointer;
        background-color: #4B4B4B;
        font-size: 30px;
        margin-bottom: 0;
        text-align: center;
        color: #DEE0BB;
}
.header_nav ul{
        display:none;
}
#toggle:checked + ul{
        display:flex;
}

@media (min-width: 576px) {
  header .nav a{
        line-height: 75px;
  }
  /* 做漢堡 */
  header .header_nav label{
        display: none;
  }
  .header_nav ul{
        display: flex;
  }
}

@media (min-width: 768px) {
  .header_logoContainer{
        padding: 10px 0 30px 0;
  }
  .header_logoContainer img{
        width: 80%;
        width: 45%;
  }
}

/* zoominNews */
.zoomin_imgText{
      background-image: url("../img/gardening1.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
}


.zoomin_imgText_text{
      background: rgba(0, 0, 0, 0.6);
      padding: 20px 24px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
}


.zoominNews a{
     text-decoration: none;
}


.zoomin_imgText_text h2{
      color: #E5E89B;
      margin-bottom: 0;
      font-size: 28px;
}

.zoomin_imgText_text p{
      color: white;
      margin-bottom: 0;
      font-size: 18px;
      line-height: 38px;
      font-weight: bold;
}

.zoomin_text-iconstyle{
      font-size: 25px;
      color: #778D90;
      background: white;
      border-radius: 50%;
}

.zoomin_media_container{
      padding: 0 15px;
}

.zoomin_media{
      border-right: 0;
      margin: 0;
      padding: 24px 0;
      border-bottom: 3px ridge;
      border-color: rgba(255, 255, 255, 0.1);
}

.zoomin_media_img{
      display: inline-block;
      margin-right: 4%;
      margin-left: 4%;
      width: 31%;
      border: 1px white solid;
}

.zoomin_media_img img{
      width: 100%;
      padding-right: 0;
}

.zoomin_media_text{
      display: inline-block;
      width: 56%;
      vertical-align: middle;
      font-size: 16px;
}

.zoomin_media_text a{
      display: block;
}

.zoomin_media-last{
      border-bottom: 0;
}


.zoomin_media_text h4{
      color: #E5E89B;
      margin-bottom: 0;
      font-size: 18px;
}

.zoomin_media_text p{
       color: white;
       margin-bottom: 0;
}

@media (min-width: 576px) {
  .zoomin_imgText_text{
        margin-top: 220px;
  }
  .zoomin_media_text h4{
        font-size: 21px;
  }
}
@media (min-width: 768px) {
  .zoomin_imgText_text{
        margin-top: 0;
  }
  .zoomin_imgText_text{
        display: block;
        overflow: visible;
  }
  .zoomin_imgText_text{
        margin-top: 300px;
  }
}
@media (min-width: 992px) {
  .zoomin_media{
      margin: 13px 0;
      padding: 13px 0;
      border-right: 3px ridge;
      border-bottom: 0;
      border-color: rgba(255, 255, 255, 0.1);
  }
  .zoomin_media-last{
      border-right: 0;
  }
  .zoomin_imgText_text{
        margin-top: 468px;
  }
}


/* featuredGardens */

.featuredGardens{
      padding: 30px 30px 0 30px;
}

.title{
      background-color: #DCE8D4;
      padding-left: 2.3%;
      color: #835034;
      margin-bottom: 18px;
      border-bottom: 2px solid #B5CEA6;
      font-size: 17px;
      line-height: 45px;
      text-align: center;
}

.featuredGardens .featuredGardens_card{
      border: 0;
}

.featuredGardens_cardImg{
      border-radius: 0;
      padding-right: 0;
}

.featuredGardens_cardText{
      padding: 25px 0;
}

.featuredGardens_cardText h5{
      color: #866442;
      font-weight: bold;
      margin-bottom: 20px;
}

.featuredGardens_cardText p{
      font-size: 18px;
      line-height: 34px;
      margin-bottom: 0;
}



.eaturedGardens-bottomBorder{
      width: 100%;
      content: "";
      height: 2px;
      background-color: #EBEAE6;
}

@media (min-width: 576px) {
  .title{
        text-align: left;
        font-size: 20px;
        line-height: 58px;
  }
}

/* tips */

.tips{
      padding: 30px 30px 50px;
      background-color: white;
      align-items: center;
}

.tips img{
     width: 100%;
}

.tip_text{
     padding: 0;
}

.tip_text ol{
     padding-left: 20px;
}

.tip_text ol{
     margin-bottom: 0;
}

.tip_text li{
    font-size: 18px;
    line-height: 30px;
}
.tip_img-position{
     order: 1;
}

.tip_text-position{
     margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .tip_text {
      padding-left: 37px;
  }
  .tip_img-position{
       order: 0;
  }
  .tip_text-position{
       margin-bottom: 0;
  }
}

/* footer */

.footer_fourPart{
      background-color: #DDE9D5;
      padding: 25px 25px 10px;
      border: 1px solid #C9DBBE;
      height: 100%
}

.footer_fourPart h2{
      font-size: 13px;
      color: #848284;
      margin-bottom: 20px;
}

.footer_fourPart p{
      color: #A0A39E;
      margin-bottom: 0;
      font-size: 14px;
}

.footer_connect_icon a{
      display: block;
      color: #A0A39E;
      margin-bottom: 10px;
      font-size: 14px;
}
.footer_connect_icon i{
      margin-right: 15px;
      color: #30681B;
      font-size: 14px;
}

.footer_copyright{
      text-align: center;
      margin: 16px 0;
      color: white;
      font-weight: bold;
      font-size: 14px;
}

.footer_copyright br{
      display: inline;
}

@media (min-width: 576px) {
  .footer_copyright{
        font-size: 16px;
  }
  .footer_copyright br{
        display: none;
  }
}

@media (min-width: 768px) {
  .footer_connect_icon a{
        margin-bottom: 10px;
        font-size: 16px;
  }
  .footer_connect_icon i{
        font-size: 18px;
  }
}

@media (min-width: 992px) {
  .footer_fourPart h2{
        font-size: 21px;
  }
  .footer_fourPart p{
        font-size: 16px;
  }
}
