body {
	background-image: url("images/bg-body.jpg");
}
.greenbg {
	background-color: #1a7210;
}
.rowflex {
	display: flex;
	flex-wrap: wrap;
}
.center {
	margin: 0 auto;
}
.logo1{
  text-align: center;
  background-color: #ffffff;
}
.logo1 > img {
  max-width: 80%;
  height: auto;
}