


.main-img-text{
	padding-top : 10px;

	p{
		letter-spacing: 0.028em;
		line-height: 22px;
	}
}

.main-title{
	line-height: 50px;
	padding-left : 25px;
	border-bottom: 2px solid #b3cca4;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-shadow: 1px 1px 1px #ffffff;
	color: $main-title-color;
}

#main{
 	background-color: $main-bg-color;
	height: auto;
}

#main-box{
	width : $main-box-width;
	padding-top : 25px;
}

#main-content{	
	margin-top : 20px;
	height : auto;;

	h4{
		color : $main-title-color;
	}
}


#main-img-1{
	@include setMainImg("topcont1.png");
}

#main-img-2{
	@include setMainImg("topcont2.png");
}

#main-img-3{
	@include setMainImg("topcont3.png");
}

#main-img-4{
	@include setMainImg("topcont4.png");
}


.hr{
	border-top: 2px solid #eee;
	padding-top : 10px;
}

#main-sub{
	height : auto;
	padding-bottom : 30px;
}

#main-sub-img{
	background: url(#{$img-path}/submain.png);
	background-repeat: no-repeat;
	height : 300px;
	width : 450px;
}

#main-sub-text{
	padding-left : 35px;
	
	ol{
		padding-top: 15px;
	}
	li{
		font-weight: bold;
		line-height: 24px;
	}
	p{
		letter-spacing: 0.028em;
		font-weight: normal;
	}
}
