*{
  /* box-shadow: 0 0 1px red; */
}
main{
  background-color: #326611;
}
/*  header  */

/*  section  */
.layer_01{
  /*thit is first layer in whole section*/
}
.bg-layer_01{
  background-image: url(../image/layer_01.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
  height:30rem;
}
.layer_01 .tips{
  background-color: rgba(45,45,45,0.5);
  width:100%;
  height:100%;
}

.layer_02{
  /*thit is first layer in whole section*/
}

.layer_03{
  /*thit is third layer in whole section*/
}

.layer_04{
  /*thit is third layer in whole section*/
}

/*  footer  */
