/* css rest */
p{
    margin: 0;
}

body{
    background-image: url("./img/bg-body.jpg")
}
/* 1.container 2.container  的size (unities-size) */
/* nav-fill (nav-bar) */
.container_feature{
background-color: #366819;
}
header{
    background-color: white;
}
header img{
    display: inline-block;
}
header h1,.text_center{
    text-align: center;
}
.nav_feature{
    background-color: #4B4B4B;
    border-bottom: 1px solid white;
}
.nav-item .nav_link_feature{
    color:#E9EB9D !important;
}
.navbar-collapse a:hover{
    background-color: #98B28B;
}
.navbar-collapse ul li{
    flex: 1 0 0;
}
.carousel_feature{
    position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 20px;
  color: #fff;
  background-color:rgba(0, 0, 0, 0.5);
}
.text_green{
    color:#E9EB9D;
}
.banner_list_feature h5{
    color:#e4e899;
    font-size: 1.2rem;
}
.banner_list_feature{
    color: white;
}
.article_container_feature{
    background-color: white;
}
.article_container_feature h2{
    font-size: 1.5rem;
    background-color: #DCE8D4;
    border-bottom: 2px solid #ABC79A ;
}
h2{
    color:#784413;
}
hr{
    border-top: 1px solid rgba(0,0,0,.1);
}
.text{
    padding: 10px 25px;
    list
}
.counter_reset {
    counter-reset: num;
    position: relative;
    list-style: none;
}

.counter_reset li:before {
    counter-increment: num;
    content: counter(num) '.';
    position: absolute;
    left: 0;
    display: inline-block;
    text-align: right;
    width: 1.5em;
    font-weight: 600;
}

footer .footer_feature{
    border: 1px solid #ABC79A;
    background-color: #DDE9D5;
}
footer h4{
    color: #6c757d;
    font-size: 1.5rem;
}

footer p,footer a{
    color: #6c757d;
    margin-bottom: 5px; 
}
.footer_feature a{
    color: #8F8F8E;
}
.footer_feature a i{
    color: #366819;
}
footer .copyright{
    color: #fff;
    text-align: center;
}
footer .media_list a:hover{
    text-decoration: none;
}
.media_list i{
    vertical-align: center;
}
  @media (min-width: 992px) {
    /* .banner_list_mb{
        margin
    } */
    .banner_list_container_feature{
        border-right: 2px solid #2B5B0F;
    }
    .footer_feature{
        text-align: left;
    }
    .banner_list_feature h5{
        font-size: 1rem;
    }
    .banner_list_feature{
        font-size: 0.5rem;
    } 
    .article_container_list_feature img{
        padding-right: 16px;
    }
  }
  @media (min-width: 576px) and (max-width: 991.98px) {
    .media-body .word{
    word-spacing: 5px;
    }
    .banner_list_container_feature{
        margin-bottom: 1rem;
        border: 0;
    }
    .banner_list_container_feature{
        margin-bottom: 1rem;
    }
  }
  @media (max-width: 575.98px) {
    .banner_list_container_feature{
        margin-bottom: 1rem;
    }
  }


/* // Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... } */
/* 小於576的設定 */