body {
    background-image: url(../img/bg-body.jpg);
}

.bg_mainColor {
    background-color: #366819;
}

.px_15px {
    padding: 0 15px;
}

.bg_darkgreen {
    background-color: #4B4B4B;
}

.navbar_nav_color {
    color: #E9EB9D;
    line-height: 2.5;
}

.navbar-nav a:hover,
.nav-item:hover {
    background-color: #D9EACF;
    color: #4D6140;
}

nav a:focus,
.nav-item:focus {
    background-color: #96B285;
    color: #2A6100;
}

.bg_transparent_dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.main_text {
    position: absolute;
    bottom: 0;
}

.text_yellow {
    color: #E9EB9D;
}

.border_right_green {
    border: 0;
    border-bottom: 2px inset #2B5B0F !important;
}

.bg_title {
    background-color: #DCE8D4;
}

.text_red {
    font-size: 1.25rem;
    color: #784413;
}

.border_bottom_lightgreen {
    border-bottom: 3px #ABC79A solid;
}

.border_lightgreen {
    border: 1px #ABC79A solid;
    border-left: 0;
    border-bottom: 0;
}

.carouse_cursor {
    cursor: pointer;
}

.media p {
    line-height: 1.2;
}

.counter_reset {
    counter-reset: num;
    position: relative;
    list-style: none;
}

.counter_reset li:before {
    counter-increment: num;
    content: counter(num) '.';
    position: absolute;
    left: 0;
    display: inline-block;
    text-align: right;
    width: 1.5em;
    font-weight: 600;
}

.footer_bg_lightgreen {
    background-color: #DDE9D5;
}

footer ul {
    padding-inline-start: 0;
}

i {
    color: #366819;
}

.text_grey {
    color: #8F8F8E;
}

footer p {
    margin-bottom: 0.25rem;
}

footer p:last-child {
    margin-bottom: 0;
}

.hr_gray {
    background-color: #EBEAE6;
    width: 100%;
}

.main_text_wrap {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.copyright p {
    margin: 0;
}

@media (min-width: 768px) {
    .main_text {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding-left: 0.75rem;
        padding-top: 0.75rem;
    }
    .main_text_wrap {
        white-space: normal !important;
        width: 100%;
    }
    .copyright span {
        display: inline;
    }
}

@media (min-width: 992px) {
    .border_right_green {
        border-bottom: 0 !important;
        border-right: 2px inset #2B5B0F !important;
    }
}