* {
  /* outline: 1px solid blue; */
}

:root {
  --bg-light-green: #deead6;
  --bg-dark-green: #326611;
  --borer-light-green: #97b386;
  --title-light-green: #b7c77a;
  --title-yellowgreen: #dada94;
  --nav-text-light: #e0f38a;
  --nav-active-green: #97b386;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

body {
  min-width: 375px;
  background-image: url("/img/bg-body.jpg");
}

.underlayer_modify {
  padding: 0 1.5rem;
  background: var(--bg-dark-green);
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  /* 為了去覆蓋bootstrap投影片元件的左右控制鍵 */

  background: white;
}

header > div {
  display: flex;
}

.logo {
  padding: 10px 0;
  flex-grow: 1;
  max-width: 85%;
  text-align: center;
}

@media (min-width: 576px) {
  .logo {
    max-width: 100%;
  }
}

.logo a {
  display: inline-block;
}

.logo img {
  height: 100%;
  max-width: 90%;
}

header .navbar-toggler {
  padding: 10px;
  border: none;
  font-size: 18px;
}

/* 移除BS預設的focus效果 */
header .navbar-toggler:focus {
  box-shadow: none;
}

/* nav 導覽列 */
nav {
  border-bottom: 1px solid var(--bg-light-green);
}

.navbar_modify {
  padding: 0;
  flex-grow: 1;
  flex-basis: 100%;
}

.navbar_nav_modify {
  flex-basis: 100%;
  text-align: center;
}

.navbar_modify .navbar-nav .nav-link {
  padding: 15px;
  background: gray;
  color: var(--nav-text-light);
  flex: 1 1 0;
}

.navbar_modify .navbar-nav .nav-link:hover {
  background-color: var(--bg-light-green);
  color: black;
}

.navbar_modify .navbar-nav .nav-link.active {
  background: var(--nav-active-green);
  color: green;
}

.slide .carousel-item {
  height: 300px;
}

@media (min-width: 576px) {
  .slide .carousel-item {
    height: auto;
  }
}

.slide .carousel-item img {
  min-height: 100%;
  object-fit: cover;
}

.slide_info {
  padding: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  background-color: rgba(128, 128, 128, 0.6);
}

.slide_info:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.slide_heading {
  font-size: 24px;
  color: var(--title-yellowgreen);
}

.slide_info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

@media (min-width: 768px) {
  .slide_info p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    color: white;
  }
}

.slide_info i {
  margin-left: 10px;
  background-color: white;
  color: #728a8c;
}

.slide_control {
  font-size: 60px;
}

/* slide cards 投影片連結卡片*/
.slide_card_wrap {
  padding: 1rem;
}

@media (min-width: 768px) {
  .slide_card_wrap {
    position: relative;
    padding: 1.5rem;
  }

  .slide_card_wrap + .slide_card_wrap::before {
    content: "";
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    height: 85%;
    background-color: #396f26;
    box-shadow: inset 1px 0 0 green;
  }
}

.slide_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 1.5rem; */
  color: white;
  cursor: pointer;
}

.slide_card_picture {
  margin: 0 1.5rem 0 0;
  flex: 1 0 auto;
  box-sizing: border-box;
  border: 1px solid white;
}

@media (min-width: 768px) {
  .slide_card {
    flex-direction: column;
  }
  .slide_card_picture {
    margin: 0 0 1.5rem 0;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .slide_card {
    flex-direction: row;
  }

  .slide_card_picture {
    margin: 0 1.5rem 0 0;
    width: auto;
  }
}

.slide_card_heading {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: var(--title-yellowgreen);
}

/* 白色區塊 article area */
.main_content {
  background-color: white;
}

/* featured garden */
.garden_gallery {
  padding: 1.5rem;
  position: relative;
}

.article_heading {
  margin: 0 0 1.5rem 0;
  padding: 10px 15px;
  background: #dde9d5;
  border-bottom: 2px solid #afd388;
  color: brown;
  font-size: 20px;
  font-weight: 400;
  text-shadow: white 1px 1px;
}

.gallery_item {
  position: relative;
  /* for stertch link 增加a的hover範圍*/

  padding: 0 3rem;
  margin: 0 0 10px 0;
}

@media (min-width: 576px) {
  .gallery_item {
    padding: 0 0.75rem;
  }
}

@media (min-width: 992px) {
  .gallery_item {
    position: relative;
    /* for stertch link 增加a的hover範圍*/

    margin: 0 0 0 0;
  }
}

.gallery_card_info::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.gallery_picture {
  width: 100%;
  margin: 0 0 15px 0;
}

.gallery_card_heading {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: brown;
}

.gallery_card_info {
  margin: 0 0 10px 0;
  color: black;
}

@media (min-width: 992px) {
  .gallery_card_info {
    margin: 0 0 0 0;
  }
}

.gallery_card_info {
  color: black;
}

.divider {
  margin: 0 1.5rem;
  background-color: var(--bg-light-green);
  height: 2px;
}

/* tips of week */
.week_content {
  padding: 1.5rem;
}

.week_content ol {
  list-style-type: none;
}

.week_content li {
  display: flex;
  margin: 0 0 15px 0;
  counter-increment: tip-list;
}

.week_content li::before {
  margin: 0 15px 0 0;
  content: counter(tip-list) ".";
  font-weight: 600;
}

/* footer */
.footer_column {
  padding: 10px 24px;
  background: var(--bg-light-green);
  border: 1px solid var(--borer-light-green);
  color: gray;
}

.footer_column_title {
  margin: 0 0 0 0;
  font-size: 20px;
  text-shadow: white 1px 1px;
}

/* footer column 隱藏*/
.footer_column button {
  border: none;
  background-color: transparent;
  color: gray;
}

.footer_column button[aria-expanded="true"] {
  transform: rotate(180deg);
}

@media (min-width: 576px) {
  .footer_column button {
    display: none;
  }

  .footer_column_content.collapse:not(.show) {
    display: block;
  }
}

@media (min-width: 576px) {
  .footer_column_title {
    margin: 0 0 10px 0;
  }
}

.connect ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.connect ul > a {
  flex-basis: 50%;
}

@media (min-width: 576px) {
  .connect ul {
    display: block;
  }
}

.media_link {
  display: block;
  color: gray;
}

.media_link:hover {
  color: var(--bg-dark-green);
  font-weight: 500;
}

.media_link i {
  padding: 0 10px 0 0;
  vertical-align: middle;
  color: var(--bg-dark-green);
  font-size: 20px;
}

.media_link span {
  vertical-align: middle;
}

.copyright {
  padding: 10px 0;
  text-align: center;
  color: white;
}
