* {
  /* outline: 1px solid blue; */
}

:root {
  --bg-light-green: #deead6;
  --bg-dark-green: #326611;
  --borer-light-green: #97b386;
  --title-light-green: #b7c77a;
  --home-green: #97b386;
  --nav-text-light: #e0f38a;
  --slide-text-yellowgreen: #dada94;
}

body {
  background-image: url("/img/bg-body.jpg");
}

a {
  text-decoration: none;
}

.all_wrap {
  padding: 0 1.5rem;
  background: var(--bg-dark-green);
}

header {
  padding-top: 15px;
  background: white;
  position: sticky;
  z-index: 1;
  top: 0;
}

.logo {
  margin: 0 0 1.5rem 0;
  text-align: center;
}

.logo img {
  max-width: 90%;
}

nav {
  border-bottom: 1px solid var(--bg-light-green);
}

.burger_menu {
  margin: 5px auto 5px;
}

.navbar_modify {
  padding: 0;
}

.navbar_nav_modify {
  flex-basis: 100%;
  text-align: center;
}

.navbar .navbar-nav .nav-link {
  padding: 15px;
  background: gray;
  color: var(--nav-text-light);
  flex: 1 0 0;
}

.navbar .navbar-nav .nav-link.menu_button:hover {
  background-color: var(--bg-light-green);
  color: black;
}

.navbar .navbar-nav .nav-link.home_button {
  background: var(--home-green);
  color: green;
}

/* show at breakpoint-sm */

.slide_title {
  font-size: 24px;
  color: var(--slide-text-yellowgreen);
}

.slide_info {
  padding: 10px;
  left: 0%;
  right: 0%;
  bottom: 0%;
  text-align: left;
  background-color: rgba(128, 128, 128, 0.6);
}

.slide_info p {
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* 多行刪節號 */
  /* display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
}

.slide_info i {
  color: #728a8c;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .slide_info p {
    white-space: normal;
  }
}

/* cards below slide */

.slide_card_wrap {
  position: relative;
  padding: 1.5rem;
}

.slide_card a {
  display: inline-block;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .slide_card_wrap + .slide_card_wrap::before {
    content: "";
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    height: 85%;
    background-color: #396f26;
    box-shadow: inset 1px 0 0 green;
  }
}

@media screen and (min-width: 992px) {
  .slide_card_wrap + .slide_card_wrap::before {
    content: "";
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    height: 75%;
    background-color: #396f26;
    box-shadow: inset 1px 0 0 green;
  }
}

.slide_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.slide_card_picture {
  flex: 1 0 auto;
  border: 1px solid white;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .slide_card {
    flex-direction: column;
  }
  .slide_card_picture {
    width: 100%;
  }
}

.slide_card_title {
  font-size: 18px;
  color: var(--slide-text-yellowgreen);
}

.slide_card p {
  margin: 0;
}

/* featured garden */

.content_wrap {
  padding: 1.5rem;
  background-color: white;
}

.gallery {
  padding: 0 0 1.5rem 0;
  border-bottom: 2px solid #eae2cf;
}

.sections_title {
  margin: 0 0 1.5rem 0;
  padding: 10px 15px;
  background: #dde9d5;
  border-bottom: 2px solid #afd388;
  color: brown;
  font-size: 20px;
  font-weight: 400;
  text-shadow: white 1px 1px;
}

.gallery_picture {
  display: inline-block;
  width: 100%;
  margin: 0 0 15px 0;
}

.gallery_card_title {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.gallery_card_title a {
  color: brown;
}

.gallery_card_info {
  margin: 0 0 15px 0;
  color: black;
}

@media screen and (min-width: 992px) {
  .gallery_card_info {
    margin: 0 0 0 0;
  }
}

.gallery_card_info a {
  color: black;
}

/* tips of week */

.list_wrap {
  padding: 1.5rem 0 0 0;
}

.list {
  margin: 0 0 0 -10px;
}

.list li::marker {
  font-weight: 600;
}

.list li {
  margin: 0 0 10px 0;
  padding: 0 0 0 10px;
}

/* footer */

.footer_column {
  padding: 10px 24px;
  background: var(--bg-light-green);
  border: 1px solid var(--borer-light-green);
  color: gray;
}

.footer_column_title {
  margin: 0 0 10px 0;
  text-shadow: white 1px 1px;
}

.footer_column_content {
  margin: 0;
}

.media_link i {
  padding: 0 10px 0 0;
  color: var(--bg-dark-green);
}

.media_link span {
  color: gray;
}

.copyright {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: white;
}
