* {
  /* outline: 1px solid blue; */
}

:root {
  --bg-light-green: #deead6;
  --bg-dark-green: #326611;
  --borer-light-green: #97b386;
  --title-light-green: #b7c77a;
  --title-yellowgreen: #dada94;
  --nav-text-light: #e0f38a;
  --nav-active-green: #97b386;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/bg-body.jpg");
}

a {
  text-decoration: none;
}

.all_wrap {
  padding: 0 1.5rem;
  background: var(--bg-dark-green);
}

header {
  display: flex;
  padding: 15px 0;
  background: white;
}

.logo {
  text-align: center;
  flex-grow: 1;
}

.logo a {
  display: inline-block;
}

.logo img {
  max-width: 90%;
}

header .navbar-toggler {
  padding: 10px;
  border: none;
}

/* 移除BS預設的focus效果 */
header .navbar-toggler:focus {
  box-shadow: none;
}

nav {
  border-bottom: 1px solid var(--bg-light-green);
}

.navbar_modify {
  padding: 0;
  background-color: gray;
}

.navbar_nav_modify {
  flex-basis: 100%;
  text-align: center;
}

.navbar .navbar-nav .nav-link {
  padding: 15px;
  background: gray;
  color: var(--nav-text-light);
  flex: 1 0 0;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: var(--bg-light-green);
  color: black;
}

.navbar .navbar-nav .nav-link.active {
  background: var(--nav-active-green);
  color: green;
}

.carousel-item img {
  min-height: 50vh;
  object-fit: cover;
}

.slide_title {
  font-size: 24px;
  color: var(--title-yellowgreen);
}

.slide_info {
  padding: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  background-color: rgba(128, 128, 128, 0.6);
}

.slide_info p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white;
}

.slide_info i {
  margin-left: 10px;
  background-color: white;
  color: #728a8c;
}

@media (min-width: 768px) {
  .slide_info p {
    white-space: normal;
  }
}

/* cards below slide */
.slide_card_wrap {
  position: relative;
  padding: 0.75rem 1.5rem;
}

@media (min-width: 768px) {
  .slide_card_wrap {
    position: relative;
    padding: 1.5rem;
  }
}

.slide_card {
  display: inline-block;
  cursor: pointer;
  color: white;
}

@media (min-width: 768px) {
  .slide_card_wrap + .slide_card_wrap::before {
    content: "";
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    height: calc(100% - 3rem);
    background-color: #396f26;
    box-shadow: inset 1px 0 0 green;
  }
}

.slide_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.slide_card_picture {
  flex: 1 0 auto;
  box-sizing: border-box;
  border: 1px solid white;
}

@media (min-width: 768px) {
  .slide_card {
    flex-direction: column;
  }
  .slide_card_picture {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .slide_card {
    flex-direction: row;
  }

  .slide_card_picture {
    width: auto;
  }
}

.slide_card_title {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: var(--title-yellowgreen);
}

/* featured garden */

.content_wrap {
  background-color: white;
}

.gallery {
  padding: 1.5rem;
  position: relative;
}

.sections_title {
  margin: 0 0 1.5rem 0;
  padding: 10px 15px;
  background: #dde9d5;
  border-bottom: 2px solid #afd388;
  color: brown;
  font-size: 20px;
  font-weight: 400;
  text-shadow: white 1px 1px;
}

.gallery_picture {
  display: inline-block;
  width: 100%;
  margin: 0 0 15px 0;
}

.gallery_card_title {
  margin: 0 0 10px 0;
  font-size: 16px;
}

@media (min-width: 576px) {
  .gallery_card_title {
    margin: 0 0 10px 0;
    font-size: 20px;
  }
}

.gallery_card_title a {
  color: brown;
}

.gallery_card_info {
  margin: 0 0 10px 0;
  color: black;
}

@media (min-width: 992px) {
  .gallery_card_info {
    margin: 0 0 0 0;
  }
}

.gallery_card_info a {
  color: black;
}

hr {
  margin: 0 auto;
  padding: 2px 0;
  width: calc(100% - 3rem);
  color: #ebe9e5;
}

/* tips of week */
.week_content {
  padding: 1.5rem;
}

.week_content ol {
  counter-reset: tip-list;
  list-style-type: none;
}

.week_content li {
  display: flex;
  margin: 0 0 15px 0;
  counter-increment: tip-list;
}

.week_content li::before {
  margin: 0 15px 0 0;
  content: counter(tip-list) ".";
  font-weight: 600;
}

/* footer */
.footer_column {
  padding: 10px 24px;
  background: var(--bg-light-green);
  border: 1px solid var(--borer-light-green);
  color: gray;
}

.footer_column_title {
  margin: 0 0 10px 0;
  font-size: 20px;
  text-shadow: white 1px 1px;
}

.media_link {
  display: block;
}

.media_link i {
  padding: 0 10px 0 0;
  color: var(--bg-dark-green);
  font-size: 20px;
}

.media_link span {
  color: gray;
}

.copyright {
  padding: 10px 0;
  text-align: center;
  color: white;
}
