body{
	padding: 0;
	margin: 0;
	background-image: url(../img/container_bg.png)
}

#green {
	margin: 0 160px;
	background-color: #29751b;
}

#fff{	
    margin: 0 20px;
    background-color: #fff
}

#header .content{
	display: flex;
    justify-content: center;
    align-items: center;
}

#header img{
	margin: 20px 0px;
}

#nav{
	margin-bottom: 2px;
	background-color: grey;

}

nav{
	margin: 0 20px;
	display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

#nav > a {
	color:yellow;
}

#imgbox{
	background: url(../img/gardening_img.jpeg) no-repeat center center;
	background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contentbox{
	width: 100%;
	color:#fff;
	background: rgba(30,30,30,0.6);
    padding: 15px;
    padding-bottom: 5px;
    margin-top: 400px;
}

#tips{
	background-color: #29751b;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px ;
}

.tip{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.tip p {
	margin: 0px;
    margin-right: 30px;
}

#tips img{
	border:2px solid #fff;
}

#tips .content{
	margin: 0px 20px;
	border-right: 2px solid rgb(32, 74, 5);
}

.yellow{
	color:yellow;
}

.fff{
	color:#fff;
}

#gardens > .content{
	display: flex;

}

#gardens{
	padding: 20px;
}

#gardens #gardentiptxt > h3{
	color:rgb(105,33,0);
	font-size: 20px;
	font-family: "Gill Sans";
	background-color: rgb(219,232,211);
	border-bottom: 2px solid rgb(172,199,15);
	padding:10px;
}

.gardens > h3{
	color:rgb(105,33,0);
	font-size: 20px;
	font-family: "Gill Sans";
	margin-top:10px;
	margin-bottom:10px; 
}

.gardens{
	margin: 10px;
	display: flex;
	flex-direction:column;
	justify-content: flex-start;
}

#border{
	border-bottom:2PX solid rgb(232,231,227);
	margin: 10px;
}

#gardentip{
	margin:20px 0px;
	display: flex;
}

#gardentiptxt{
	padding: 0 20px;
}

#gardentiptxt li {
	margin: 10px 0px;
}

#footer{
	padding: 25px;
	background-color: #dbe8d3;
	display: flex;
	justify-content: space-between;

}

.placeholder{
	padding-right: 50px;
	border-right:2px solid #acc79b;
}

.SNG{
	display: flex;
}

#footer > .connect{
	padding-right: 80px;
}

#copy {
	display: flex;
	justify-content: center;
	text-align: center;
	padding:15px;
}

#copy > p{
	margin: 0;
	color:#fff;
}




