* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: url(../image/bg-body.jpg);
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.col, .col-sm, .col-md, .col-1, .col-2, .col-3, .col-4, .col-sm-4, .col-md-4, .col-5, .col-6, .col-7, .col-md-7, .col-8, .col-9, .col-10, .col-11 {
  padding: 0;
}

figure {
  position: absolute;
  top: -10px;
  left: -7px;
  margin: 0;
  opacity: 0.2;
}

figure img {
  width: 100%;
}

.wrapper {
  max-width: 890px;
  margin: 0 auto;
  padding: 0 18px;
  background-color: #316615;
}

header h1 {
  padding: 14px 0;
  text-align: center;
  background-color: #fff;
}

header img {
  width: 380px;
}

@media (max-width: 575px) {
  header img {
    width: 250px;
  }
}

header .cust-nav {
  padding: 0;
}

header .cust-nav .cust-nav-tog {
  background-color: #DBDE94;
}

header .cust-nav .cust-navbar {
  width: 100%;
  margin: 0;
}

header .cust-nav a {
  padding: .6rem;
  text-align: center;
  color: #DBEAD1;
  background-color: #4A4A4A;
  text-decoration: none;
}

header .cust-nav a:hover {
  color: #4A4A4A;
  background-color: #DAEAD1;
}

header .cust-nav a:first-child {
  color: #5B8446;
  background-color: #97B486;
}

main .banner {
  position: relative;
  height: 412px;
  background: url(../image/gardening1.jpg) no-repeat center center;
}

main .title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 20px 8px;
  background-color: rgba(74, 74, 74, 0.6);
}

main .title h2 {
  font-size: 22px;
  letter-spacing: 0.04em;
  color: #DBDE94;
  text-transform: uppercase;
}

main .title p {
  display: inline;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.9em;
  color: #FFFFFF;
}

@media (max-width: 575px) {
  main .title p {
    display: inline-block;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

main .title i {
  border-radius: 50%;
  font-size: 20px;
  color: #7F9397;
  background-color: #fff;
}

@media (max-width: 575px) {
  main .title i {
    vertical-align: top;
  }
}

main .service .menu {
  padding: 18px;
}

main .service > div:nth-child(1):before, main .service > div:nth-child(2):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-right: solid 2px #1b7700;
}

@media (max-width: 575px) {
  main .service > div:nth-child(1):before, main .service > div:nth-child(2):before {
    border-right: none;
  }
}

main .service img {
  width: 100%;
  border: solid 2px #ffffff;
}

@media (max-width: 767px) {
  main .service .service_img {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  main .service .service_img {
    margin: 0 35px 0 0;
  }
}

main .service h3 {
  color: #DBDE94;
  font-size: 16px;
  margin-bottom: 6px;
}

@media (max-width: 575px) {
  main .service h3 {
    font-size: 19px;
  }
}

main .service p {
  color: #fff;
  font-size: 14px;
  line-height: 1.1rem;
}

@media (max-width: 575px) {
  main .service p {
    font-size: 16px;
  }
}

main .content {
  padding: 24px 19px 32px;
  background-color: #fff;
}

main .content .feature {
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 25px;
}

main .content .feature h3 {
  border-bottom: solid 2px #ADC99B;
  padding: 5px 18px 9px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #90705A;
  font-size: 17px;
  letter-spacing: 0.01em;
  background-color: #DDEAD5;
}

main .content .feature .case {
  margin-right: 20px;
}

@media (max-width: 575px) {
  main .content .feature .case {
    margin: 0;
  }
}

main .content .feature .case img {
  width: 100%;
  margin-bottom: 21px;
}

@media (max-width: 575px) {
  main .content .feature .case img {
    margin-bottom: 10px;
  }
}

main .content .feature .case h4 {
  margin-bottom: 11px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

main .content .feature .case p {
  font-size: 13px;
  line-height: 1.8em;
  letter-spacing: 0.02em;
}

@media (max-width: 575px) {
  main .content .feature .case p {
    margin-bottom: 10px;
    line-height: 1.6em;
  }
}

main .content .feature .case:last-child {
  margin: 0;
}

main .content .feature:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-bottom: solid 2px #EBEAE6;
}

main .content .tips img {
  height: 100%;
  margin-right: 33px;
}

@media (max-width: 575px) {
  main .content .tips img {
    margin: 0;
  }
}

main .content .tips div {
  counter-reset: num;
}

@media (max-width: 575px) {
  main .content .tips div {
    margin-bottom: 15px;
  }
}

main .content .tips div h3 {
  margin-bottom: 28px;
  padding: 4px 17px 9px;
  border-bottom: solid 2px #AEC99E;
  color: #90705A;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  background-color: #DDEAD5;
}

main .content .tips div ol {
  margin: 0;
  padding: 0;
}

main .content .tips div li {
  list-style-type: none;
  margin-bottom: 9px;
  padding: 0 0 0 18px;
  font-size: 12px;
  letter-spacing: 0.053em;
  line-height: 3.7ex;
}

main .content .tips div li:before {
  counter-increment: num;
  content: counter(num) ". ";
  position: absolute;
  -webkit-transform: translateX(-18px);
          transform: translateX(-18px);
}

main .content .tips div li:last-child {
  margin-bottom: 0;
}

footer.row {
  background-color: #DDEAD5;
}

footer.row .contact {
  padding: 17px 17px 13px;
  border-right: solid 1px #C9DCBE;
}

@media (max-width: 575px) {
  footer.row .contact {
    border-top: solid 1px #C9DCBE;
  }
}

footer.row h3 {
  margin-bottom: 11px;
  text-transform: uppercase;
  font-size: 18px;
  color: #828282;
}

footer.row ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer.row p, footer.row li {
  font-size: 14px;
  line-height: 17px;
  color: #A4AAA1;
}

@media (max-width: 767px) {
  footer.row p {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  footer.row p {
    margin-bottom: 5px;
  }
}

footer.row p:last-child {
  margin-bottom: 0;
}

footer.row .contact:nth-child(4) {
  border-right: none;
}

footer.row .contact:nth-child(4) p, footer.row .contact:nth-child(4) li {
  margin-bottom: 6px;
}

footer.row i {
  width: 25px;
  vertical-align: middle;
  font-size: 20px;
  color: #306515;
}

.copyright {
  padding: 7px;
  font-size: 13px;
  text-align: center;
  color: #F8FAF7;
  background-color: #306515;
}

.reserved {
  padding-left: 4px;
  border-left: solid 2px #F8FAF7;
}

@media (max-width: 575px) {
  .reserved {
    display: block;
    padding: 0;
    border: none;
  }
}
/*# sourceMappingURL=index.css.map */