body {
  background: url(/img/bg-body.jpg);
}

/* module */
/* module-title-link */

.custom_title-link {
  color: #e3e699;
}

.custom_title-link:hover {
  color: #fff;
  text-decoration: none;
}

/* container */

.custom_container {
  padding: 0;
  background-color: #356618;
}

@media (min-width: 576px) {
  .custom_container {
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .custom_container {
    max-width: 960px;
  }
}

/* header */

header .custom_bg-color {
  background-color: #4b4b4b;
}

/* header-nav */

header .custom_navbar-toggler {
  border: 1px solid #daead0;
}

header .custom_navbar-toggler-icon {
  color: rgb(218, 234, 208);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(218, 234, 208, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header nav .custom_nav-link {
  color: #e3e699;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header nav .custom_nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #daead0;
}

/* body */
/* body-carousel */

main .custom_carousel-caption {
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  top: auto;
  margin: 0;
  text-align: start;
  padding: 1rem;
}

main .custom_carousel-caption p {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  main .custom_carousel-caption p {
    -webkit-line-clamp: 5;
  }
}

main .custom_carousel-caption h3 {
  font-size: 1rem;
}

@media (min-width: 768px) {
  main .custom_carousel-caption h3 {
    font-size: 1.5rem;
  }
}

/* main-banner_list */

@media (min-width: 768px) {
  main .banner_list .custom_border-right {
    border-right: 1px solid #1b330c;
  }

  main .banner_list .custom_border-left {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
}

main .banner_list h3 {
  font-size: 1rem;
}

main .banner_list img {
  border: 1px solid #fff;
}

@media (min-width: 500px) and (max-width: 767.9px) {
  main .banner_list img {
    width: 100%;
  }
  main .banner_list a {
    width: 30%;
  }
}

main .banner_list p {
  font-size: 0.8rem;
  color: #fff;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 992px) {
  main .banner_list p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}

/* main-card_group */

main .card_group h3 {
  background-color: #daead0;
  font-size: 1rem;
  padding: 0.75rem 0 0.75rem 0.75rem;
  margin: 0px;
  color: #836145;
  text-shadow: #fff 1px 1px;
  border-bottom: 2px solid #b3cca4;
}

main .card_footer {
  padding: 0;
}

main .card_group .card_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
}

main .card_group .card_row:first-of-type {
  border-bottom: 1px solid #c5c5c598;
}

main .card_group .card_col {
  width: 48%;
}

main .card_group .card_body a {
  width: 100%;
  display: inline-block;
}

main .card_group .card_body h5 {
  font-size: 1.1rem;
  padding: 1.5rem 0 0 0;
}

main .card_group .card_body p {
  font-size: 0.8rem;
  line-height: 1.25rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) and (max-width: 992px) {
  main .card_group .card_body p {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  main .card_group .card_col {
    width: 23.5%;
  }
  main .card_group .card_body p {
    margin-bottom: 2rem;
  }
}

.card_link {
  color: #836145;
}

.card_link:hover {
  color: #744a28;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 992px) {
  .card_link {
    font-size: 0.9rem;
  }
}

/* main-card_footer */

main .card_footer .card_img {
  width: 100%;
  padding-top: 1rem;
  order: 2;
}
main .card_footer .card_text {
  width: 100%;
  order: 1;
  padding-top: 0;
}

@media (min-width: 768px) {
  main .card_footer .card_img {
    width: 35%;
    padding-top: 0;
    order: 0;
  }
  main .card_footer .card_text {
    width: 63%;
    order: 0;
  }
}

/* card_footer-counter */

main .card_counter {
  counter-reset: num;
  font-size: 0;
  padding-top: 1rem;
  margin: 0;
}

@media (min-width: 768px) {
  main .card_counter {
    padding-top: 2rem;
  }
}

main .card_counter div::before {
  vertical-align: top;
  counter-increment: num;
  content: counter(num) ".";
  display: inline-block;
  width: 3%;
  font-size: 0.8rem;
}

main .card_counter div p {
  vertical-align: top;
  font-size: 0.9rem;
  line-height: 1.25rem;
  display: inline-block;
  width: 97%;
  margin-bottom: 1rem;
}

main .card_counter div:nth-of-type(3) p {
  margin-bottom: 0;
}

/* footer */

footer .footer_row {
  display: flex;
  flex-wrap: wrap;
  background-color: #daead0;
}

footer .footer_col {
  width: 100%;
  padding: 1rem;
  border-left: 0.5px solid #89a777;
  border-top: 0.5px solid #89a777;
  color: #797878;
  text-align: center;
}

@media (min-width: 576px) {
  footer .footer_col {
    width: 50%;
    text-align: left;
  }
}

@media (min-width: 768px) {
  footer .footer_col {
    width: 25%;
  }
}

footer .footer_col h5 {
  font-size: 1.25rem;
}

@media (min-width: 768px) and (max-width: 992px) {
  footer .footer_col h5 {
    font-size: 0.9rem;
  }
}

footer .footer_col p {
  font-size: 0.8rem;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 992px) {
  footer .footer_col p {
    font-size: 0.7rem;
  }
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  padding: 0;
  display: inline-block;
}

footer ul li a + a {
  display: none;
  font-size: 1rem;
  color: #6b6b6b;
}

footer ul a:hover {
  font-size: 1rem;
  color: #4b4b4b;
  text-decoration: none;
}

@media (min-width: 576px) {
  footer ul li {
    display: block;
  }
  footer ul li a + a {
    display: inline;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  footer ul a {
    font-size: 0.7rem;
  }
}

footer span {
  font-size: 2rem;
  color: #356618;
  padding-right: 0.5rem;
}

@media (min-width: 576px) {
  footer span {
    font-size: 1rem;
  }
}
/* footer-footer */
footer .footer_copyright {
  text-align: center;
  padding: 1rem 0;
}
footer .footer_copyright span {
  display: inline-block;
  line-height: 1;
  color: #fff;
  font-size: 1rem;
  text-shadow: 1px 1px rgba(245, 245, 245, 0.342);
}

footer .footer_copyright span:nth-of-type(2) {
  display: none;
}

@media (min-width: 400px) {
  footer .footer_copyright span {
    line-height: 2rem;
  }
  footer .footer_copyright span:nth-of-type(2) {
    display: inline;
  }
}

/* * {
  outline: 1px solid red;
} */
