@import url(header.css);
@import url(main.css);
@import url(footer.css);
/* 
* {
    outline: 1px solid black;
} */

@media (min-width: 992px) {
    body .container {
        max-width: 940px;
    }
}

body {
    background-image: url("../img/bg-body.jpg");
    background-repeat: repeat;
    min-width: 350px;
}

.container {
    background-color: #356618;
}

figure {
    margin: 0;
}
p {
    margin: 0;
}

h1, h4, h5 {
    margin: 0;
}