/* * {
    outline: 1px solid black;
} */

body {
    background-image: url("../img/bg-body.jpg");
    background-repeat: repeat;
    min-width: 350px;
}

.color-background {
    background-color: #356618;
}

/* .container {
    max-width: 940px !important;
} */

.back-white {
    background-color: white;
}

.back-light-green {
    background-color: #DBE8D4;
    border-bottom: #B3CCA3 2px solid;
}

.font-yellow {
    color: #E3E699;
}

.font-light-yellow {
    color:#f4f5c7;
}


@media (min-width: 992px) {
    body .container {
        max-width: 940px;
    }
}