@import url(header.css);
@import url(main.css);
@import url(footer.css);

* {
    outline: 1px solid black;
}

@media (min-width: 992px) {
    body .container {
        max-width: 940px;
    }
}

body {
    background-image: url("../img/bg-body.jpg");
    background-repeat: repeat;
    min-width: 350px;
}

header h1 a, .brief_box a, .featured_box a{
    display: inline-block;
}

footer a {
    display: block;
}

.green_background {
    background-color: #356618;
}


