/* footer：不會改變的 */

footer {
    background-color: #DBE9D4;
    color: gray;
}

.footer__body i {
    font-size: 20px;
    color: #356618;
}

.footer__body_outlook h5 {
    text-shadow: 1px 1px white;
}

.footer__text a {
    display: block;
    color: gray;
    text-decoration: none;
}

.footer__body_outlook a:hover, .footer__body_outlook i:hover {
    color: black;
}

.footer__body_outlook .navbar-toggler:focus {
    box-shadow: none;
}

.copyright {
    color: white;
    background-color: #356618;
    text-align: center;
}
.copyright span{
    display: none;
}

/* footer: 會改變的 */

.footer__items:not(.footer__items:last-of-type){
    border-bottom: 1px #B3CCA3 solid;
}

.footer__body_outlook {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .footer__items:first-of-type, .footer__items:nth-of-type(3) {
        border-right: 1px #B3CCA3 solid;
    }
    .footer__items:nth-of-type(3) {
        border-bottom: initial;
    }
    .footer__body .collapse {
        display: block;
    }
    .footer__body_outlook {
        align-items: flex-start;
    }
    .footer__body_outlook button {
        display: none;
    }
    .footer__body_outlook h5 {
        margin-bottom: 16px;
    }
    .copyright span{
        display: inline-block;
    }
    .copyright br{
        display: none;
    }
}

@media (min-width: 992px) {
    .footer__items:not(.footer__items:nth-of-type(4)) {
        border-right: 1px #B3CCA3 solid;
    }
    .footer__items:not(.footer__items:last-of-type) {
        border-bottom: initial;
    }
}