.header {
    display: flex;
    justify-content: center;
    background-color: white;
}

.header__logo a {
    display: inline-block;
}

.header .header__button {
    box-shadow: 0 0 0 0;
}

@media (min-width: 768px) {
    .header__button {
        display: none;
    }
}

.header__navbar .navbar-nav {
    width: 100%;
    background-color:#535151;
    border-bottom: 1px solid white;
}

.header__navbar_outlook .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.header__navbar .navbar-nav .nav-item .nav-link{
    color:#f4f5c7;
}

.header__navbar_outlook .nav-item .nav-link:hover{
    background-color: #d5e4cc;
    color: black;
    border-radius: 0;
}

.header__navbar_outlook .nav-item .nav-link:active ,
.header__navbar_outlook .nav-item .nav-link:focus {
    background-color: #95B285;
    color: #39691D;
    border-radius: 0;
}
