/* Carousel:不會改變的 */

.myCarousel__items .carousel-control-prev, .myCarousel__items .carousel-control-next {
    width: 5%;
}
.carousel__text_content {
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);
}

.carousel_icon_content {
    font-size: 20px;
    color: gray;
}

.carousel_icon_outlook:hover {
    color: white;
}

/* Carousel:會改變的 */

.carousel__text_content h2 {
    color: #E3E699;
    line-height: 1;
    font-size: 20px;
}

.carousel__text_content p {
    color: white;
    font-size: 12px;
} 
.carousel__text_outlook p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (min-width: 576px) {
    .carousel__text_content h2 {
        font-size: 24px;
    }
    .carousel__text_content p {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .carousel__text_outlook {
        position:absolute;
    }

    .carousel__text_outlook p{
        text-overflow:initial;
        overflow:auto;
        white-space:normal;
    }
}

/* thumbnail：不會改變的 */

.thumbnail__text_content h3 {
    color: #E3E699;
    font-size: 16px;
}

.thumbnail__text_content p {
    color: white;
    font-size: 13px;
}

.thumbnail__image_content {
    width: 90px;
    height: 90px;
    border: 1px solid white;
    object-fit: fill;
}

.thumbnail__image_outlook {
    flex-shrink: 0;
}

a.thumbnail__image_content {
    display: inline-block;
}

a.thumbnail__image_outlook:hover{
    opacity: 0.8;
}

/* thumbnail：會改變的 */

.thumbnail {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}
 
.thumbnail__body_outlook {
    text-align: center;
}

.thumbnail__text_outlook {
    margin: 16px 0 0 0;
}

.thumbnail__text_outlook p {
    display: none;
}

@media (min-width: 768px) {
    .thumbnail {
        justify-content: space-evenly;
    }
}

@media (min-width: 992px) {
    .thumbnail__body_outlook {
        display: flex;
    }
    .thumbnail__body_outlook:not(:last-child) {
        box-shadow: 4px 0 3px -3px #4d8928;
    }
    .thumbnail__text_outlook {
        margin: 0 0 0 16px;
        text-align: left;
    }
    .thumbnail__text_outlook p {
        display: block;
    }
}

/* gallery:不會改變的  */
.gallery {
    background-color: white;
}

a.gallery__image_content {
    display: inline-block;
}

a.gallery__image_outlook {
    align-self: center;
}

.gallery__text_content h4 {
    font-size: 18px;
    color: #836045;
}

.gallery__text_content p {
    font-size: 13px;
}

.gallery__title {
    line-height: 40px;
    font-size: 20px;
    text-shadow: 1px 1px white;
    color: #836045;
    background-color: #DBE8D4;
    border-bottom: #B3CCA3 2px solid;
}

a.gallery__image:hover {
    opacity: 0.8; 
}

/* gallery:會改變的  */

.gallery__body_outlook {
    display: flex;
}

.gallery__text_outlook {
    margin-left: 16px;
}

@media (min-width: 768px) {
    .gallery__body_outlook {
        display: block;
        text-align: center;
    }  
    .gallery__text_outlook {
        margin: 0;
    }
}

@media (min-width: 992px) {
    .gallery__body_outlook {
        text-align: left;
    }
}

.hr_line {
    border: 0.5px solid gray;
}

/* tips:不會改變的 */

.tips__title {
    line-height: 40px;
    font-size: 20px;
    text-shadow: 1px 1px white;
    color: #836045;
    background-color: #DBE8D4;
    border-bottom: #B3CCA3 2px solid;
}

.tips__text_outlook ul { 
    list-style: decimal;
    list-style-position: inside;
    font-size: 14px;
}

.tips__text_outlook > ul li::marker{
    font-weight: bold;
}

/* tips:會改變的 */

.tips_outlook {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 992px) {
    .tips_outlook {
        flex-direction: row;
        gap: 20px;
    }

    .tips__image_outlook {
        flex-basis: 0;
        flex-grow: 1;
    }
    .tips__text_outlook {
        flex-basis: 0;
        flex-grow: 2;
    } 
}
