@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

.own_container {
  margin-right: auto;
  margin-left: auto;
  /*padding-left: 15px;
  padding-right: 15px;*/
  /*width:960px;*/
  border-left: 15px;
  border-right: 15px;
  border-color: #227700;
  border-left-style: solid;
  border-right-style: solid;
}

body{
  font-family: arial, 'cwTeXHei', sans-serif;
  background-image: url(../img/footer_lodyas.png);
}
