.footer_place{
  background-color: #BBBB00;
}

.footer_row{
  display: flex;
}

.footer_border1{
  border-right: 1px solid #886600;
  border-bottom: 1px solid #886600;
  border-top: 1px solid #886600;
}

.footer_border2{
  border-top: 1px solid #886600;
  border-bottom: 1px solid #886600;
}

.footer_place h1{
  padding: 10px 0;
  font-weight: bold;
  color:#AA0000;
}

.footer_border1 p{
  line-height: 30px;
}

.footer_border2 p{
  line-height: 30px;
}

.under_place{
  padding: 10px 0;
  background-color: #227700;
  color:#FFFFFF;
  text-align: center;
}
@media (max-width:767px){
  .footer_row{
    display: block;
  }
}
