



.logoimg img{
  width: 50px;
  height: 50px;
}

header{
  background-color: #FF8800;
  color: #FFFFFF;
}

.headermargin{
  margin-top:10px;
  margin-bottom: 10px;
}

.changemargin{
  margin-top: 0px;
  margin-bottom: 0px;
}

.changepadding{
  padding-left: 0px;
  padding-right: 0px;
}

.headerbutton{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.button{
  width:100%;
  height:40px;
  border:2px;
  background-color: #008844
}

.button:hover{
  background-color: #CCEEFF;
}



/*.h1{
  margin-bottom: 0 auto;
}*/

/*header small{
  margin-top: 0px;
  text-align: right;
  color: #FFFFFF;
}

header h1{
  font-size: 30pt;
  color: #FFFFFF;
  text-align: center;
}*/
