.section_image {
  height: 500px;
}
.section {
  width: 100%;
  max-height: 500px;
}
.section img {
  width: 100%;
}
.section_imgtext {
  height: 100px;
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20pt;
  color: #FFFFFF;
  right: 0;
  left: 0;
  bottom: 0;
}

.section1 {
  height: 500px;
  background-image: url(../img/section1.JPG);
  background-position: center;
  background-size: cover;
}
.section2 {
  height: 500px;
  background-image: url(../img/section2.JPG);
  background-position: center;
  background-size: cover;
}
.section3 {
  height: 500px;
  background-image: url(../img/section3.JPG);
  background-position: center;
  background-size: cover;
}

.center_place{
  padding: 10px 0;
  background-color: #227700;
}

.center_text{
  margin-top:10px;
  margin-bottom: 10px;
  /*margin-left: 10px;*/
  color:#FFFFFF;
}

.center_text h1{
  font-size: 12pt;
  color:#FFFF77;
  font-weight: bold;
  margin-bottom: 5px;
}

.center_img{
  width: 100%;
  margin-top:10px;
  margin-bottom:10px;
}

.center_border{
  border-left: 2px solid #FFFFFF;
}

.down_message{
  border-top:15px solid #FFFFFF;
  border-right: 15px solid #FFFFFF;
  border-left: 15px solid #FFFFFF;
  border-bottom: 15px solid #FFFFFF;
  padding:15px 10px;
  color:#C63300;
}

.down_img_place{
  background-color: #FFFFFF;
  padding-right: 0px;
  padding-left: 15px;
}

.down_img_row{
  background-color: #FFFFFF;
  padding-right: 15px;
}

.down_img{
  width: 100%;
}

.down_place{
  background-color: #FFFFFF;
  padding-bottom:15px;
}

.down_img_h1{
  margin-top:25px;
  font-weight: bold;
  font-size: 12pt;
  color:#FF8800;
}


.down_img_p{
  margin: 10px 0;
}

.down_img_hr{
  margin-top:10px;
  width:97%;
  border-bottom: 5px solid #C63300;
  background-color: #FFFFFF;
}

.last_message{
  padding:15px 10px;
  color:#C63300;
}

.last_place p{
  padding: 15px 0 ;
  line-height: 20px;
}


.last_h1{
  display: inline;
  font-weight: bold;
}

.last_center{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*media寫法，直接在css裡面進行螢幕大小接續做改變的判定*/

.section1_text:before {
  content: '';
}
.section2_text:before {
  content: '';
}
.section3_text:before {
  content: '';
}

@media (max-width:768px) {
  /*.section1{
  background-image: url(../img/logo.png);
  }*/
  .center_border{
  border-left: 0px;
  border-bottom: 2px solid #FFFFFF;
  }
  .section1_text:after {
    content: '神農街咖啡店';
  }
  .section2_text:after {
    content: '林百貨咖啡杯';
  }
  .section3_text:after {
    content: '麵包花';
  }
}
@media (min-width:769px) {
  .section1_text:after {
    content: '土地銀行';
  }
  .section2_text:after {
    content: '磚塊';
  }
  .section3_text:after {
    content: '傳統餅店';
  }
}
@media (min-width:992px) {
  .section1_text:after {
    content: '七股觀海樓';
  }
  .section2_text:after {
    content: '馬力歐';
  }
  .section3_text:after {
    content: '七股鹽田';
  }
}
