.subFooter{
  background-color: #DCE9D4;
  border-top: 2px solid #B3CCA4;
}
.subFooter>ul{
  width: 100%;
}
.subFooter>ul>li{
  width:24%;
  border-left: 1px solid #B3CCA4;
}
.subFooter>ul>li>h3{
  margin: 0;
  color: #8C8C8C;
}
