body {
  background: url(../img/bg.png) repeat;
}

#page {
  background-color: #356618;
  width: 80%;
  height: auto;
}

/*--------------------letter color--------------------*/

#logo-h1 {
  color: #61844D;
}

#logo-h2 {
  color: #797979;
}

#header h4 {
  color: #F1B976;
}

.nav-btn, #AD_text h2, .ADsub_content h4, #author p {
  color: #effa7f;
}

#AD_text p, .ADsub_content h5 {
  color: #ffffff;
}

.title h4, #main_content_top h4{
  color: #7b3823;
}

#footer h4 {
  color: #737373;
  padding: 10px 0 10px 0;
}

#footer h5 {
  color: #737373;
  line-height: 10px;
}

#author p {
  font-size: 16px;
  text-align: center;
  text-shadow: 2px 1px 3px #e1f56b;
}
/*--------------------header--------------------*/
#header {
  background: url(../img/header-bg.png) repeat;
}

#log {
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
}

#nav {
  margin-bottom: 5px;
}

.nav-btn {
  background-color: #4B4B4B;
  border: 0px;
  border-radius: 0px;
}

/*--------------------AD--------------------*/

#AD {
  background: url(../img/AD.jpg) no-repeat center;
  background-size: cover;
  height: 600px;
  position: relative;
}

#AD_text {
  background: rgba(48, 38, 35, 0.7);
  background-origin: content-box;
  padding: 5px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#AD_text p {
  line-height: 30px;
}

/*--------------------AD sub--------------------*/

#left, #middle, #right {
  margin-top: 15px;
}

#middle {
  border-left: 4px ridge rgba(53, 102, 24, 0.1);
  border-right: 4px ridge rgba(53, 102, 24, 0.1);
}

#ADsub_pic_left {
  background: url(../img/ADsub1.png) no-repeat center;
  background-size: cover;
  height: 100px;
  width: 100px;
}

#ADsub_pic_middle {
  background: url(../img/ADsub2.png) no-repeat center;
  background-size: cover;
  height: 100px;
  width: 100px;
}

#ADsub_pic_right {
  background: url(../img/ADsub3.png) no-repeat center;
  background-size: cover;
  height: 100px;
  width: 100px;
}

.ADsub_content {
  padding-right: 0;
}

.ADsub_content h5 {
  line-height: 20px;
}
/*--------------------main content top--------------------*/

#main_content {
  background-color: #ffffff;
}

#main_content_top {
  border-bottom: 2px solid #cbdcd9;
  padding-bottom: 10px;
}

.title {
  background-color: #cbdcd9;
  height: 40px;
  padding: 0 20px;
  margin: 20px 0;
  border-bottom: 3px ridge #8ec7bb;
}

.title h4{
  margin-top: 0;
  line-height: 37px;
}

#main_content_top_pic1 {
  background: url(../img/topcont1.png) no-repeat center;
  background-size: cover;
  height: 220px;
  width: 220px;
}

#main_content_top_pic2 {
  background: url(../img/topcont2.png) no-repeat center;
  background-size: cover;
  height: 220px;
  width: 220px;
}

#main_content_top_pic3 {
  background: url(../img/topcont3.png) no-repeat center;
  background-size: cover;
  height: 220px;
  width: 220px;
}

#main_content_top_pic4 {
  background: url(../img/topcont4.png) no-repeat center;
  background-size: cover;
  height: 220px;
  width: 220px;
}

/*--------------------main content down--------------------*/

#main_content_down {
  padding: 5px 0 30px 0;
}

#main_content_down_pic {
  background: url(../img/submain.png) no-repeat center;
  background-size: cover;
  background-origin: content-box;
  padding: 15px;
  margin: 10px 0;
  height: 300px;
  width: 400px;
}

#main_content_down_text {
  padding:0 0 0 25px;
}

#main_content_down_title {
  background-color: #cbdcd9;
  height: 40px;
  padding: 0 20px;
  margin: 0 0;
  border-bottom: 3px ridge #8ec7bb;
}

#tips {
  padding:20px 0 0 20px;
}

#tips p {
  line-height: 30px;
}
/*--------------------footer--------------------*/

#footer {
  background-color: #DCE8D4;
  border-top: 2px solid #8ec7bb;
  padding-bottom: 10px;
}

.footer_text {
  border-right: 2px solid #8ec7bb;
}

#icons {
  margin-top: -10px;
}

#icons a {
  padding-left: 10px;
  color: #737373;
}

/*--------------------author--------------------*/

#author {
  margin-top: 10px;
}
