
@import url("header.css");
@import url("main.css");
@import url("footer.css"); 

* {
    /* outline: 1px solid red ; */
}

body {
    min-width: 375px;
}

.body_wrapper {
    background-color:rgb(45, 110, 37);
}


@media screen and (max-width: 575px) {
    .body_wrapper {
        padding: 0;
    }
}

@media screen and (min-width: 576px) {
    body {
        background-image: url("../image/bg-body.jpg");
    }
}

@media screen and (min-width: 992px) {
    .body_wrapper {
        width: 80%;
    }
}

/*  Breakpoints
None	<576px  手機直向 max-width: 575px
sm	    ≥576px  手機橫向 min-width: 576px
md	    ≥768px  平板直向 
lg	    ≥992px  平板直向，桌機。
xl	    ≥1200px 桌機
xxl	    ≥1400px 桌機  */