* {
    /* outline: 1px solid red ; */
}

body {
    min-width: 375px;
    background-image: url("../image/bg-body.jpg");
}
@media (min-width: 576px) {
    body {
        padding: 0 1.5rem;
    }
}
@media (min-width: 992px) {
    body {
        padding: 0 12%;
    }
}

.body_wrapper {
    background-color:rgb(45, 110, 37);
}
@media (min-width: 576px) {
    .body_wrapper {
        padding: 0 1.5rem;
    }
}


/*  Breakpoints
None	<576px  手機直向 max-width: 575px
sm	    ≥576px  手機橫向 min-width: 576px
md	    ≥768px  平板直向 
lg	    ≥992px  平板橫向，桌機。
xl	    ≥1200px 桌機
xxl	    ≥1400px 桌機  */