footer .accordion {
    flex-wrap: wrap;
    --bs-accordion-bg: rgb(222, 233, 214);
    --bs-accordion-border-color: rgb(179,199,161);
    --bs-accordion-border-radius: initial;
    border-top: 1px solid rgb(179,199,161);
    border-bottom: 1px solid rgb(179,199,161);
}

footer .accordion-item {
    color: #848484;
    border: 0;
}

footer .accordion-item:not(:first-of-type) {
    border-top: 1px solid rgb(179,199,161);
}

footer .accordion-item:first-of-type .accordion-button {
    border-radius: 0;
}

footer .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0;
}

footer .accordion-button {
    padding: 0.5rem 1.25rem 0.5rem;
    color: unset;
    text-shadow: 2px -1px white;
}

footer .accordion-button:focus {
    box-shadow: initial;
}

footer .accordion-button:not(.collapsed) {
    color: #2d6e25;
    background-color: unset;
    box-shadow: initial;
}

footer .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23848484'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    filter: drop-shadow(1px -1px white);
}

footer .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232d6e25'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    filter: drop-shadow(-1px 1px white);
}

footer .accordion-body {
    padding: 0 1.2rem 1rem;
}

/* 兩個都是標題 內容一模一樣，只是裝置不同會隱藏與顯示。
    手風琴標題：accordion h2 button  only for <576px 
    小裝置以外標題：accordion-body h2  for >=576px */
footer .accordion h2 button , 
footer .accordion-body h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-shadow: 2px -1px white;
}

footer .accordion-body a {
    display: block;
    text-decoration: none;
    color: unset;
}

footer .accordion-body a:hover {
    color: rgb(45, 110, 37);
}

footer .connect_list i {
    margin-right: 0.5rem;
    color: rgb(45, 110, 37);
    font-size: 1.2rem;
}

@media (min-width: 576px) {
    footer .accordion-body {
        padding: 1rem 1.25rem;
    }
    footer .accordion-item {
        border: 1px solid rgb(179,199,161);
    }
}

footer .footer_right p {
    margin: 0;
    text-align: center;
    color: white;
}