.navbar {
    padding: 0;
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        padding-bottom: 0.2rem;
        flex-direction: column;
    }
}

.navbar .logo {
    padding: 1rem;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 576px) {
    .navbar .logo {
        padding: 1.5rem;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .logo {
        padding: 0;
    }
    .navbar-expand-lg  > * {
        margin: 1.5rem 0 0 0;
    }
}

.navbar .logo h1 {
    margin: 0;
}

.logo h1 a {
    display: block;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}
.navbar-toggler:focus {
    box-shadow: unset;
}

.navbar-light .navbar-nav .nav-link {
    padding: 1rem;
    background-color: #4b4b4b;
    color: lightyellow;
    text-align: center;
    text-transform: capitalize;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        width: 100%;
    }
    .navbar-expand-lg .navbar-nav {
        width: 100%;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 1.5rem;
        flex: 1;
    }
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color:rgb(220, 233, 209);
    color: black;
}

.navbar-light .navbar-nav .nav-link.active {
    background-color:rgb(157, 177, 138);
    color: rgb(45, 110, 37);
}