.body_wrapper header {
    background-color: rgb(222, 233, 214);
}

@media (min-width: 576px) {
    .body_wrapper header {
        background-color: white;
    }   
}

header h1 {
    margin: 0;
}

header h1 > a {
    display: block;
}

header .navbar {
    flex-wrap: initial;
}

@media (min-width: 768px) {
    header .navbar {
        justify-content: space-between;
    }
}
@media (min-width: 992px) {
    header {
        padding-bottom: 0.1rem;
    }
    
    header .navbar {
        justify-content: center;
    }
}

header .navbar .navbar-toggler {
    border: 0;
}

header .navbar-toggler:focus {
    box-shadow: unset;
}

header .navbar-nav .nav-link {
    flex:1;
    background-color: #4b4b4b;
    color: lightyellow;
    text-align: center;
    text-transform: capitalize;
}

header .nav-link:hover {
    background-color:rgb(220, 233, 209);
    color: black;    
}

header .navbar-nav .nav-link.active {
    background-color:rgb(157, 177, 138);
    color: green;
}