/* 輪播圖 */
main .carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1% 10%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: initial;
}

main .carousel-caption h2 {
    margin: 0;
    color: rgb(231,233,165);
    font-size: 1.4rem;
    text-transform: uppercase;
}

main .carousel-caption .text_box {
    display: flex;
    text-decoration: none;
}

main .carousel-caption .text_box p {
    margin: 0;
    font-size: 1em;
    color: #fff;
}

main .carousel-caption .text_box i {
    font-size: 1em;
    color: black;
    border-radius: 50%;
    color: white;
    background-color: rgb(109, 131, 157);
}

main .carousel-caption .text_box:hover i{
    background-color: lightblue;
}

/* 兩個箭頭圖示<i>：
    在576px~991px顯示P外層的into，(P子層的<i>因省略會自隱藏)
    在>=992px隱藏外層的into，(P子層的<i>無省略會自顯示) */
@media (min-width: 576px) and (max-width: 991px) {
    main .carousel-caption .text_box {
        min-width: 0;
    }
    main .carousel-caption .text_box p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    main .carousel-caption .text_box .into {
        flex: 0 0 auto;
    }
}

@media (min-width: 992px) {
    main .carousel-caption .text_box .into {
        display: none;
    }
}

@media (min-width: 576px) {
    main .carousel-control-next, 
    main .carousel-control-prev {
        width: 10%;
    }
}

@media (min-width: 992px) {
    main .carousel-caption {
        padding: 1% 5%;
    }
    main .carousel-control-next, 
    main .carousel-control-prev {
        width: 5%;
    }
}

/* 輪播圖下三縮圖 */
main .carousel-indicators {
    position: initial;
    margin: 0;
    padding: 0 1.5rem 0;
    display: block;
}

main .carousel-indicators figure {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main .figure_list figure:nth-last-child(1){
    margin-bottom: 0;
}

main .carousel-indicators [data-bs-target] { 
    background-color: unset;
    margin: 0 1rem 0 0;
    width: initial;
    height: auto;
    border: 0;
    flex: 1 0 auto;
}

main button .img-thumbnail {
    padding: 0.15rem;
    border: 0;
    border-radius: 0.05rem;
}

main .carousel-indicators .active .img-thumbnail {
    background-color:rgb(231,233,165);
}

main button:hover .img-thumbnail {
    background-color:rgb(231,233,165);
}

main .carousel-indicators figcaption h3 {
    font-size: 1.2rem;
    color: rgb(231,233,165);
    text-transform: capitalize;
}

main .carousel-indicators figcaption p {
    font-size: 1rem;
    color: white;
}

@media (min-width: 768px) {
    main .carousel-indicators [data-bs-target] {
        flex: initial;
    }
}

@media (min-width: 992px) {
    main .figure_list {
        flex-direction: row;
    }
    main .figure_list figure:nth-last-child(1),
    main .figure_list figure:nth-last-child(2),
    main .figure_list figure:nth-last-child(3) {
        margin-bottom: 0;
    }
    main .figure_list figure {
        padding: 0 1rem;
        border-right: 0.3rem ridge rgb(150, 150, 150, 0.2);        
    }
    main .figure_list figure:nth-child(3n) {
        border-right: 0.3rem ridge rgb(150, 150, 150, 0);
    }
    main .carousel-indicators [data-bs-target] {
        flex: 1 0 auto;
    }
}

/* 四圖卡牌區 */
main .card_list {
    flex-direction: column;
}

main .card {
    border: none;
    border-radius: initial;
}

main .card .image_box {
    flex: 1 0 auto;
    margin: 0 0 1rem 0;
}

main .card .image_box:hover {
    transform: scale(0.98);
}

main .card_list .card .card-body {
    flex: initial;
    padding: 0;
}

main .featured_wrapper h2 {
    padding: 0.5rem 0;
    margin: 0 0 1.5rem;
    border-bottom: 3px solid rgb(179,199,161);
    background-color: rgb(222, 233, 214);
    color: rgb(118, 84, 55);
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px -1px white;
}

main .card-body h3 {
    margin: 0 0 .5rem;
    color: rgb(118, 84, 55);
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

main .card-body p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

main .featured_wrapper hr {
    margin: 1.5rem auto;
}

main .article_container .image_box {
    margin-bottom: 1.5rem;
}

@media (min-width: 576px) and (max-width: 991px) {
    main .card {
        flex-direction: row;
    }
    main .card .image_box {
        margin: 0 1rem 0 0;
    }
}

@media (min-width: 576px) {
    main .featured_wrapper h2 {
        text-align: initial;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    main .card-body h3 {
        text-align: initial;
    }
    main .card-body p {
        text-align: initial;
    }
}

@media (min-width: 992px) {
    main .card_list {
        flex-direction: row;
    }
    main .card .image_box {
        flex: initial;
    }
}

/* 單張圖片-tips區塊 */
main .article_container .image_box a:hover {
    transform: scale(0.98);
}

main .text_box ol {
    padding-left: 1.5rem;
}

main .text_box ol li {
    margin-bottom: 1rem;
}

main ol li::marker {
    font-weight: bold;
}   

@media (min-width: 576px) {
    main .article_container .image_box {
        margin-right: auto!important;
        margin-left: auto!important;
    }
}

@media (min-width: 992px) {
    main .article_container .image_box {
        margin-bottom: 0;
    }
}