@CHARSET "UTF-8";
.cover{
  width:100%;
  height:600px;
  display: block;
  margin-bottom:15px;
}
.womanbg{
  border:2px black solid;
  height: 500px;
  display: flex;
  flex-direction: column-reverse;
  background-image: url(/home/ray/git/t3/Ray/gardening1.jpg);
  background-repeat: no-repeat;
  background-position:top;
  background-size: cover;
  max-width:960px;
  min-width:400px;
}
.womancontent{
  background-color: rgba(18, 17, 16, 0.71);
  border:2px yellow solid;
}
h5{
   color:rgb(208, 233, 83);
   font-size: 20px;
   font-weight: lighter;
}
.cover p{
  display: flex;
  flex-wrap: wrap;
  color:white;
  font-size: 15px;
}

.coverlist{
  display: inline-flex;
  flex-direction: row;
  width:100%;
}
.items{
  width:33.3%;
  display:flex;
  flex-direction: row;
}
.itemimg{
  width:35%;
  padding:5px;
}
.itemimg img{
  border: 1px solid white;
}
.itemcontent{
  padding:5px;
  width:65%;
}

.itemcontent h5>a:link{
  color:rgb(208, 233, 83);
}
.itemcontent h5>a:visited{
  color:rgb(208, 233, 83);
}
.itemcontent h5>a:hover{
color:white;
}
