@CHARSET "UTF-8";
.fooer{
  width:auto;
  height: auto;
}
.footerlist{
  display: flex;
  justify-content: space-between;
  width:auto;
  height:auto;
  background-color:rgb(208, 203, 191);
}
.footeritem{
  width: 25%;
  display: inline-block;
  border: 1px green solid;
}
.footeritem h5{
  color: rgb(114, 110, 120);
  padding:0 30px;
  margin:10px 0;
}
.footeritem ul{
  display: block;
  width: auto;
  height:auto;
  padding-bottom: 20px;
}
.footeritem li{
  line-height: 20px;
  display: block;
  width: auto;
  height:auto;
  position: relative;
  left:30px;
}
.footeritem li>a:link{
  color:rgb(208, 233, 83);
}
.footeritem li>a:visited{
  color:rgb(99, 99, 105);
}
.footeritem li>a:hover{
color:white;
}

.footer p{
  color: white;
  text-align: center;
  padding: 5px;
}
