body{
  background: url(../images/bg.png);
}
.container{
  background: #0A730A;
  width: 80%;
}
.header{
  background: #FEFEFE;
}
.header .logo{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 98px;
}
.logo img{
  max-width: 100%;
  display: block;
  height: auto;
}
#nav div {

  background: #4B4B4B;
}
#nav div a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
}
#nav div a:hover{
  color: #4b4b4b;
  background: #D3F1CE;
}
#nav div .home{
  background: #8BBD83;
  color: #0A730A;
}
/*.nav {
  height: 50px;
  background: #4B4B4B;
}

.nav>li{

}
.nav>li:hover{
  color: #4B4B4B;
}
.nav li a{
  display: flex;
  align-items:center;
  justify-content:center;
  color: #fff;
  width: 100%;
  height: 100%;
}
.nav>li>a:hover{
  color: #4b4b4b;
  background: #D3F1CE;
}
.nav .home a{
  background: #8BBD83;
  color: #0A730A;
}.home{..}*/

ul li .active{
  background: #D3F1CE;
  color: #4b4b4b;
}
.banner{
  position: relative;
  width: 100%;
  background: url(../images/AD.jpg) no-repeat 0 0;
  background-size: 100% 100%;
  height: 480px;
  max-width: 100%;

}
.bannerBottom{
  width: 100%;
  position: absolute;
  bottom:0px;
  right: 0px;
  border: solid 1px;
  background: rgba(75, 75, 75, 0.7);

}
.bannerBottom h1{
  margin-left: 2%;
  margin-top: 2%;
  font-size: 2.5em;
  color: #C5DC85;
}
.bannerBottom p{
  color: #fff;
  margin-left: 2%;
  font-size: 1.2em;
  line-height: 1.2em;
}
.article{
  background: #0A730A;
  padding-top: 2%;
  padding-bottom: 2%;
}
div h2{
  color: #effa7f;
  font-size: 1em;
}
.text{
  padding-top: 1%;
  font-size: 14px;
  color: #fff;
}
#articleBorder{
  border-left:4px ridge rgba(53, 102, 24, 0.1);
  border-right: 4px ridge rgba(53, 102, 24, 0.1);
}
.feature{
  margin-top: 2%;
  background: #fff;
  padding-bottom: 4%;
}
.title{
  background: #cbdcd9;
  line-height: 3em;
  padding-left: 2%;
  color:#7b3823;
  margin-bottom: 2%;
}
.pci1{
  background: url(../images/topcont1.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}
.pci2{
  background: url(../images/topcont2.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}
.pci3{
  background: url(../images/topcont3.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}
.pci4{
  background: url(../images/topcont4.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}
.pic_text_title{
  padding-top: 4%;
  color:#7b3823;
}
.picTip{
  background: url(../images/submain.png);
  background-size: cover;
  background-position: center;
  height: 250px;

}
#picture_col{
  padding-bottom: 2%;
  border-bottom: 1px solid #aaa;
  margin-bottom: 2%;
}
.tipTitle{
  color:#7b3823;
  padding-left: 4%;
  margin-bottom: 4%;
  font-size: 1.5em;
  line-height: 2em;
  background: #cbdcd9;
}
#tipOl{
  padding-left: 2%;
}
.footer{
  background: #cbdcd9;
  font-family: sans-serif;
}
.footerTitle{
  font-size: 1.3em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 3%;
}
.footerText{
  padding-left: 3%;
}
.contactIcon ul{
  padding: 0px;
  margin: 0px;
}
.contactIcon ul li{
  list-style-type: none;
  padding-bottom: 1%;
}
.contactIcon ul li img{
  margin-right: 5%;
}
.footerBorder1{

  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
.footerBorder2{
  border-right: 1px solid #aaa;
}
.original{
  line-height: 2.5em;
  text-align: center;
  color:#fff;
}
