.footer_container > div {
  align-items: flex-start;
  background-color: #dae8d3;
  border: 1px solid #c8debe;
}
.footer_container h4 {
  text-transform: uppercase;
  color: #8c8c8c;
  text-shadow: white 1px 0;
}
.footer_container div p,
.footer_community a {
  color: #898989;
}
.footer_container p {
  margin-bottom: 0;
}
.footer_community a i {
  color: green;
}
.footer_community a:hover {
  color: #062c02;
}
.copyright {
  text-align: center;
  font-size: 12px;
  color: white;
}
@media (min-width: 576px) {
  .copyright {
    font-size: 18px;
  }
}
.footer_container .flex-sm-column {
  align-items: center;
}
@media (min-width: 1200px) {
  .footer_container .flex-sm-column {
    align-items: flex-start;
  }
}
