.header_container {
  background-color: white;
  border-bottom: 2px solid white;
}
.logo_container {
  max-width: 480px;
}
.menu_list a {
  color: #e7e9be;
  background-color: #4b4b4b;
  text-transform: capitalize;
}
.menu_list a:hover {
  color: #062c02;
  background-color: #daead1;
}
.menu_list .active {
  background-color: #95b285;
  color: #406e26;
}
