.banner_prompt {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: unset;
  background-color: rgba(0, 0, 0, 0.4);
}
.banner_prompt h2 {
  text-transform: uppercase;
  color: #e8ec9d;
}
.banner_prompt a {
  color: #edecec;
  margin-bottom: 0;
}
.banner_list > div {
  display: flex;
  text-align: start;
}
.banner_list > div + div {
  border-left: 2px solid #217000;
}
.banner_list_img-box {
  flex-shrink: 0;
}
.banner_list img {
  border: 2px solid white;
}
.banner_list h4 {
  text-transform: capitalize;
  color: #e8ec9d;
}
.banner_list p {
  line-height: normal;
  color: white;
}
.featured_container {
  background-color: white;
}
.featured_container h3 {
  padding: 10px 20px 15px;
  text-transform: uppercase;
  color: #742800;
  text-shadow: white 1px 0;
  background-color: #dae8d3;
  border-bottom: 2px solid #a4c895;
}

.featured_introduce h4 {
  margin: 1.5rem 0;
  text-transform: uppercase;
  color: #742800;
}
.table-group-divider {
  color: gainsboro;
}

@media (max-width: 991.98px) {
  .featured_introduce {
    display: flex;
  }
  .featured_introduce h4 {
    margin: 0;
  }
  .featured_introduce-article {
    padding: 0 10px;
  }
  ol li {
    line-height: normal;
  }
  .banner_list > div + div {
    border-top: 2px solid #217000;
    border-left: unset;
  }
}
@media (max-width: 575.98px) {
  .banner_list > div {
    display: flex;
    text-align: start;
  }
  .banner_list_img-box {
    display: block;
  }
}
