.banner_prompt {
  position: unset;
  text-align: unset;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 992px) {
  .banner_prompt {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.carousel-item img {
  min-height: 35vh;
  object-fit: cover;
}
.banner_prompt h2 {
  text-transform: uppercase;
  color: #e8ec9d;
}
.banner_prompt a {
  display: block;
  color: #edecec;
}
.banner_prompt a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #217000;
}
.banner_prompt span {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 16px);
}
@media (min-width: 992px) {
  .banner_prompt span {
    display: unset;
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
    width: unset;
  }
}
.banner_list > div + div {
  border-top: 2px ridge rgba(223, 233, 227, 0.382);
}
@media (min-width: 992px) {
  .banner_list > div + div {
    border-left: 2px ridge rgba(223, 233, 227, 0.382);
    border-top: unset;
  }
}
.banner_list_img-box {
  flex-shrink: 0;
}
.banner_list img {
  border: 2px solid white;
}
.banner_list h4 {
  text-transform: capitalize;
  color: #e8ec9d;
}
.banner_list p {
  line-height: normal;
  color: white;
}
.featured_container {
  background-color: white;
}
.featured_container h3 {
  text-transform: uppercase;
  color: #742800;
  text-shadow: white 1px 0;
  background-color: #dae8d3;
  border-bottom: 2px solid #a4c895;
}
.featured_introduce div:first-child {
  width: 33%;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .featured_introduce div:first-child {
    width: 100%;
  }
}
.featured_introduce h4 {
  text-transform: uppercase;
  color: #742800;
}
.divider {
  border-top: 2px solid #eae9e5;
}
.article_img-container img {
  height: 100%;
  object-fit: cover;
}
.article_container ul {
  counter-reset: a;
}
.article_container li {
  list-style: none;
}

.article_container li {
  line-height: normal;
}
@media (min-width: 992px) {
  .article_container li {
    line-height: 2;
  }
}
.article_container li:before {
  content: counter(a) ".";
  counter-increment: a;
  font-weight: bolder;
  display: inline-block;
  width: 2em;
  margin-left: -2.5em;
  text-align: right;
}
.article_container li + li {
  margin-top: 1rem;
}
