:root {
  --origin-design-width: 1200px;
  --primary-color: #356618;
  --secondary-color: #dce8d4;
  --accent-color: #4b4b4b;
  --carousel-title-color: #eaee9e;
  --main-title-color: #815735;
  --footer-color: #818082;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background: url(../image/bg-body.jpg);
}
.whole_content {
  padding: 0 1rem;
  background-color: var(--primary-color);
}

/* nav */
.logo {
  padding: 1rem 0;
}
.logo a {
  display: inline-block;
}
.nav_modify {
  padding: 0;
}
.nav_modify .collapse {
  flex: 1 0 100%;
}
.nav_modify .navbar-nav {
  flex: 1 0 0;
}
.nav_modify .nav-item {
  flex: 1 0 0;
  text-align: center;
  background-color: var(--accent-color);
}
.nav_modify .nav-item a.nav-link {
  color: #f1f3c9;
  transition: color 0.4s, background-color 0.4s;
}
.nav_modify .nav-item a.nav-link:hover {
  color: #000000;
  background-color: #d9eacf;
}
.nav_modify .nav-item a.active {
  color: #3a691d;
  background-color: #95b285;
}

/* carousel */
.carousel_modify {
  height: 40vh;
}
@media screen and (min-width: 992px) {
  .carousel_modify {
    height: 50vh;
  }
}
.carousel_modify .carousel-inner {
  height: 100%;
}
.carousel_modify .carousel-item {
  height: 100%;
}
.carousel_modify img {
  height: 100%;
  object-fit: cover;
}
.carousel_modify .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel_modify h5 {
  text-transform: uppercase;
  color: var(--carousel-title-color);
}
.carousel_modify p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carousel_modify a {
  color: #fff;
  transition: 0.4s;
}
.carousel_modify a:hover {
  color: #fff459;
}
.carousel_modify i {
  padding: 3px 5px;
  border-radius: 50%;
  background-color: #7a9093;
}
@media screen and (min-width: 768px) {
  .carousel_modify p {
    white-space: normal;
  }
}

/* thumbnails */
.thumbnails {
  padding: 1rem 0;
}
.thumbnail {
  padding: 0 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .thumbnails .col:not(:first-child) {
    border-left: 2px solid #3e7320;
    box-shadow: 1px 0 #2a5a0e inset;
  }
  .thumbnail {
    margin-bottom: 0;
  }
}
.thumbnail_pic {
  border: 1px solid #e2e2e5;
}
.thumbnail_text h3 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--carousel-title-color);
}
.thumbnail_text p {
  padding: 1rem 0;
  font-size: 1rem;
  color: #fff;
  line-height: 1.3;
}

/* weekly_garden */
.weekly {
  padding: 1rem;
  background-color: #fff;
}
.weekly_title {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 2px #fff;
  color: var(--main-title-color);
  background-color: var(--secondary-color);
}
.card_modify {
  border: none;
}
.card_modify img {
  border-radius: 0;
}
.card_modify .card-body {
  padding: 1rem 0;
}
.card_modify h5 {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.weekly hr {
  margin: 0;
  height: 2px;
}

/* weekly_tips */
.weekly_tips {
  padding: 1rem 0;
}
.weekly_tips_pic img {
  width: 100%;
}
.weekly_tips_content {
  counter-reset: num;
}
.weekly_tips_content p {
  display: flex;
  line-height: 2;
}
.weekly_tips_content p::before {
  margin-right: 0.5rem;
  counter-increment: num;
  font-weight: bold;
  content: counter(num) ".";
}

/* footer */
footer {
  background-color: var(--secondary-color);
}
.contact_item {
  padding: 1rem;
  height: 100%;
  border: 1px solid #c6d8ba;
  text-align: center;
  color: var(--footer-color);
}
@media screen and (min-width: 768px) {
  .contact_item {
    text-align: start;
  }
}
.contact_item h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.connect_icon a {
  display: block;
  padding: 0.25rem;
  flex: 1 0 0;
  color: var(--footer-color);
  transition: filter 0.4s;
}
.connect_icon i {
  margin-right: 0.5rem;
  vertical-align: middle;
  font-size: 1.5rem;
  color: #346515;
}
.connect_icon span {
  vertical-align: middle;
}
.connect_icon a:hover {
  filter: brightness(150%);
}
.copyright {
  padding: 0.5rem 0;
  background-color: var(--primary-color);
}
.copyright span {
  color: #fff;
}
