:root {
  --primary-color: #356618;
  --secondary-color: #dce8d4;
  --accent-color: #4b4b4b;
  --body-bg-img: url(../image/bg-body.jpg);
  --container-bg-color: var(--primary-color);
  --navlink-color: #e8e9c2;
  --navlink-color-hover: #151812;
  --navlink-bg-color: var(--accent-color);
  --navlink-bg-color-hover: #daead1;
  --navlink-color-active: #406e29;
  --navlink-bg-color-active: #95b285;
  --carousel-caption-title-color: #e8ea9c;
  --carousel-caption-color: #ffffff;
  --carousel-caption-bg-color: rgba(0, 0, 0, 0.5);
  --thumbnail-title-color: #dade92;
  --thumbnail-color: #ffffff;
  --thumbnail-border-color: #d5d9d5;
  --weekly-title-color: #7b4f22;
  --weekly-title-bg-color: var(--secondary-color);
  --weekly-subtitle-color: #510001;
  --weekly-content-color: #000000;
  --contact-text-color: #939294;
  --contact-bg-color: var(--secondary-color);
  --icon-color: var(--primary-color);
}
/* reset */
h1,
p {
  margin: 0;
}

body {
  background: var(--body-bg-img);
}
.container-lg {
  background: var(--container-bg-color);
}
/* nav */
.nav_modify {
  padding: 0;
}
.nav_modify > .container-fluid {
  padding: 0;
}
.nav_modify h1 {
  padding: 20px 0;
}
.nav_modify .collapse {
  flex: 1 0 100%;
}
.nav_modify .navbar-nav {
  flex: 1 0 100%;
}
.nav_modify .nav-item {
  flex: 1;
  text-align: center;
}
.nav_modify .nav-item .nav-link {
  padding: 10px 0;
  color: var(--navlink-color);
  background-color: var(--navlink-bg-color);
}
.nav_modify .nav-item .nav-link:hover {
  color: var(--navlink-color-hover);
  background-color: var(--navlink-bg-color-hover);
}
.nav_modify .nav-link.active {
  color: var(--navlink-color-active);
  background-color: var(--navlink-bg-color-active);
}

/* carousel */
.carousel_modify .carousel-item {
  height: 60vh;
}
.carousel_modify .carousel-item img {
  height: 100%;
  object-fit: cover;
}
.carousel_modify .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  text-align: start;
  background-color: var(--carousel-caption-bg-color);
}
.carousel_modify .carousel-caption h5 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--carousel-caption-title-color);
}
.carousel_modify .carousel-caption p {
  line-height: 2;
  color: var(--carousel-caption-color);
}
.carousel_modify .carousel-caption a {
  padding: 3px 4px;
  border-radius: 50%;
  color: #fff;
  background-color: #678386;
}

/* thumbnail */
.thumbnails > .row {
  gap: 1rem 0;
  padding: 1rem 0;
}
.thumbnail {
  align-items: flex-start;
  padding: 0 1rem;
  gap: 1rem;
}
.thumbnail:not(:first-child) {
  border-left: 2px solid #3f741f;
  box-shadow: 1px 0 #2a5a0e inset;
}
.thumbnail_pic {
  border: 1px solid var(--thumbnail-border-color);
}
.thumbnail_pic img {
  min-width: 100px;
  object-fit: cover;
}
.thumbnail_text > h4 {
  font-size: 1.25rem;
  color: var(--thumbnail-title-color);
}
.thumbnail_text > p {
  color: var(--thumbnail-color);
}

/* RWD */
@media screen and (max-width: 575px) {
  .thumbnail:not(:first-child) {
    border: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 767px) {
  .carousel_modify .carousel-item {
    height: 40vh;
  }
  .carousel_modify .carousel-caption > p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
