:root {
  --origin-design-width: 1200px;
  --primary-color: #356618;
  --secondary-color: #dce8d4;
  --accent-color: #4b4b4b;
  --header-title-color: #eaee9e;
  --main-title-color: #815735;
  --footer-color: #818082;
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background: url(../image/bg-body.jpg);
}

.whole_content {
  background-color: var(--primary-color);
}

/* nav */
.my_nav .collapse {
  flex: 1 0 100%;
}
.my_nav .navbar-nav {
  flex: 1 0 100%;
}
.my_nav .nav-item {
  flex: 1 0 auto;
}
.my_nav .nav-item .nav-link {
  padding: 1rem 0;
  text-align: center;
  color: #f0f2c9;
  background-color: var(--accent-color);
  transition: 0.4s;
}
.my_nav .nav-item .nav-link:hover {
  color: #243c15;
  background-color: #daead0;
}
.my_nav .nav-item .nav-link.active {
  color: #3a691f;
  background-color: #95b285;
}

/* carousel */
.my_carousel {
  height: 40vh;
}
.my_carousel .carousel-inner {
  height: 100%;
}
.my_carousel .carousel-item {
  height: 100%;
}
.my_carousel img {
  height: 100%;
  object-fit: cover;
}
.my_carousel .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.5);
}
.my_carousel h5 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--header-title-color);
  text-transform: uppercase;
}
.my_carousel a {
  display: block;
  line-height: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: 0.4s;
}
.my_carousel a:hover {
  color: #f5e55b;
}
.carousel i {
  padding: 3px 4px;
  border-radius: 50%;
  background-color: #6e878a;
}

/* thumbnail */
.thumbnails {
  padding: 1rem 0;
}

.thumbnail {
  align-items: start;
  gap: 0 1rem;
  padding: 0 1rem;
}
.thumbnail_img {
  border: 2px solid #d2d1d0;
}
.thumbnail_text > h3 {
  font-size: 1.25rem;
  color: var(--header-title-color);
}
.thumbnail_text p {
  color: #fff;
}

/* weekly_gardens */
.weekly {
  padding: 1rem;
  background-color: #fff;
}
.weekly_heading {
  padding: 5px 20px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: var(--main-title-color);
  background-color: #dce7d4;
  text-transform: uppercase;
  text-shadow: 1px 1px #fff;
  box-shadow: 0 2px #adc89c;
}
.my_card {
  border: none;
}
.my_card img {
  width: 80%;
  margin: 0 auto;
  border-radius: 0;
  border: 1px solid #cdcdca;
}
.my_card .card-body {
  padding: 1rem 0;
  text-align: center;
}
.my_card h5 {
  color: var(--main-title-color);
  text-transform: uppercase;
}
.my_card p {
  line-height: 2;
}

/* weekly_tips */
.weekly_tips_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.weekly_tips_text > ol {
  padding-left: 20px;
}
.weekly_tips_text p {
  line-height: 1.8;
  margin-bottom: 0.5rem;
}

/* contact */
.contact_item {
  height: 200px;
  padding: 1rem;
  border: 1px solid #c6dabb;
  text-align: center;
  background-color: var(--secondary-color);
}

.contact_item > h3 {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  text-shadow: 1px 0 #fff;
  color: var(--footer-color);
  text-transform: uppercase;
}
.contact_item > p {
  font-size: 1rem;
  color: var(--footer-color);
}

.connect_icon a {
  display: block;
  margin-right: 5px;
  color: var(--footer-color);
  transition: 0.4s;
}
.connect_icon a:hover {
  filter: brightness(150%);
}

.connect_icon i {
  font-size: 20px;
  margin-right: 10px;
  color: #356618;
}
/* copyright */
.copyright {
  padding: 0.75rem 0;
  text-align: center;
  color: #fff;
}

/* RWD */
@media screen and (min-width: 576px) {
  .my_card img {
    width: 100%;
  }
  .my_card .card-body {
    text-align: start;
  }
  .contact_item {
    text-align: start;
  }
  .connect_icon a {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .my_carousel {
    height: 55vh;
  }
  .my_carousel a {
    white-space: normal;
  }
  .thumbnail:not(:first-child) {
    border-left: 2px solid #3f741f;
    box-shadow: 1px 0 #2a5a0e inset;
  }
}
@media screen and (min-width: 992px) {
  .whole_content {
    width: 80%;
  }
}
li::marker {
  display: none;
}
.copyright p {
  white-space: nowrap;
}
