#bottomContainer {
  padding: 1em;
}

#secondRow {
  padding-right: 0;
}
#secondRow img {
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.panel-default > .panel-heading {
  /*color: #333;*/
  /*background-color: #f5f5f5;*/
  color: #8A0808; /* c */
  background-color: #ECF6CE; /* c */
  border-color: #ddd;
}

.panel-heading {
  /*padding: 10px 15px;*/
  padding: 0.5px 15px; /* c */
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
