#centerBlock {
  padding-left: 1em;
}

#centerBlock p {
  color: #FFFFFF;
}

#centerBlock h4 {
  color: #FFFF00;
}

.centerBlockImage {
  display: block;
  position: relative;
  margin-left: -1em;;
  margin-right: 1em;
  margin-top: 1.5em;
  padding-top: auto;
  float: left;
  border: 1px solid #ddd;
  width: 5em;
  height: 5em;
}

.centerBlockText {
  display: block;
  position: relative;
  margin-top: 1.5em;
  padding-top: auto;
  margin-right:auto;
  text-align: left;
  /*border-right-style:solid;*/
  /*border-right:thick single #000000;*/
}





.centerBlockTextwithDivider {
  display: block;
  position: relative;
  margin-top: 1.5em;
  padding-top: auto;
  margin-right:auto;
  text-align: left;
  /*border-right-style:solid;*/
  border-right: double #A4A4A4;
}
