#footer{
  color: #A4A4A4;
  padding-left: 1em;
  line-height: 60%;
}

.colwRightBorder {
  height: 11em;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #FFFFFF;
}

.colCenter {
  text-align: center;
}

.colLeft {
  text-align: left;
  line-height: 150%;
  padding-left: 2em;
}
