* {
  /* outline: solid 1px rgb(110, 110, 114); */
}

body {
  margin: 0;
  background-image: url(img/bg-body.jpg);
  background-repeat: repeat;
  background-color: #356618;
}

/* mobile setting */
.wrapper {
  background-color: #3d6600;
  padding: 0 1.5rem;
}

/* tablet/laptop setting */
@media (min-width: 768px) {
  .wrapper {
    width: 80%;
    background-color: #3d6600;
    background-image: none;
    padding: 0 1.5rem;
  }
}

/* !Header */
header {
  background-color: #fff;
  padding-bottom: 5px;

  /* keep header's content show in the viewport */
  position: sticky;
  top: 0;
  z-index: 1;
}
.wrapper header .header_logobox {
  text-align: center;
  padding: 1rem 0;
}
.header_logobox a {
  display: block;
}
.header_logobox img {
  width: 70%;
}
@media (min-width: 768px) {
  .header_logobox img {
    width: auto;
  }
}

/* nav */
.header_nav {
  padding: 0;
}

.header_navbar li {
  border: sold 1px #333;
}

.header_navbar a {
  text-decoration: none;
  color: #daeacf;
  padding: 1rem;
  font-size: 1rem;
}
#navbarNav .header_navbar_headmenu a {
  background-color: #96b584;
  color: #4a7a2c;
  margin-top: 0.75rem;
}
/* tablet / desktop setting */
@media (min-width: 768px) {
  .header_nav .header_navbox {
    padding: 0;
  }
  .header_nav {
    background: #4a4a4a;
  }

  #navbarNav.header_navbar a {
    text-decoration: none;
    color: #daeacf;
    padding: 1rem;
    font-size: 1rem;
  }
  a.navbar-brand {
    display: none;
  }
  #navbarNav .header_navbar_headmenu a {
    margin-top: 0;
  }
}

#navbarNav.header_navbar a:hover {
  background-color: rgb(154, 197, 90);
  color: rgba(10, 9, 9, 1);
  border-bottom: solid 1px #356618;
}

/* Carousel */

/* mobile setting */
.banner_innerbox {
  /* position */
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;

  text-align: left;
  background-color: rgb(0, 0, 0, 0.4);
  font-size: 8px;
  height: 100%;
  padding: 1.5rem;
}
@media (min-width: 576px) {
  .banner_innerbox {
    background-color: rgb(0, 0, 0, 0.65);
    font-size: 1rem;
    height: auto;
  }
}
.banner_innerbox a {
  text-decoration: none;
  color: rgb(209, 226, 202);
  background-color: gray;
  border-radius: 1.25rem;
  padding: 2px;
}
.banner_innerbox div {
  margin: 0;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.banner_innerbox > div {
  color: #d5dc8b;
}
/* selector */

.banner_select {
  padding: 1rem;
}
.banner_select_item {
  padding: 1.5rem 0;
  margin: 1rem 0;
}
.banner_select_item:last-child {
  border-right: none;
}
.banner_select_item p {
  margin: 0;
}
@media (min-width: 992px) {
  .banner_select_item {
    border-right: solid 2px #407428;
    border-bottom: none;
    padding: 0;
    margin: 0;
  }
}

.banner_select_item {
  color: #f6ffa4;
  display: flex;
  padding: 0 0.5rem;
}
.banner_select h4 {
  font-size: 1.25rem;
  color: #d5dc8b;
}
.banner_select_item p {
  color: #fff;
}
.banner_select_item div {
  margin: 0 10px;
}

.banner_select_item img {
  border: solid 2px white;
}

/* !Main */
main {
  background-color: #fff;
}
.title {
  background-color: rgb(209, 226, 202);
  color: #836145;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem;
  text-transform: uppercase;
}

/* Featured */
main .section_featuredbox {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
section .title {
  margin-bottom: 1.5rem;
}
.section_featuredbox img {
  width: 100%;
}
.feature_caption {
  color: #94765c;
  text-transform: uppercase;
}
.featured_content {
  padding: 1.5rem 0;
}
.featured_content p {
  margin: 0;
}
.feature_caption p {
  color: black;
  text-align: left;
}
hr {
  margin: 0;
}
/* Article */

/* mobile setting */
@media (max-width: 576px) {
  .article_image {
    order: 1;
  }
  .article_content ol {
    padding: 0 1.5rem;
  }
}
.article_content {
  flex-grow: 2;
}
.article_content > div {
  margin-bottom: 1.5rem;
}
.article_content ol {
  margin: 0;
  padding-bottom: 0;
}
.article_style {
  padding: 1.5rem 1rem 2rem 1rem;
  margin: 0;
}
article ol {
  padding: 1.25rem;
}

.article_style li {
  padding: 0.5rem;
}
li::marker {
  font-weight: 700;
}
article img {
  width: 100%;
}
/* !Footer */

footer {
  color: #969895;
}

/* information */

footer .footer_information {
  background-color: #dce9d4;
}

.footer_information {
  border-top: solid 1px rgb(184, 212, 173);
}
.footer_information ul {
  padding: 1rem;
  margin-bottom: 0;
  border-bottom: solid 1px rgb(184, 212, 173);
}
.information_title:last-child {
  order: -1;
}

@media (min-width: 768px) {
  .footer_information ul {
    padding: 1.5rem;
    margin-bottom: 0;
    border-right: solid 1px rgba(184, 212, 173);
    border-bottom: 0;
  }
  .footer_information {
    text-align: left;
  }
  .information_title:last-child {
    order: 0;
  }
}

.information_title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.footer_information li {
  list-style: none;
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
}

.footer_information a {
  display: inline-block;
  color: darkgrey;
  font-size: 1rem;
  font-weight: 700;
}
.footer_information i {
  font-size: 25px;
  color: #3d6600;
  margin-bottom: 10px;
  vertical-align: sub;
}

.footer_information i:hover,
.footer_information a:hover {
  color: cornflowerblue;
}

.contact a {
  text-decoration: none;
}
footer p {
  background-color: #356618;
  color: white;
  font-weight: 500;
}

.copyright {
  margin-bottom: 0;
  padding: 1.5rem 0;
}
