* {
  /* outline: solid 1px rgb(110, 110, 114); */
}

body {
  margin: 0;
  background-image: url(img/bg-body.jpg);
  background-repeat: repeat;
  background-color: #356618;
}

/* mobile setting */
.wrapper {
  background-color: #3d6600;
  padding: 0 1.5rem;
}

/* tablet/laptop setting */
@media (min-width: 768px) {
  .wrapper {
    width: 90%;
    background-color: #3d6600;
    background-image: none;
    padding: 0 1.5rem;
  }
}

/* !Header */
header {
  background-color: #fff;
  padding-bottom: 5px;

  /* keep header's content show in the viewport */
  position: sticky;
  top: 0;
  z-index: 1;
}
.wrapper header .header_logobox {
  text-align: center;
  padding: 1rem 0;
}

/* nav */
.header_nav {
  padding: 0;
}

.header_navbar li {
  border: sold 1px #333;
}

.header_navbar a {
  text-decoration: none;
  color: #daeacf;
  padding: 1rem;
  font-size: 1rem;
}
/* tablet / desktop setting */
@media (min-width: 768px) {
  .header_nav .header_navbox {
    padding: 0;
  }
  .header_nav {
    background: #4a4a4a;
  }

  #navbarNav.header_navbar a {
    text-decoration: none;
    color: #daeacf;
    padding: 1rem;
    font-size: 1rem;
  }
  a.navbar-brand {
    display: none;
  }
}

#navbarNav.header_navbar a:hover {
  background-color: rgb(154, 197, 90);
  color: rgb(10, 9, 9);
  border-bottom: solid 1px #356618;
}
#navbarNav .header_navbar_headmenu a {
  background-color: #96b584;
  color: #4a7a2c;
}

/* Carousel  */

/* mobile setting */
.banner_innerbox {
  /* position */
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;

  text-align: left;
  background-color: rgb(0, 0, 0, 0.4);
  font-size: 8px;
  height: 100%;
}
@media (min-width: 426px) {
  .banner_innerbox {
    background-color: rgb(0, 0, 0, 0.65);
    font-size: 16px;
    height: auto;
    padding: 30px;
  }
}
.banner_innerbox a {
  text-decoration: none;
  color: rgb(209, 226, 202);
  background-color: gray;
  border-radius: 20px;
  padding: 2px;
}
.banner_innerbox div {
  margin: 0;
  color: #d5dc8b;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.banner_select {
  padding: 1rem;
}
.banner_select_item {
  /* padding: 1.5rem 1rem; */
  margin: 0;
  border-bottom: solid 2px #407428;
}
.banner_select_item:last-child {
  border-right: none;
}
@media (min-width: 1024px) {
  .banner_select_item {
    border-right: solid 2px #407428;
    border-bottom: none;
  }
}

.banner_select_item {
  color: #f6ffa4;
  display: flex;
}
.banner_select h4 {
  font-size: 20px;
}

.banner_select_item div {
  margin: 0 10px;
}

.banner_select_item img {
  border: solid 2px white;
}

/* !Main */
main {
  background-color: #fff;
}
.title {
  background-color: rgb(209, 226, 202);
  color: #836145;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem;
  text-transform: uppercase;
}

/* Featured */
main .section_featuredbox {
  padding: 1.5rem;
}
section .title {
  margin-bottom: 1.5rem;
}
.section_featuredbox img {
  width: 100%;
}
.feature_caption {
  color: #94765c;
  text-transform: uppercase;
}
.featured_content {
  padding: 1.5rem 0;
}
.feature_caption p {
  color: black;
  text-align: left;
}

.Featured > div {
  /* margin: 20px 0; */
}
.Featured div,
.Featured p {
  text-align: center;
}

/* laptop setting */

@media (min-width: 1024px) {
  main .Featured {
    /* padding: 1rem;
    margin: 0 1rem; */
  }
  .Featured div {
    margin-bottom: 0;
  }
  .Featured img {
    width: 100%;
  }
  .Featured div,
  .Featured p {
    text-align: left;
  }
}

/* Article */

@media (max-width: 576px) {
  .article_image {
    order: 1;
  }
  .article_content ol {
    padding: 0 1.5rem;
  }
}
.article_style {
  padding: 1rem 1rem 2rem 1rem;
  margin: 0;
}
article ol {
  padding: 20px 20px;
}

.article_style li {
  padding: 0.5rem;
}
li::marker {
  font-weight: 700;
}
article img {
  width: 100%;
}
/* !Footer */

footer {
  color: #969895;
}

/* information */

footer .information {
  background-color: #dce9d4;
}

.information {
  border-top: solid 1px rgb(184, 212, 173);
}
.information ul {
  padding: 20px;
  margin-bottom: 0;
  border-bottom: solid 1px rgb(184, 212, 173);
}
.information_title:last-child {
  order: -1;
}

@media (min-width: 768px) {
  .information ul {
    padding: 20px;
    margin-bottom: 0;
    border-right: solid 1px rgb(184, 212, 173);
    border-bottom: 0;
  }
  .information {
    text-align: left;
  }
  .information_title:last-child {
    order: 0;
  }
}

.information_title {
  font-size: 25px;
  text-transform: uppercase;
}

.information li {
  list-style: none;
  font-size: 15px;
  text-transform: none;
}
.information i {
  /* width: 100px; */
  font-size: 25px;
  color: #3d6600;
  margin-bottom: 10px;
}
.information i:hover,
.information a:hover {
  color: cornflowerblue;
}

.information a {
  color: darkgrey;
  font-size: 15px;
  margin-left: 10px;
}

.contact a {
  text-decoration: none;
}
footer p {
  background-color: #356618;
  color: white;
  font-weight: 500;
}
@media (max-) {
}
