* {
  outline: solid 1px rgb(110, 110, 114);
}

body {
  margin: 0;
  background-image: url(img/bg-body.jpg);
  background-repeat: repeat;
  background-color: #356618;
}

/* !Header */

.wrapper {
  background-color: #3d6600;
  width: 80%;
}

.header-nav {
  background-color: rgb(70, 67, 67);
}
.header-nav a {
  color: #f0edb3;
  text-decoration: none;
}

.header-nav a:hover {
  background-color: rgb(154, 197, 90);
  color: #fff;
}

/* Carousel part */

.caption_style {
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;

  text-align: left;
  padding: 30px;
  background-color: rgb(0, 0, 0, 0.65);
}
.caption_style a {
  text-decoration: none;
  color: rgb(209, 226, 202);
  background-color: gray;
  border-radius: 20px;
  padding: 2px;
}
.caption_style h5 {
  margin: 0;
  color: #d5dc8b;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
/* .carousel-caption h5,
p {
  margin: 0;
} */
.carousel_select {
  padding: 20px 0;
}
.carousel_select div,
img {
  vertical-align: text-top;
}
.carousel_select_item {
  color: #f6ffa4;
}
h4 {
  font-size: 20px;
}
.carousel_select_item p {
  color: white;
}
.carousel_select_item div {
  padding: 0 10px;
}

.carousel_select_item img {
  border: solid 2px white;
}
/* !Main */
.title {
  background-color: rgb(209, 226, 202);
  color: rgb(148, 37, 37);
  font-weight: 400;
  padding: 5px 10px;
}
.feature_caption {
  color: rgb(148, 37, 37);
  margin: 10px 0;
  text-align: left;
}
.feature_caption p {
  color: black;
  text-align: left;
}

.Featured > div {
  margin: 20px 0;
}

/* Article */
.article_style {
  padding: 10px;
}
ol {
  padding: 20px 20px;
}

.article_style li {
  padding-top: 10px;
}
/* !Footer */

footer {
  color: #969895;
}

/* information */

footer .information {
  background-color: #dce9d4;
}

.information {
  border-top: solid 1px rgb(184, 212, 173);
}

.information ul {
  padding: 20px;
  margin-bottom: 0;
  border-right: solid 1px rgb(184, 212, 173);
}

.information_title {
  font-size: 25px;
  text-transform: uppercase;
}

.information li {
  list-style: none;
  font-size: 15px;
  text-transform: none;
}
.information i {
  font-size: 25px;
  color: #3d6600;
  margin-bottom: 10px;
}
.information i:hover,
.information a:hover {
  color: cornflowerblue;
}

.information a {
  color: darkgrey;
  font-size: 15px;
  margin-left: 10px;
}

.contact a {
  text-decoration: none;
}
footer p {
  background-color: #356618;
  color: white;
  font-weight: 500;
}
