@import "bootstrap";
@import "compass/css3/transition";

$maingreen:#356618;
$subgreen:#d9eacf;
$fontbrown:#8f7358;

/*-----default-----------------------------------*/
body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;line-height:100%;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ol,ul{list-style:none;margin:0;padding:0;}
hr{margin:0px;}
img{max-width:100%;height:auto;}
div,p,span{line-height:inherit;}

/*-----basic-----------------------------------*/
html{overflow:-moz-scrollbars-vertical; overflow-y:scroll;z-index: 999;font-size:15px;}
body{font-family: Arila, "Microsoft JhengHei", "PMingLiU", sans-serif;color:#000;background:#d2d2ca;}
a,a:hover,a:focus{color:#000;text-decoration:none;}

/*-----global-----------------------------------*/
.wrapper{
	background:#fff;
	border:10px solid $maingreen;
	padding:0;
}

#header{
	.title{
		text-align:center;
		padding:15px 0;
		h1 a{
			font-size:30px;
			line-height:40px;
			color: $maingreen;
			span{
				margin-left:10px;
			}
			img{
				height:40px;
				line-height:40px;
				width:auto;
				margin: -4px 0 0 20px;
			}
		}
	}
	.menu{
		background:#4b4b4b;
		nav ul li{
			display:inline-block;
			text-align:center;
			padding:0;
			a{
				display:block;
				height:50px;
				line-height:50px;
				font-size:20px;
				color:#fff;
				&:hover{
					background:$subgreen;
					color: $maingreen;
					@include transition(all 0.7s ease);
				}
			}
			a.nowpage{
				background:#96b285;
				color: $maingreen;
			}
		}
	}
}
#footer{
	background: $maingreen;
	padding:10px 0;
	p{
		text-align:center;
		font-size:12px;
		color:#fff;
		height:16px;
		line-height:16px;
	}
}










/*=====RWD===================================*/
/*768↓（480~768）*/
@media (max-width:767px){
	#header{
		.title h1 a{
			font-size:20px;
			img{
				margin-left:10px;
			}
		}
		button{
			position:absolute;
			top:15px;
			right:0px;
			font-size:25px;
		}
		.menu nav{
			border-top:0 none;
			ul li{
				display:block;
			}
		}

	}
}



/*480↓*/
@media (max-width:479px){
	#header{
		button{
			top:20px;
		}
		.title h1 a{
			line-height:30px;
			span{
				display:block;
				margin-left:0;
			}
			img{
				margin:0;
				position:absolute;
				top:20px;
				left:20px;
			}
		} 

	}
}



/*768~979*/
@media (min-width:768px) and (max-width:979px){
}



/*980↑（980~1279）*/
@media (min-width:980px){
}



/*1280↑*/
@media (min-width:1280px){
}
