@import "css.scss";

/*-----banner-----------------------------------*/
.banner{
	position:relative;
	img{
		width:100%;
	}
	&:after{
		content:"我們營造一個適合工作 x 交流 x 悠閒的空間。期許在這邊發生意外的插曲";
		position:absolute;
		bottom:0;
		left:0;
		background:rgba(0,0,0,0.7);
		color:#fff;
		font-size:20px;
		padding:15px;
		width:100%;
		line-height:30px;
		text-align:center;
	}
}
/*-----about-----------------------------------*/
.about{
	background:$maingreen;
	color:#fff;
	padding:20px 0;
	.owl-item{
		.item{
			.col-sm-4{
				text-align:center;
				i{
					margin-top:35px;
					font-size:60px;
				}
			}
			.col-sm-8{
				h4{
					color:#cbd287;
					font-size:20px;
					padding:15px 0;
				}
				p{
					font-size:16px;
					line-height:24px;
					padding-bottom:10px;
				}
			}
		}
	}
}
/*-----service-----------------------------------*/
.service{
	margin:20px 25px;
	border-bottom:2px solid lighten($fontbrown,50%);
	h3{
		background:$subgreen;
		border-bottom:1px solid darken($subgreen,30%);
		color:$fontbrown;
		padding:10px 15px;
		font-size:25px;
	}
	.row{
		padding:20px 0;
		h4{
			color:$fontbrown;
			font-size:20px;
			padding:20px 0;
		}
		p{
			font-size:15px;
			line-height:20px;
			padding-bottom:30px;
		}

	}
}
/*-----pay-----------------------------------*/
.pay{
	margin:20px 25px;
	.imgbg{
		background-image:url(../img/pay.jpg);
		background-repeat:no-repeat;
		background-size:cover;
		background-origin:content-box;
	}
	.content{
		h4{
			background:$subgreen;
			border-bottom:1px solid darken($subgreen,30%);
			color:$fontbrown;
			padding:10px 15px;
			font-size:20px;
		}
		ul li{
			font-size:16px;
			line-height:24px;
			padding:15px 0;
		}
	}
}
/*-----contact-----------------------------------*/
.contact{
	background:$subgreen;
	border-top:1px solid $maingreen;
	.row{
		margin:0;
		div{
			padding:20px;
			h4{
				font-size:20px;
				padding-bottom:20px
			}
			p,
			ul li{
				font-size:14px;
				line-height:20px;
				padding-bottom:5px;
			}
		}
	}
}










/*=====RWD===================================*/
/*768↓（480~768）*/
@media (max-width:767px){
	.banner:after{
			font-size:16px;
			padding:10px;
			line-height:22px;
	}
	.about .item i{
		margin-top:10px;
		margin-bottom:15px;
	}
	.pay{
		.imgbg{
			background:transparent;
		}
	}

}



/*480↓*/
@media (max-width:479px){
}



/*768~979*/
@media (min-width:768px) and (max-width:979px){
}



/*980↑（980~1279）*/
@media (min-width:980px){
}



/*1280↑*/
@media (min-width:1280px){
	.about{
		.owl-item{
			&:last-child{
				.item .col-sm-8{
					border-right:0 none;
				}
			}
			.item{
				.col-sm-8{
					padding-right:20px;
					border-right:1px solid $subgreen;
				}
			}
		}
	}
	.contact{
		.row{
			div{
				border-right:1px solid $maingreen;
				&:last-child{
					border-right:0 none;
				}
			}
		}
	}

}
