* {
    outline: 1px solid;
}


.navbar {
    background-color: #4b4b4b;
    color: #e4e899;
}

.nav-link {
    color: #e4e899;
    text-align: center;

}

.nav-link.active {
    color: #356618;
    background-color: #96b285;
}

.nav-item:hover {
    background-color: #dce9d4;
    color: #4b4b4b;
}

.section-caption {
    position: absolute;
    bottom: 0px;
    z-index: 10;
    color: #fff;
    text-align: left;
    background-color: #222222aa;
}

.section-caption h3 {
    color: #e4e899;
}

.section-caption p {
    margin-bottom: 0;
}

section .figure-caption h3 {
    color: #e4e899;
    font-size: 110%;
}

section .mid-pic {
    border-right: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
}

section .figure-caption p {
    color: #fff;
}

article {
    background-color: #fff;
}

article h2 {
    background-color: #dce9d4;
    color: #640a00;
    font-weight: normal;
    font-size: 120%;
    text-shadow: 1px 1px white;
    border-bottom: 2px solid #B2C6A0;

}

article h3 {
    color: #640a00;
    font-size: 120%;
    font-weight: normal;
}

article img {
    width: 95%;
}

.footer-content {
    background-color: #dce9d4;
}

footer h3 {
    color: gray;
    font-size: 120%;
    font-weight: normal;
    text-shadow: 1px 1px white;
}

footer ul {
    list-style: none;

}

.footer-content p {
    color: gray;
}

.footer-content a {
    color: gray;
}

.footer-content .col-lg {
    border: 1px solid #B2C6A0;
}

i {
    color: #356618;

}

