/** {
    outline: 1px solid;
}
*/
#template {
    position: absolute;
    opacity: 0.4;
    z-index: 0;
    width: 100%;
}

p {
    margin: 0;
}

body {
    background-image: url(../img/bg-body.jpg);
}

.whole_container {
    background-color: #356618;
}

h1 a {
    width: 70%;
}

h1 a img {
    width: 100%;
}

h1 button {
    margin: auto;
}

.nav_style a {
    width: 100%;
}

.figure_box {
    flex: 0 0 100%;
}

.figure_box figure {
    flex: 0 0 100%;
    flex-wrap: wrap;
}

.figure_box figcaption {
    margin-top: 1rem;
}

.figure_box img {
    width: 100%;
}

.garden_list_card figure {
    flex: 1 0 100%;
}

ol {
    padding-left: 1.2rem;
}

.nav_style {
    background-color: #4b4b4b;
    color: #e4e899;
}

.nav_style a {
    color: #e4e899;
    text-align: center;

}

.nav_style a.active {
    color: #356618;
    background-color: #96b285;
}

.nav_style a:hover {
    background-color: #dce9d4;
    color: #4b4b4b;
}

.section_caption {
    position: absolute;
    bottom: 0px;
    z-index: 10;
    color: #fff;
    text-align: left;
    background-color: #222222aa;
}

.section_caption h3 {
    color: #e4e899;
}

.section_caption p {
    margin-bottom: 0;
}

.section_caption a {
    display: inline-block;
}

.section_caption i {
    background: #7d8d90;
    border-radius: 1.5rem;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    line-height: 1.3rem;
    color: white;
}

.figure_box h3 {
    color: #e4e899;
}

.figure_box p {
    color: #fff;
}

article {
    background-color: #fff;
}

.garden_list_card figure {
    margin: 0;
}

article h2 {
    background-color: #dce9d4;
    color: #640a00;
    font-weight: normal;
    text-shadow: 1px 1px white;
    border-bottom: 2px solid #B2C6A0;
}

article h3 {
    color: #640a00;
    font-weight: normal;
}

article p {
    margin: 0;
}

ol {
    font-weight: bold;
}

ol span {
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    padding-left: 0.5rem;
}

.footer_content {
    background-color: #dce9d4;
}

footer h4 {
    color: gray;
    font-weight: normal;
    text-shadow: 1px 1px white;
}

.footer_content p,
.footer_content a {
    color: gray;
}

.footer_content {
    border: 0.5px solid #B2C6A0;
}

.footer_content .col-lg {
    border: 0.5px solid #B2C6A0;
}

.connect_list {
    list-style: none;
}

.connect_list i {
    color: #356618;
    font-size: 1.5rem;
    vertical-align: middle;
}

.connect_list a {
    display: inline-block;
}

.connect_list li a span {

    vertical-align: middle;
    font-size: 1rem;
}

.copyright {
    text-align: center;
}

.new_line::after {
    content: '\A';
    white-space: pre;
}

@media (min-width: 768px) {
    h1 a {
        flex: 0 0 50%;
    }

    h1 a img {
        width: 100%;
    }

    .nav_style a {
        flex: 1 0 0;
    }

    .figure_box {
        flex: 1 0 0;
        padding: 0 1.5rem;
    }

    .figure_box figure {
        flex: 0 0 100%;
        flex-wrap: wrap;
        margin: 0;
    }

    .figure_box figcaption {
        text-align: center;
    }

    .mid_pic {
        border-right: 1px solid black;
        border-left: 1px solid black;
    }

    .garden_list_card figure {
        flex: 1 0 50%;
    }

    nav a {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .section_caption h3 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }

    ol {
        font-size: 1rem;
        padding-left: 1.2rem;
    }

    ul {
        font-size: 1rem;
    }

    footer i {
        width: 1.3rem;
        font-size: 1.3rem;

    }

    .new_line::after {
        content: '|';
    }

}

@media (min-width: 992px) {

    .whole_container {
        max-width: 75%;
    }

    .figure_box figcaption {
        text-align: center;
    }

    .section_caption h3 {
        font-size: 2rem;
    }

    .tip_list {
        flex: 0 0 50%;
    }

    .tip_pic {
        flex: 0 0 50%;
    }

    ol {
        font-size: 1rem;
        padding-left: 1.1rem;
    }

}

@media (min-width: 1200px) {

    .figure_box figure {
        flex: 1 0 0;
        flex-wrap: nowrap;
        margin: 0;
    }


    .figure_box figcaption {
        padding-left: 1rem;
        text-align: left;
        margin-top: 0px;
    }

    .figure_box img {
        width: 60%;
        height: 60%;
    }

    .garden_list_card figure {
        flex: 1 0 0;
    }

    .tip_list {
        flex: 0 0 63%;
    }

    .tip_pic {
        flex: 0 0 37%;
    }
}