body {
	background: url(img/bg-body.jpg) repeat;
    color: #356618;
    min-width: 940px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


p{
	line-height: 20px;
}

h2{
	font-size:16px;
	font-weight:bold;
	line-height: 30px;
	letter-spacing:1px;
}

h3{
	color: #836145;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 24px 0 10px;
    text-transform: uppercase;
	line-height: 25px;
	letter-spacing:2px;
}

h4{
	font-size:14px;
	font-weight:normal;
	line-height: 20px;
	letter-spacing:6px;
}

#page{
	background: #356618;
    margin: 0 auto;
    padding: 0 20px;
    width: 940px;
}

header{
	margin: 0 auto;
	background-color: #fff;
	width: 100%;
}

header ul{
	background: #4b4b4b;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 900px;
}

header ul li{
    font-family: 'Cantarell', sans-serif;
	float: left;
    position: relative;
    padding: 15px 0;
    text-align: center;
	text-decoration: none;
	font-size: 15px;
	color: #f0f2c9;
}


header ul li:visited{
	color: #f0f2c9;
    display: block;
    letter-spacing: 2px;
    line-height: 49px;
    text-align: center;
    text-decoration: none;
}

header ul li:hover{
	background: #3D9506;
	color: #1b330c;
	text-decoration: none;
}

header ul li:active{
	background: #96b285;
	color: #356618;
	text-decoration: none;
}

a{	
	letter-spacing: 2px;
	color: #f0f2c9;
	text-decoration: none;
}

a:visited{
	color: #f0f2c9;
	text-decoration: none;
}


a:hover{
	color: #1b330c;
	text-decoration: none;
}

a:active{
	color: #356618;
	text-decoration: none;
}

#logo{
	display: block;
    padding: 15px 0 10px 15px;
}

#logo img{
	display: block;
    margin: 0 auto 15px auto;
}

#banner{
	background: url(img/gardening1.jpg) no-repeat;
	width: 900px;
	height: 431px;
	position: relative;
}




#gardeningTips h1 a{
	font-color: #f0f2c9;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

a.continue{
	background: url(img/interface.png) no-repeat -400px 0;
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    left: 3px;
}
a.continue:hover{
	background: url(img/interface.png) no-repeat -400px -20px;
    display: inline-block;
    height: 20px;
    width: 20px;
}

#gardeningTips p{
	margin-top:10px;
	color: #fff;

}


#gardeningTips{
	padding:20px 30px;
	position: absolute;
	margin-top:314px; 
	background-color: rgba(0,0,0,0.5);
}

#subItem{
	width: 900px;
	height: 127px;
	color: #fff;
	background-color: #356618;
	padding-top:15px; 
}

#subItem ul li{
	float: left;

}

#subItem img{
	float: left;
    border: 1px solid #ffffff;
    margin: 0 10px;
}


#featuredGardens{
	padding: 25px;
	background-color: #fff;
}

#featuredGardens h2{
	background: #dce9d4;
    border-bottom: 2px solid #b3cca4;
    color: #836145;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 37px;
    margin: 0 0px 10px 0px;
    padding: 0 0 0 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #ffffff;
}

#featuredGardens img{
	margin-top:10px; 
	width: 100%;
}

#tipWeek{
	clear: both;
	background-color: #fff;
	width: 900px;
	height: 290px;
	padding: 30px 25px; 
	border-top: 1px solid #92BA7A;
}

#tipPic {
	float: left;
}

#tipContent {
	float: right;
	width: 550px;
	padding-left: 30px;
}

ol{
	list-style-type: decimal;
	margin-left:20px; 
}

#tipContent h2{
	background: #dce9d4;
    border-bottom: 2px solid #b3cca4;
    color: #836145;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 37px;
    margin: 0;
    padding: 0 0 0 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #ffffff;
}

#tipContent li{
	line-height: 25px;
	padding-top: 15px; 
}


footer{  
	clear: both;
	background: #dce9d4;
    border-top: 1px solid #92BA7A;

}

#footer div{
	border-left: 1px solid #b8d0aa;
	height: 180px;
	padding-top:20px;
	padding-left: 25px;
}

footer a{
    display: block;
	color: #8c8c8c;
    letter-spacing: 2px;
    text-decoration: none;
}

footer a:visited{
	color: #2C5318;
}


a#mail{
	background: url(img/icons.png) no-repeat;
    height: 14px;
    line-height: 14px;
    margin: 0 0 10px;
    padding: 0 0 0 30px;
}

a#facebook{
	background: url(img/icons.png) no-repeat 0 -38px;
    height: 20px;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 0 0 0 30px;
}

a#twitter{
	background: url(img/icons.png) no-repeat 0 -88px;
    height: 18px;
    line-height: 18px;
    margin: 0 0 10px;
    padding: 0 0 0 30px;
}

a#google{
	background: url(img/icons.png) no-repeat 0 -134px;
    height: 20px;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 0 0 0 30px;
}

#copyright{
	color: #fff;
	clear: both;
	line-height: 40px;
	text-align: center;
	letter-spacing:2px;
}