html,body,h1,h2,h3,p,div,ul,ol,li {
	padding: 0;
	margin: 0;
}

body {
	background:url(../img/bg-body.jpg);
}

#wrapper {
	width: 900px;
	height: auto;
	margin: 0 auto;
	background-color: #006400;
}

/*header*/
#header {
	height: 100px;
	width: 95%;
	margin: 0 auto;
	background-color: white; 
}

#header img {
	position: relative;
	left: 200px;
	top: 20px;
}

/*nav*/

#nav {
	width: 95%;
	height: 50px;
	margin: 0 auto;
	background-color: #808080;
	text-align: center;
}

#nav li{
	display: inline-block;
	height: 80px;
	line-height: 50px;
	
}

#nav a {
	text-decoration: none;
	color: white;
	display: block;
	width: 55px;
	padding: 0 42px;
}

#nav a:hover {
	background-color: #90ee90;
}

/*main*/

#main {
	width: 95%;
	height: 431px;
	margin: 0 auto;
	background: url(../img/gardening1.jpg) no-repeat;
}

#main #tip {
	height: 100px;
	background-color: rgba(20,20,20,0.5);
	position: relative;
	top: 323px;
	color: white;
	padding: 8px 15px 0 15px;
}

#main #tip h1 {
	color: #f0e68c;
}

/*mid*/
#mid {
	height: 100px;
	width: 95%;
	margin: 0 auto;

}

.co3 {
	float: left;
	margin: 20px;
	width: 240px;
	display: inline-block;
	color: white;
	border-right: dashed;
}

.co3 img {
	float: left;
	margin-right: 10px;
	height: 70px; 
}

.co3 h3 {
	color: #ffff00;
}

/*in-wrapper*/
#in-wrapper {
	width: 95%;
	margin: 0 auto ;
	background-color: white;
	padding-top: 20px; 
}

#in-header {
	height: 30px;
	width: 95%;
	margin: 0 auto;
	background-color: #98fb98;
	border-bottom: solid #3cb371; 
}

#in-header h3{
	padding: 5px 0 0 15px;
}

#pic4{
	width: 95%;
	margin: 10px auto;
	border-bottom:solid #9D8F8F; 
}

.co4-1 {
	float: left;
	margin-right: 20px;
	 
}
#co4-1-l {
	margin-right: 0;
}

#pic4 img {
	height: 180px;
}

.co4-2 {
	width: 180px;
	float: left;
	margin-right: 28px;
	padding: 10px 0;
}
#co4-2-l {
	margin-right: 0;
}
.cl {
	clear: both;
}

#pic1txt1 {
	width: 95%;
	margin: 0 auto;
}

#fong {
	float: left;
	margin: 0;
}

#in-header-2 {
	float: right;
	height: 30px;
	width: 450px;
	margin: 0 10px 30px;
	background-color: #98fb98;
	border-bottom: solid #3cb371; 
	padding: 0 20px;
}

#in-header-2 h3 {
	padding: 5px 0 0 15px;
}

#txt1 {
	width: 750px;
	margin-left: 40px;

}

#txt1 ol {
	margin-left: 290px;

}

#txt1 li {
	padding-top: 10px;
	padding-bottom: 25px;
}

.col4 {
	float: left;
	
	border-left: solid #B2F59D;
	padding:0 20px;
}

.link4 {
	display: block;
	background: url(../img/icons.png);
	height: 17px;
	width: 23px;

}
#email{
	float: left;

}

#fb {
	clear: left;
	float: left;
	background-position: 0 -40px;
}

#twi {
	clear: left;
	float: left;
	background-position: 0 -88px;
}

#goo {
	clear: left;
	float: left;
	background-position: 0 -135px;
}

/*frontfooter*/

#frontfooter {
	padding: 10px 0;
	width: 95%;
	margin:0 auto;
	height: 100px;
	background-color: #D1F4EF;
	color: #4C4747;
}

#frontfooter h2{
	font-size: 0.9em;
}

#footer {
	width: 95%;
	margin:0 auto;
	text-align: center;
	color: white;
}