/* 
576 sm
768 md
992 lg
1200 xl
1400 xxl
*/

:root {
  --whole-contents-bg-color: rgb(50, 102, 17);
  --navlink-color: rgb(244, 245, 204);
  --navlink-bg-color: rgb(74, 74, 74);
  --navlink-color-hover: rgb(30, 35, 27);
  --navlink-bg-color-hover: rgb(219, 234, 209);
  --navlink-active-color: rgb(54, 106, 20);
  --navlink-active-bg-color: rgb(151, 180, 133);
  --carousel-caption-color: rgb(229, 232, 155);
  --carousel-caption-bg-color: rgb(0, 0, 0, 0.5);
  --arrow-right-bg-color: rgb(124, 145, 148);
  --thumbnail-caption-color: rgb(224, 228, 151);
  --thumbnail-border-color: rgb(255, 255, 255, 0.2);
  --weeknews-title-color: rgb(127, 82, 31);
  --weeknews-title-bg-color: rgb(220, 233, 213);
  --weeknews-title-border-color: rgb(176, 202, 158);
  --weektips-border-color: rgb(0, 0, 0, 0.2);
  --contacts-text-color: rgb(0, 0, 0, 0.5);
}

body {
  background-image: url(./img/bg-body.jpg);
}

ol {
  padding-left: 1rem;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

/* reset */

.whole_contents {
  background-color: var(--whole-contents-bg-color);
  padding: 0 1rem;
}

/* whole contents container */

nav {
  background-color: snow;
}

.my_nav.navbar {
  padding: 0;
}

.my_nav.navbar .container-fluid {
  padding: 0;
  flex-wrap: wrap;
}

h1.logo {
  line-height: 1;
  font-size: 1.25rem; /* font-size same as bs nav-brand a tag size */
  padding: 1rem 0;
  margin: 0 1rem;
  flex: 10 0 0;
}

.logo > a {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 100%;
  object-fit: cover;
}

.my_nav.navbar-light .navbar-toggler {
  margin: 0 1rem;
  padding: 0 0.5rem;
  flex: 1 0 0;
}

.my_nav.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}

.my_nav .navbar-nav {
  flex: 1;
  text-align: center;
}

.my_nav .navbar-nav a {
  flex: 1;
}

.my_nav.navbar-light .navbar-nav .nav-link {
  color: var(--navlink-color);
  background-color: var(--navlink-bg-color);
}

.my_nav.navbar-light .navbar-nav .nav-link:hover {
  color: var(--navlink-color-hover);
  background-color: var(--navlink-bg-color-hover);
}

.my_nav.navbar-light .navbar-nav .nav-link.active {
  color: var(--navlink-active-color);
  background-color: var(--navlink-active-bg-color);
}

/* navbar */

.my_carousel .carousel-item {
  height: 40vh;
}

.my_carousel .carousel-item img {
  object-fit: cover;
  height: inherit;
}

.my_carousel .carousel-caption {
  background-color: var(--carousel-caption-bg-color);
  padding: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: start;
  z-index: 99;
}

.my_carousel .carousel-caption h2 {
  margin-bottom: 0;
  color: var(--navlink-color);
  text-transform: uppercase;
}

.my_carousel .carousel-caption a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my_carousel .carousel-caption a span {
  display: inline-block;
  background-color: var(--arrow-right-bg-color);
  width: 1.5rem;
  border-radius: 20px;
  text-align: center;
}

/* carousel */

.thumbnails .container-fluid {
  padding: 1rem 0;
}

.thumbnail {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.thumbnails_contents .thumbnail:not(:first-child) {
  margin-top: 1rem;
}

.thumbnail_img {
  min-width: 100px;
}

.thumbnail_img a {
  display: inline-block;
  width: 100%;
  border: 1px solid snow;
}

.thumbnail_img a img {
  width: 100%;
  object-fit: cover;
}

.thumbnail_texts h2 {
  color: var(--thumbnail-caption-color);
  font-size: 1.25rem;
  margin-bottom: 0;
}

.thumbnail_texts p {
  color: snow;
  margin-bottom: 0;
}

/* thumbnails */

.week_news {
  background-color: snow;
  padding: 1rem;
}

.week_news h2 {
  padding: 0.5rem 1rem;
  border-bottom: 0.2rem solid var(--weeknews-title-border-color);
  color: var(--weeknews-title-color);
  background-color: var(--weeknews-title-bg-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.week_news > div:not(:first-child) {
  padding-top: 1rem;
  border-top: 1px solid var(--weektips-border-color);
}

.week_news > .container-fluid {
  padding: 0;
}

.featured_gardens_cards {
  margin-top: 1rem;
}

.my_card.card {
  border: none;
}

.my_card.card a {
  display: inline-block;
}

.my_card .card-img-top {
  border-radius: 0;
  object-fit: cover;
}

.my_card .card-body {
  padding: 1rem 0;
}

.my_card.card h3 {
  color: var(--weeknews-title-color);
  font-size: 1.25rem;
  text-transform: uppercase;
}

.tips_img {
  width: 100%;
  object-fit: cover;
}

.tips_texts ol {
  margin-top: 1rem;
}

.tips_texts ol li::marker {
  font-weight: 600;
}

.tips_texts li:not(:first-child) {
  margin-top: 1rem;
}

.to_last_order_md {
  order: 99;
}

/* weeknews */

.contacts {
  background-color: var(--weeknews-title-bg-color);
}

.contacts_content {
  display: flex;
  flex-wrap: wrap;
  color: var(--contacts-text-color);
}

.contacts_content > div {
  flex: 1 0 100%;
  padding: 1rem;
}

.contacts_content > div:not(:first-child) {
  border-top: 0.1rem solid var(--weektips-border-color);
}

.contacts_content h2 {
  margin: 0;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.contacts_content p {
  margin: 1rem 0 0 0;
}

.contacts .social_links {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
}

.contacts_content .social_links a {
  display: block;
  flex: 1 0 50%;
}

.contacts_content .social_links i {
  font-size: 1.25rem;
  color: var(--whole-contents-bg-color);
}

/* contacts */

.copyright p {
  padding: 0.5rem 0;
  margin: 0;
  color: snow;
  text-align: center;
  text-transform: capitalize;
}

/* copyright */

@media (min-width: 576px) {
  .my_nav.navbar-light .navbar-toggler {
    padding: 0.5rem;
    font-size: 1.25rem;
  }

  .my_carousel .carousel-caption a {
    white-space: normal;
    overflow: visible;
  }

  .contacts_content > div {
    flex: 1 0 50%;
  }

  .contacts_content > div:nth-child(1n) {
    border: none;
  }

  .contacts_content > div:nth-child(3),
  .contacts_content > div:nth-child(4) {
    border-top: 0.1rem solid var(--weektips-border-color);
  }

  .contacts_content > div:nth-child(2n) {
    border-left: 0.1rem solid var(--weektips-border-color);
  }
}

@media (min-width: 768px) {
  h1.logo {
    margin: 0;
    flex-basis: 100%;
    text-align: center;
  }

  .thumbnails_contents .thumbnail {
    padding: 0 1rem;
  }

  .thumbnails_contents .thumbnail:not(:first-child) {
    border-left: 0.1rem solid var(--thumbnail-border-color);
    margin: 0;
  }

  .to_last_order_md {
    order: 0;
  }

  .contacts_content > div {
    flex: 1 0 25%;
  }

  .contacts_content > div:nth-child(1n) {
    border: none;
  }

  .contacts_content > div:not(:first-child) {
    border-left: 0.1rem solid var(--weektips-border-color);
  }

  .contacts_content .social_links a {
    flex: 1 0 100%;
  }
}

/* media queries */
