* {
    padding: 0px;
    margin: 0px;
}
/*---------logo----------*/
.container{
  background-color: rgba(136, 107, 104, 0.45);

}
.title{
      text-align: right;
}
.title > h1{
  width:50%;
  font-size:30px;
  margin-bottom: 0;
}
.title>h2{
  width:50%;
  font-size:20px;
  margin-top: 0;
}
.title>img{
height: 50px;
width:auto;
}

.nav>a{
    font-size:20px;
  text-align: center;
  color:#3D454C;
  background:rgba(37, 34, 34, 0.45);
}
.nav>a:hover{
    background-color:rgba(2, 2, 2, 0.45);

}
.headimg>img{
  max-width: 100%;
  background-size: cover;

}
.headtip{
  color:#842C15;
  background-color:rgba(101, 96, 96, 0.5);
  padding-left:15px;
  padding-right:15px;
  bottom:0;
  position:absolute;
}
.headtip>p{
  padding-right:1%;
  padding-left:1%;
  font-size:15px;
}
/*--------------body---------------*/
body{
  background-color: #A7A19E;
}
.center-border>img{
  max-width: 100%;
  margin-top: 20px;
margin-bottom: 10px;
}
.center-text>h1{
  font-size:25px;
}
.center-text{
  font-size: 15px;
}
.service{
  border-bottom: 4px solid #3E312F;
}

.row>h3{
  text-align: center;
  border-top:2px solid #3E312F;
  border-bottom: 2px solid #3E312F;
  background-color: #7F7776;
  padding: 5px 15px;
  color:#3D454C;
}
.service-border{
  margin-bottom: 40px;

}
.service-border >h1{
  font-size:20px;
  color:#8f7358;
}

.service-border>p{
  font-size:15px;
}
.service-border > img{
  max-width: 100%;
}
.pay{
  border-bottom:2px solid #3E312F;
}
.pay-left{
  margin-top:20px;
}
.pay-right{
}
.pay-right>ul>li{
  font-size:20px;
  letter-spacing: 2px;
}
.pay-right>h1{margin-top: 0;
    font-size: 30px;
    background-color: #7F7776;
    color: #3D454C;
border: 2px solid #3E312F;
}
/*--------------footer-------------*/
.footer{
  background-color:#927878;
}
.foot>h1{
  font-size: 25px;
}
.foot>ul{
  list-style-type :none;
   line-height: 24px;
}
.foot>ul>li>a{
  color:#424141;
}
.container>p{
  text-align: center;
}
