
/* *{
    outline: 1px red solid;
}  */
body{
    background: url(img/bg-body.jpg),repeat;
    min-width: 320px;
}
.modified_container{
    background-color: rgb(50,102,23);
    padding:0px 24px;
}
/* css reset */
h1,h2,h3,p{
    padding: 0;
    margin: 0;
}
/* header */
h1{ padding: 24px 0px;
    background-color: #fff;
    text-align: center;
    font-size: 25px;
}
.container header a{
    display: block;
}
.container header{
    margin-bottom: 5px;
}
header a:hover{
    background-color: #DBF3C5;
    color:#68635D;
}
    
h1 img{
    object-fit: contain;
    max-width: 100%;
}
.menu .navbar-collapse .navbar-nav .nav-link{
    color:rgba(219,232,154);
}
.menu .navbar-collapse .navbar-nav .nav-link:hover{
    color:#68635D;
}
.menu{
    background-color: rgba(74,74,74);
    text-align: center;
    padding: 0;
}
.menu ul{
    flex-basis: 100%;
    justify-content:space-between;
    padding:0;
    margin: 0;
}
@media(min-width: 576px){
    .menu ul{
        flex-basis: 100%;
        justify-content:space-between;
        padding:0;
    }
}
@media(min-width: 576px){
    .menu ul{
        border-bottom: 1px solid #fff;
    }

}
@media(min-width: 576px){
    .menu .collapse a{
        line-height: 40px;
    }
}
@media(min-width: 576px){
    .menu ul li{
        flex-grow: 4;
    }
}
@media(min-width: 576px){
    .menu div{
        padding: 0;
    }

}
header button{
    margin: 0 auto;
    width: 100%;
}
.menu_button:focus{
    box-shadow: none;
}
@media(min-width: 576px){
    #nav_home{
        background-color: #aad397;
    }
   
}
@media(min-width: 576px){
    #nav_home a{
        color:rgb(50,102,23);
    }

}

/* carousel-inner */
@media(min-width: 576px){
    .banner_inner p{
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
@media(min-width: 992px){
    .banner_inner p{
        overflow:visible;
        white-space: unset;
    }
}

h2{
    color:rgb(235,237,159);
}
.banner_inner a{
    color:rgb(118,141,144)
}
.banner_inner{
    background-color: rgba(000,000, 000, 0.6);
    position: relative;
    right: 0;
    left: 0;
    bottom:0;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
}

@media(min-width: 576px){
    .banner_inner{
        background-color: rgba(000,000, 000, 0.6);
        position: absolute;
        right: 0;
        left: 0;
        bottom:0;
        padding-left: 24px;
        padding-right: 24px;
        text-align: left;
    }
}

/*banner_cards */
h5{
    color:rgb(235,237,159);
    font-size: 20px;
    margin-bottom: 24px;
}
@media(min-width: 576px){
    h5{
        font-size: 16px;
    }
}
.banner_card{
    margin-top:24px;
    margin-bottom: 24px;
}
/* .wrap_img{
    border:3px solid #fff;
} */
.banner_card p{
    color:#fff;
    font-size: 14px;
}

.banner_card img{
    max-width: 100%;
}
/* @media(min-width: 576px){
    .banner_card img{
        width: 100%;
    }
} */
.banner_card .card{
    text-align: center;
    padding-left: 0;
    background-color: rgb(50,102,23);
    border: 0;
}

@media(min-width: 992px){
    .banner_card .card{
        text-align: initial;
        padding-left: 24px;
        padding-right:24px;
    }
}
.banner_card .card img{
    border: 2px solid #fff;
}

.banner_card .card-body{
    padding:0 ;
    text-align: initial;
}


@media(min-width: 992px){
    .banner_card .card-body{
        padding:0 0 0 24px;
    }
}
@media(min-width: 576px){
    .banner_card .card-title{
        margin-bottom: 12px;
    }
}

@media(min-width: 992px){
    .banner_card .border_right{
        border-right: 1px solid rgba(231, 231, 224, 0.5);
        border-radius: 0;
    }
}

/* .banner_card .card{
    margin-bottom: 20px;
}
@media(min-width:768px){
    .banner_card .card{
        margin-bottom: 0px;
    }
} */
.wrap_card{
    margin-bottom: 24px;
}
@media(min-width: 992px){
    .wrap_card{
        margin-bottom: 0;
    }
}
/* content */
.content{
    background-color: #fff;
    padding: 24px
}
/*featured-garden */
@media(min-width: 576px){
    .featured-gardens img{
        width:100% ;
        object-fit: contain;
    }
}
h3{ 
    background-color:#d1ecd2;
    font-size: 22px;
    color:#900C3F;
    font-family: sans-serif;
    border-bottom: solid;
    border-color: #8dc48fe5;
    margin-bottom: 24px;
    text-align: center;
    line-height: 48px;
}
@media(min-width: 992px){
    h3{
        text-align: left;
        padding-left: 24px;
    }
}
h6{
    font-size: 20px;
    color:#900C3F;
    font-family: sans-serif;
}
@media(min-width: 576px){
    h6{font-size: 15px;}
}
.featured-gardens img{
    margin-bottom: 24px;
}
.featured-gardens {
    padding-bottom: 24px;
}
.featured-gardens{
    border-bottom:  2px solid rgb(206, 205, 201);
}
.featured-gardens div{
    margin-bottom: 20px;
}
@media(min-width: 576px){
    margin-bottom: 0;
}
.featured-gardens div{
    text-align: center;
}
@media(min-width: 576px){
    .featured-gardens div{
        text-align: initial;
    }

}
.featured-gardens p{
    text-align: left;
}
/* tips_week */
.tips_week{
    margin-top: 24px;
    flex-direction: column-reverse;
}
@media(min-width: 576px){
    .tips_week{
        flex-direction: row;
    }
}
/* .tips_week ol{
    margin-bottom: 24px;
} */
.tips_week img{
    max-width:100% ;
}
@media(min-width: 576px){
    .tips_week img{
        width: 100%;
    }
}
.tips_week_img{
    text-align: center;
}
@media(min-width: 576px){
    .tips_week_img{
        text-align: left;
    }
}
.tips_week_img{
    align-self: center;
}
@media(min-width: 992px){
    .tips_week_img{
        align-self: auto;
    }
}
@media(min-width: 768x){
    .tips_week_img{
        align-self: flex-start;
    }
}
.tips_week ol{
    width: calc(100% - 18px)
}
.tips_week li{
    position: relative;
    left: 18px;
}
.tips_week li+li{
    margin-top: 24px;
}
.tips_week li::marker{
    font-weight: 600;
}
.tips_title{
    left: 24px;
}
.tips_week_text{
    margin-left: 24px;
}
/* 練習 */
/* .tips_week ol{
    counter-reset: num;
}
.tips_week li:before{
    content:counter(num) '. ';
    counter-increment: num;
    font-weight: 600;
    padding-right: 10px;

} */
.tips_week ol{
    padding: 0;
}
.tips_img li{
    list-style-position: inside;
}

.tips_title{
    padding-left: 24px;
}
/* footer_mobile */
h4{
    color:rgb(124,121,126);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
}
.footer_mobile{
    margin-bottom: 24px;
}
@media(min-width: 992px){
.footer_mobile{
    display: none;
    }
}

.footer_mobile button{
    width: 100%;
    background-color: #8dc48fe5;
    border: 1px solid rgb(65, 85, 66);
}
.footer_mobile ul{
    text-align: center;
    width: 100%;
    padding: 0;
}
.footer_mobile button:hover{
    background-color: rgb(99, 122, 119);
    color:#fff;
}
.footer_mobile button:focus{
    box-shadow: none;
}
.footer_mobile a{
    color:grey;
}
.footer_mobile a:hover{
    color:red;
}
.footer_mobile .card-body{
    background-color: rgb(187, 212, 176)
}
/* footer_pc */
.footer_pc >div{
    padding-left: 24px;
    padding-top: 24px;
}
.footer_pc{
    border-top: 2px solid #8dc48fe5;
    border-bottom: 2px solid #8dc48fe5 ;
    display: none;
    background-color: rgb(209,236,210);
    margin-bottom: 24px;
}
@media(min-width: 992px){
    .footer_pc .col+.col{
        border-left:2px solid #8dc48fe5;
    }
}


.footer_pc div+div{
    border-left: 2px solid #8dc48fe5;
}
@media(min-width: 992px){
    .footer_pc{
        display: flex;
    }
}
@media(min-width: 576px){
    .footer_pc h4{
        font-size: 18px;
    }
}
@media(min-width: 992px){
    .footer_pc h4{
        font-size: 22px;
    }
}
.footer_pc p{
    font-size: 12px;
    margin-bottom: 15px;
}
@media(min-width: 992px){
    .footer_pc p{
        font-size: 16px;
    }
}
.footer_pc a{
    display: block;
    color:rgb(50,102,23);
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 10px;
}

@media(min-width: 992px){
    .footer_pc a{
        font-size: 16px;
    }
}
.pc_connect a:hover{
    color:red;
}
/* footer */
.copy-right p{
    font-size: small;
    color:#fff;
}
@media(min-width: 992px){
    .copy-right p{
        font-size: 16px;
    }

}

