*{
    padding: 0;
    margin: 0;
    outline: 1px rgb(252, 201, 34) solid;
}
body{
    background: url("./img/bg-body.jpg");
}
.body__container{
    padding-bottom: 10px;
}
.container{
    /* max-width: 980px; */
    text-align: center;

    background-color: #326611;
}
.row{
    margin-right: 0;
    margin-left: 0;
}

/* -----header header__wrap----- */
.image__container--logo{
    justify-content: center;
    cursor: pointer;

    background-color: #fff;
}
.image__container--logo img{
    max-width: 100%;
    height: auto;
}
h1{
    margin-bottom: 0;
    margin: 15px auto;
    height: 70px;
    background: no-repeat center url("/img/logo.png");
    background-size: contain;
}
.header__wrap--nav{
    background-color: #4a4a4a;
    font-size: 0;
}
.header__wrap--a{
    display: inline-block;
    padding: 12px; 
    text-decoration: none;

    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.header__wrap--a:hover{
    text-decoration: none;

    background-color: #dbebd1;
    color: #4a4a4a;
    transition: 0.5s;
}
.header__wrap--a:nth-child(1){
    background-color: #79896e;
    color: #4a4a4a;
}

/* -----header mobile__wrap----- */
nav{
    background-color: #fff;
}
nav .container{
    background-color: #fff;
}
.navbar-brand{
    margin-bottom: 10px;
    padding: 0;
}

/* -----section__container--banner----- */
.section__container--banner{
    position: relative;
}
.banner__container{
    display: block;
    height: 450px;
    cursor: pointer;

    background: no-repeat center url("./img/gardening1.jpg");
    background-size: cover;
}
.banner__article{
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: left;

    background-color: rgba(0, 0, 0, 0.61);
}
h2{
    margin-bottom: 5px;
    text-transform: uppercase;

    color: #E0E297;
    font-size: 24px;
    font-weight: 700;
}
.banner__article p{
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.banner__article i{
    color: #74888A;
    font-size: 16px;
}
.banner__article i:hover{
    color: #fff;
}

.banner__menu--anchor{
    margin: 8px 0;
    padding: 15px 0;
}
.banner__menu--anchor+.banner__menu--anchor{
    border-left: 1px solid rgb(122, 189, 122);
}
.banner__menu--anchor:hover{
    background-color: #66c42c42;
    transition: 0.5s;
}
.image__container--gardening{
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    outline: 1px solid #fff;
}
.banner__menu--anchor article{
    display: inline-block;
    width: 180px;
    vertical-align: top;
    text-align: left;
}
.banner__menu--anchor h4{
    color: #E0E297;
    font-size: 20px;
}
.banner__menu--anchor p{
    padding: 0;
    margin: 0;

    color: #fff;
    font-size: 16px;
}

/* -----section__container--featured-gardens----- */
.section__container{
    padding: 20px 20px;

    background-color: #fefefe;
    font-size: 0;
}
h3{
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(138, 163, 163);
    padding: 5px 0 5px 30px;
    text-align: left;

    background-color: rgb(221,233,233);
    color:#836247;
}
.featured-garden__items--anchor{
    display: inline-block;
    padding: 8px;
    margin: 0;
}
.featured-garden__items--anchor:hover{
    text-decoration: none;

    background-color: rgb(218, 213, 213);
    transition: 0.5s;
}
.image__container--gardens img{
    margin-bottom: 20px;
    width: 100%;
}
.featured-garden__items--anchor article{
    text-align: left;
}
.featured-garden__items--anchor h4{
    text-transform: uppercase;

    color: #836247;
    font-size: 20px;
}
.featured-garden__items--anchor p{
    padding: 0;
    margin: 0;

    font-size: 16px;
    color: black;
}

hr{
    border: #4a4a4a 1px solid;
}

li{
    list-style-position: inside;
    text-align: left;

    font-size: 16px;
}

/* -----section__container--tips----- */
.image__container--tips{
    display: inline-block;
    padding: 0;
    vertical-align: top;
}
.image__container--tips img{
    width: 100%;
}
.image__container--tips + article{
    display: inline-block;
    padding: 0 0 0 20px;
    vertical-align: top;
}
.section__container--tips h3{
    margin-bottom: 30px;
}
.section__container--tips ol{
    padding-left: 25px;
}
.section__container--tips li{
    margin-bottom: 15px;
    list-style-position: outside;
}
.section__container--tips li::marker{
    font-weight: 900;
}

/* -----footer----- */
footer{
    margin-bottom: 10px;
    border-top: 1px solid #74888A;

    background-color: rgb(221,233,233);
    font-size: 0;
}
.footer__content{
    padding: 20px 15px;
    text-align: left;
}
.footer__content span{
    display: inline-block;
    margin-bottom: 10px;
    text-transform: uppercase;

    color: #74888A;
    font-size: 22px;
}
.footer__content a{
    display: block;

    color: #74888A;
    font-size: 16px;
}
.footer__content + .footer__content{
    border-left: 1px solid #74888A;
}
.connect-info a{
    font-size: 18px;
}
.connect-info i{
    color: #326611;
    font-size: 18px;
}

footer + span{
    color: #fff;
    font-size: 16px;
    font-weight: 900;
}

/* -----media-query----- */
@media screen and (min-width: 768px) {  
    .mobile__wrap{
        display: none;
    }  
}

@media screen and (max-width: 767px) {  
    .header__wrap{
        display: none;
    }
    .banner__menu--anchor+.banner__menu--anchor{
        border-top: 1px solid rgb(96, 145, 66);
        border-left: 0px;
    } 
    .banner__menu--anchor{
        margin: 0;
    } 
    .image__container--tips + article{
        padding: 0;
    }
}

@media screen and (max-width: 992px) and (min-width: 769px){
    .footer__content + .footer__content{
        border-left: 0px;
    }
}