.nav_text_color{
    color:#d5d6b8;
}

.banner_tittle{
    color:#ddde9e;
}

.banner_text_color{
    color: #f7f6f6;
}

.item_tittle{
    color:#e2e3a1; 
    font-size: 1.2rem;
}

.item_text_color{
    color:#f4f6f3;
}

.product_tittle{
    font-size: 1.1rem;
    color:#84694b;
}

