body {
    background-image: url("./img/outside_background.jpg");
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

.background_green {
    max-width: 940px;
    background-color: #356618;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    background: #ffffff;
    text-align: center;
}

.logo img {
    padding: 15px;
}

header ul {
    text-align: center;
    list-style-type:none;
}

/*
.container ul li {
    display: inline-block;
}
*/
.menu_item {
    padding: 0.8rem 0;
    color: #f0f2c9;
    background-color: #4b4b4b;
    display: block;
}

.menu_item:hover {
    text-decoration: none;
    background: #daead0;
    color: #1b330c;
}

.menu_selected {
    padding: 0.8rem 0;
    background: #96b285;
    color: #356618;
    display: block;
}

.menu_selected:hover {
    color: #356618;
    text-decoration: none;
}

.banner {
    /*background-image: url("./img/banner.jpg");
    height: 431px;
    background-position: center;*/
    position: relative;
}

.banner_title {
    background: rgba(0, 0, 0, 0.6);
    padding: 17px 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.banner_title h4 {
    color: #e3e699;
    font-family: sans-serif;
    text-transform: uppercase;
}

.banner_title p {
    text-align: justify;
    color: #ffffff;
}

.banner_list ul {
    text-align: left;
    /*padding: 0 15px;*/
}

.banner_list li {
    margin: 20px 0;
    padding: 0 10px;
}

.banner_list_pic {
    text-align: center;
}

/*.banner_list_desc{
    margin-left: 10px;
}*/
.banner_center_border {
    border-left: #1e420e63 1px solid;
    border-right: #1e420e63 1px solid;
}

.banner_list img {
    /*margin: 0 auto;*/
    border: #ffffff 1px solid;
}

.banner_list p {
    color: #e3e699;
}

.banner_list small {
    color: #ffffff;
}

.background_white {
    padding: 20px 15px;
    background: #ffffff;
}

.gardens {
    border-bottom: 1px solid #d7d6cd;
}

.section_list_title {
    font-size: 1.125em;
    background: #dce9d4;
    border-bottom: 2px solid #b3cca4;
    color: #836145;
    padding: 5px 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #ffffff;
}

.gardens_section {
    padding: 20px 0;
}

.gardens_picture {
    text-align: center;
}

.gardens_list_title {
    color: #836145;
    text-transform: uppercase;
    padding: 25px 0 10px;
}

.gardens_list {
    color: #4b4b4b;
}

.tips_week_pic {
    text-align: center;
    padding-top: 20px;
}

.tips_week_title {
    padding-top: 20px;
}

.tips_week_title ol {
    padding: 20px 0 0 20px;
}

footer {
    background: #dce9d4;
    border-top: 1px solid #b8d0aa;
}

footer ul {
    list-style-type: none;
    padding: 0 20px;
}

.footer_list_block {
    border-right: 1px solid #b8d0aa;
    padding-bottom: 20px;
}

.footer_list_title {
    color: #8c8c8c;
    font-size: 1.125em;
    text-shadow: 1px 1px 1px #ffffff;
    text-transform: uppercase;
    padding: 20px 20px 15px;
}

.footer_list_block p {
    color: #8c8c8c;
    padding: 0 20px;
}

.social_connect i {
    color: #356618;
}

.social_connect span {
    color: #8c8c8c;
}

.social_connect:hover {
    text-decoration: none;
}

.copyright {
    text-align: center;
    color: #ffffff;
    padding: 7px 0;
    text-shadow: 1px 1px 1px #8da181;
}

@media (max-width: 768px) {
    .banner_center_border {
        border: 0;
    }
}

@media (max-width: 576px) {
    .banner_title p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}