body{
    background-image: url(../img/bg-body.jpg);
}

h1,h2,h3,p,a,i{
    margin: 0;
    padding: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.container_wrap{
    background-color: #316611;
}

.logo_box{
    text-align: center;
}

.menu{
    color: #daebd0;
    background-color: #494949;
    padding: 0;
    
}

.menu_bar{
    text-align: left;
}

.toggle .menu_icon{
    border: 1.25px solid #fff;
    border-radius: 0.25rem;
    background-image: url(../img/menu.svg);
    background-size: 60%;
}


.navbar_area{
    justify-content: space-around;

}

.nav_item{
    width: 100%;
    text-align: center;
}

.menu_button{
    color: #daebd0;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    padding: 1rem 0;
    flex: 1 1 auto;
    
}

.home_link{
    color: #316611;
    background-color: #97b486;
}

.menu_button:hover{
    color: #316611;
    background-color: #daebd0;
}

.banner_caption{
    width: 100%;
    background-color: rgb(0,0,0,0.5);
    color: #fff;
    position: static;
    padding: 1rem;
    text-align: left;
}

@media(min-width: 768px){
    .banner_caption{
        width: 100%;
        background-color: rgb(0,0,0,0.5);
        color: #fff;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        padding: 1rem;
        text-align: left;
    }
}

.banner_caption:hover{
    color: #fff;
}

.banner .banner_caption h2{
    font-size: 20px;
    margin: 0;
    color: #e4e79b;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

@media(min-width:768px){
    .banner .banner_caption h2{
        font-size: 36px;
    }
}

.banner_caption span{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

@media(min-width:768px){
    .banner_caption span{
        display: inline-block;
    }
}

.read_more{
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.5;
    margin-left: auto;
}

@media(min-width: 768px){
    .middle_card::before{
        content: "";
        width: 2px;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        background-color:rgba(104, 170, 65, 0.3);
        box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    }
}

@media(min-width: 768px){
    .right_card::before{
        content: "";
        width: 2px;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        background-color:rgba(104, 170, 65, 0.3);
        box-shadow: 1px 1px 3px rgb(0,0,0,0.3);
    }
}

.card_content{
    display: flex;
    align-items: center;
}

@media (min-width: 992px){
    .card_content{
        align-items: flex-start;
    }
}

.card_image{
    width: 80%;
    border: solid 2px #fff;
    margin-right: 1rem; 
}

@media (min-width: 576px){
    .card_image{
        width: 50%;
    }
}

.card_text h3{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #e4e79b;
    margin-bottom: 0.3rem;
}

.card_text p{
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-align: justify;
}

.content_row{
    margin: 0;
}

.content_title{
    background-color: #daebd0;
    border-bottom: solid 2px #97b486;
    font-size: 24px;
    color: #6f2f10;
    text-transform: uppercase;
}

.content_item{
    justify-content: center;
}

.garden_brief{
    border: none;
    text-align: center;
}

@media(min-width: 992px){
    .figure_text{
        text-align: left;
    }
}

.garden_brief h3{
    font-size: 18px;
    color: #6f2f10;
    text-transform: uppercase;
}

.figure_text{
    padding: 0.5rem;
}

.figure_text p{
    text-align: justify;
}

.line_gap{
    border-bottom: solid 1px #d2d2d2;
}

.week_tips_content{
    justify-content: center;
}

.week_tips_image img{
    width: 100%;
}

@media(min-width: 576px){
    .week_tips_image{
        width: 50%;
    }
}

.tips_title{
    background-color: #daebd0;
    border-bottom: solid 2px #97b486;
}

.tips_title h3{
    font-size: 20px;
    color: #6f2f10;
    text-transform: uppercase;
}

@media(min-width: 992px){
    .tips_text{
        margin-top: 1rem;
    }
}

.tips_text ul{
    list-style: none;
    padding-inline-start: 1rem;
    counter-reset: num;
    text-align: justify;
}

.tips_text li{
    font-size: 18px;
}

.tips_text li::before{
    content: "";
    font-weight: 600;
    position: absolute;
    margin-left: -1.5rem;
    counter-increment:num; 
    content:counter(num) '. ';
}

.footer_area{
    background-color: #daebd0;
}


.footer_area h3{
    font-size: 20px;
    color: #7e7d80;
    text-transform: uppercase;  
    margin: 0;
}

.footer_area p{
    color: #7e7d80;
}

.footer_content{
    border-right: solid 1px #97b486;
    border-left: solid 1px #97b486 ;
    border-top: solid 1.5px #97b486;
    text-align: center;
}

@media(min-width: 992px){
    .footer_content{
        text-align: left;
    }
}

.social_media{
    flex-wrap: wrap;
    text-align: left;
}

.social_media_item{
    flex: 0 1 50%;
}

.social_media p{
    display: inline;
    font-size: 16px;
    color: #7e7d80;
    text-transform: capitalize;
    vertical-align: middle;
}

.email i{
    font-size: 20px;
    display: inline-block;
    color: #316611;
    vertical-align: middle;
}

.facebook i{
    font-size: 24px;
    display: inline-block;
    color: #316611;
    vertical-align: middle;
}

.twitter i{
    font-size: 24px;
    display: inline-block;
    color: #316611;
    vertical-align: middle;
}

.google_plus i{
    font-size: 24px;
    display: inline-block;
    color: #316611;
    vertical-align: middle;
}

.copyright{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    background-color: #316611;
    justify-content: center;
}

@media(min-width: 768px){
    .company_name::after{
        content: " | ";
        font-weight: 600;
        color: #fff;
    }
}

.copyright p{
    font-weight: 600;
    color: #fff;
    text-align: center;
}

@media(min-width: 768px){
    .copyright{
        flex-direction: row;
    }
}