body {
  background: url("../images/bg-body.jpg");
}

.wrapper {
  background-color: #336600;
  width: 80% ;  
  padding:0px 15px;
}

header {
  background-color: #ffffff;	
  
}

#logo {
  padding: 2% 0% 2% 0% ;
  max-width: 100% ;
}

.nav-btn {  
  background-color: #4b4b4b ;
  text-align:center;
  padding: 1.5% 0% 1.5% 0%;
  color: #ffffff ; 
}

nav a , nav a:hover {
  text-decoration: none;
}
nav a.current {
  background-color: #96b285;
  color: #003300 ; 	
}

a:hover.un-current  {  
   background-color: #d9ead0;
   color: #101010 ;
}
/*------------------------------banner-----------------------------------*/
.jumbotron {
  background: url("../images/gardening1.jpg") no-repeat center center;
  background-size: cover;
  height: 450px;
  padding: 0;
  position: relative;
  width: 100%;
}

div.banner {  
  width: 100%; 
  position:absolute;
  left: 0%;
  top:71%; 
  background: #302623;
  background-color: rgba(48, 38, 35, 0.7);  
} 

.banner h2 ,h4 {
  color: #FFFF33 ;
  
}
.banner p {
  color:#ffffff;
  font-size: 133%; 
}

.banner-thu {
  padding: 1px;
}

/*----------------------content---------------------*/
.contents {
  background-color: #ffffff ;
}
.contents h4 {
  color: #926145;
}

.hr {  
  border-top: 2px solid #eee;
  padding-top: 1%;
}

#gardens ,.tips h3 {
  background-color: #dce9d5;
  border-bottom: 2px solid #b3cca4 ;
  padding: 1% 0% 1% 1% ;
}

.banner-text {
  color: #ffffff;
}
.contents img {
  width: 100% ;
}

.tips h3 {
  margin-top : 0px; 
}
.tips {
  height: 100% ;
}

.tips ol {
  margin: 5% 0%;
}
.tips li p {
  line-height: 1.8em;
}

/*--------------------------------------------*/
.icon {
  margin-right: 5%;
}

.footer-bg {
  background-color: #dce9d5 ; 
}
.infomation {
  border: 1px solid #b3cca4;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

footer .row {
  overflow: hidden;
}
ol {
  list-style: decimal;
  padding-left: 30px;
}

/*.parent { 
  overflow: hidden; 
}
.parent .floatLeft {
  # your other styles
  float: left;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}*/

#copyright {
  text-align: center;
  color: #ffffff;
  padding-top: 1%;
}