/* * {
  outline: 1px solid;
} */
body {
  background-image: url(./img/bg-body.jpg);
}

.container {
  padding: 0 20px;
  background-color: #326611;
}

.logo_wrap {
  margin: 0;
  background-color: white;
}

@media (min-width: 768px) {
  .logo {
    width: 50%;
    margin: 0 auto;
  }
}

.logo {
  padding: 20px;
}
.logo img {
  width: 100%;
  height: auto;
}

.navbar-nav {
  width: 100%;
}

.navbar_wrap {
  background-color: #4a4a4a;
  border-bottom: 2px solid #b5b5b6;
}

.navbar_wrap > .navbar-collapse > .navbar-nav > a {
  color: #e6e7c2;
  text-align: center;
}

.navbar_wrap > .navbar-collapse > .navbar-nav > a:hover {
  color: #485e3b;
  background-color: #dbebd0;
  text-decoration: none;
}

.nav_item {
  flex: 1 1 0;
  padding: 20px;
}

.navbar_wrap > .navbar-collapse > .navbar-nav > .first_item {
  background-color: #98b486;
  color: #326611;
}
.navbar_wrap span {
  background-color: #8c8c8d;
}

h2 {
  color: #e3e59a;
}

.shop h3 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .shop h3 {
    font-size: 26px;
  }
}
.banner_news a {
  color: #799194;
}
.banner_news {
  padding: 10px 20px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner_news {
  position: static;
}

.banner_news h2 {
  font-size: 20px;
}

.banner_news p {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .banner_news h2 {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .banner_news p {
    font-size: 18px;
    text-overflow: initial;
    overflow: auto;
    white-space: normal;
  }
}
@media (min-width: 768px) {
  .banner_news {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.product_text {
  margin-left: 10px;
}
.product_text h4 {
  margin: 0;
  font-size: 18px;
  color: #dde195;
}
@media (min-width: 576px) {
  .product_text h4 {
    font-size: 20px;
  }
}

.product_text > p {
  margin: 0;
  color: #e2e7e1;
}
.product {
  margin: 20px 0;
}
.product_item {
  display: flex;
  align-items: center;
}
.product_text {
  flex: 1 1 0;
}

.product_img {
  border: 2px solid #fefefe;
}
.product_img img {
  width: 100%;
  height: auto;
}

.product_wrap:not(:last-child) {
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  .product_wrap:not(:last-child) {
    padding-bottom: 0;
    border-right: solid #3b7119;
  }
}

@media (min-width: 992px) {
  .product_item {
    padding-bottom: 0;
    align-items: flex-start;
  }
}

.shop {
  padding: 20px 20px;
  background-color: #fefefe;
}

.shop_info_wrap {
  margin: 0 -10px;
}
.shop_info {
  padding: 0;
}

.shop_info_item {
  margin: 20px 10px;
}
.shop > h3 {
  background-color: #dde9d6;
  color: #8b6d4f;
  border-bottom: 2px solid #bbd1ac;
  margin: 0;
  padding: 5px 20px;
}

.shop_info_img img {
  width: 100%;
  height: auto;
}
.shop_info_text h4 {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
  color: #8b6d4f;
}

@media (min-width: 768px) {
  .shop_info_text h4 {
    font-size: 22px;
  }
}

.shop_info_text p {
  margin: 0;
}
hr {
  width: 100%;
  margin: 0;
  border-color: #f1f1ef;
}
.service {
  margin: 20px 0 0;
}
.service_title_xs {
  width: 100%;
  padding: 5px 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #bbd1ac;
  color: #8b6d4f;
  background-color: #dde9d6;
}
@media (min-width: 768px) {
  .service_title_xs {
    display: none;
  }
}

.service_img {
  padding: 0;
}
.service_img img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .service {
    display: flex;
  }
}
.service_text {
  padding: 0;
}
@media (min-width: 768px) {
  .service {
    display: flex;
  }
}

@media (min-width: 768px) {
  .service_img_wrap_xs {
    display: none;
  }
}

@media (min-width: 768px) {
  .service_text {
    padding-left: 20px;
  }
}
@media (min-width: 768px) {
  .service_text_wrap h3 {
    margin: 0;
  }
}

.service_text ol {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
}
.service_text ol li {
  line-height: 23px;
  display: flex;
}
.service_text ol > :not(:last-child) {
  margin-bottom: 10px;
}

.service_text .service_text_wrap {
  counter-reset: article;
}
.service_text_wrap ol li::before {
  content: counter(article) ".";
  counter-increment: article;
  padding-right: 10px;
  font-weight: bold;
}

.service_title {
  display: none;
  padding: 5px 20px;
  margin: 20px 0;
  border-bottom: 2px solid #bbd1ac;
  color: #8b6d4f;
  background-color: #dde9d6;
}

@media (min-width: 768px) {
  .service_title {
    display: block;
  }
}

.contact {
  background-color: #dce9d6;
}
.contact_item {
  margin: 20px;
}
.social_media_item {
  margin: 20px;
}
@media (min-width: 576px) {
  .contact_way {
    border-right: solid #cedfc5;
    border-bottom: solid #cedfc5;
  }
}
@media (min-width: 576px) {
  .contact_way:nth-child(2) {
    border-right: none;
  }
}
@media (min-width: 768px) {
  .contact_way {
    border-right: solid #cedfc5;
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .contact_way:nth-child(2) {
    border-right: solid #cedfc5;
  }
}
.contact_item h5 {
  font-size: 18px;
  color: #8c8c8d;
}
@media (min-width: 768px) {
  .contact_way h5 {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .contact_way h5 {
    font-size: 20px;
  }
}
.contact_item p {
  margin: 0;
  color: #a2a59f;
}

.social_media h5 {
  font-size: 18px;
  color: #8c8c8d;
}
@media (min-width: 768px) {
  .social_media h5 {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .social_media h5 {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .icon_item {
    margin: 5px 0;
  }
}

.icon_item a {
  display: inline-block;
  font-size: 20px;
  color: #a2a59f;
}
.icon_item a i {
  margin-right: 10px;
  color: #356614;
}

.copyright {
  font-size: 0;
  text-align: center;
}
.copyright p {
  margin: 0;
  font-size: 16px;
  color: #d6ded2;
}

.copyright span:nth-child(2) {
  padding: 5px;
}

@media (min-width: 768px) {
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .copyright > span {
    font-size: 16px;
    color: #d6ded2;
  }
}
