
.garden-list {
    margin-top: 5vh;
}

.fg-pic {
    width: 100%;
    height: auto;
}

/* 在一欄的裝置產生底線區隔 */
.garden-list .col-12 {
    border-bottom: #00000036 solid 1px;
    padding-bottom: 3vh;
    margin-bottom: 3vh;
}

.garden-list p {
    color: rgb(110, 63, 5);
    text-transform: uppercase;
    line-height: 2;
    font-size: 20px;
}

.garden-list span {
    color: #000000;
}

.tips img{
    width: 100%;
}

.tips article {
    margin-left: 2vw;
}
