.main-footer-content {
    padding-bottom: 3vh;
    padding-top: 3vh;
}

.main-footer-content:last-child {
    padding-bottom: 0;
}

@media (min-width:992px) {
    .main-footer-content {
        border-left: 1px solid #367c3a63;
    } 
    .main-footer-content:first-child {
        border-left: 0;
    }
}

.main-footer p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: rgb(171,175,168);
}

.main-footer span {
    color: rgb(171, 175, 168);
}
.main-footer-content a {
    color: rgb(171, 175, 168);
    opacity: .5;
}
.main-footer-content a:hover {
    color: #000000;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.main-footer-content i {
    color: rgb(31, 77, 17);
}

.copyright {
    text-align: center;
    color: #ffffff;
    padding: 10px;
}