@import url("./bootstrap.min.css");
@import url("./resetbyJason.css");
@import url("./global.css");
@import url("./check.css"); /* 底層照片，對齊用 */

.web-bg{
    background: transparent url(../image/outside_background.jpg);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
.main-bg{
    background-color: rgb(65,101,37);
    width: 100vw;
    height: 1000px; /* 記得拿掉 */
    margin: 0 auto;
}
@media (min-width: 992px) {
    .main-bg {
        width: 74.4vw;
    }
}

.main-container{
    width: 95.7%;
    margin: 0 auto;
}

.main-header {
    background: white;
    height: 7.5vw;
    text-align: center;
}
.main-header a{
    background: transparent url(../image/logo.png) center 30% /contain no-repeat;
    display: inline-block; /* 為了撐開a連結 */
    width: 47%;
    height: 100%;
}

.main-nav {
    width: 100%;
}
.main-nav li{
    width: 100%;
    text-align: center;
}

.main-nav a {
    color: rgb(201,203,174);
    background: rgb(75,75,75);
    width: 100%;
    height: 100%;
    display: inline-block;
}
.main-nav a:hover {
    color: rgb(60, 75, 49);
    background: rgb(220, 233, 109);
}
.main-nav a:active {
    color: rgb(65, 101, 37);
    background: rgb(155, 177, 137);
}

.ham-menu{
    background: rgb(75, 75, 75);
    padding: 2px 5%; /* 漢堡選單的內距 */
}

.ham-checkbox{
    display: none; /* 使checkbox隱形 */
    vertical-align: middle;
}

.ham-icon::before {
    background: rgb(201, 203, 174);
    content: "";
    display: block;
    height: 2px;
    width: 22px;
    margin-bottom: 2px;
}
.ham-icon{
    border-bottom: 2px solid rgb(201,203,174);
    display: inline-block;
    width: 22px;
    margin: 0;
}
.ham-icon::after {
    background: rgb(201, 203, 174);
    content: "";
    display: block;
    height: 2px;
    width: 22px;
    margin-bottom: 2px;
}



/* 漢堡選單的觸發 */
@media (max-width: 992px) {
    .ham-checkbox ~ .main-nav{
        display: none;
    }
    .ham-checkbox:checked ~ .main-nav {
        display: block;
    }
}