@import url("./bootstrap.min.css");
@import url("./resetbyJason.css");
@import url("./global.css");
@import url("./outestContainer.css");
@import url("./header.css");
@import url("./main-nav.css");
@import url("./banner.css");
@import url("./article.css");
@import url("./check.css"); /* 底層照片，對齊用 */




