.main-nav {
    width: 100%;
}

.main-nav li {
    width: 100%;
    text-align: center;
}

.main-nav a {
    color: rgb(201, 203, 174);
    background: rgb(75, 75, 75);
    width: 100%;
    height: 100%;
    display: inline-block;
}
@media (min-width: 992px) {
    .main-nav a {
        padding: 16px 0;
    }
}

.main-nav a:hover {
    color: rgb(60, 75, 49);
    background: rgb(220, 233, 109);
}

.main-nav a:active {
    color: rgb(65, 101, 37);
    background: rgb(155, 177, 137);
}

.ham-bg {
    background: rgb(75, 75, 75);
}

.ham-menu-wrapper {
    margin: 0;
    /* 清除預設 */
    width: 5vw;
}

.ham-checkbox {
    display: none;
    /* 使checkbox隱形 */
    vertical-align: middle;
}

/* 漢堡選單的動畫 */

.ham-wrapper {
    font-size: 30px;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin: .4em .6em .2em;
}

.ham-wrapper::before,
.ham-wrapper::after {
    content: "";
}

.ham-wrapper::before,
.ham-icon,
.ham-wrapper::after {
    background: rgb(201, 203, 174);
    display: block;
    height: .2em;
    width: 100%;
    margin-bottom: .2em;
    text-align: middle;
    transition: all 1s ease-in-out;
}

.ham-wrapper::after {
    margin-bottom: 0;
}

/* 漢堡選單的觸發 */

@media (max-width: 992px) {
    .ham-checkbox ~ .main-nav {
        display: none;
    }
    .ham-checkbox:checked ~ .main-nav {
        display: block;
    }
}