.main-bg {
    background-color: rgb(65, 101, 37);
    width: 100vw;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .main-bg {
        width: 74.4vw;
    }
}

.main-container {
    width: 95.7%;
    margin: 0 auto;
}

.section-bg{
    background: white;
    width: 100%;
}

