body{
    background: url(img/bg-body.jpg);
    margin: 0;
}
p{
    margin: 0;
}
.wrap{
    background-color: #361;
}
header{
    background-color: #fff;
}
.logo{
    margin: 0;
    padding: 15px 0;
}
.logo_link{
    display: block;
}
.logo_image{
    display: block;
    margin: 0 auto;
    max-width: 90%;
}
.menu{
    padding: 5px 0;
    justify-content: center;
    background-color: #444;
}
.menu .menu_button{
    border-color: rgba(255,255,255,0.5);
    background-color: rgba(255,255,255,0.2);
    border-radius: 0;
    outline: none;
    padding: 0;
}
.menu_button_icon{
    width: 5em;
}
.menu_collapse{
    margin-top: 5px;
}
@media (min-width: 768px){
    .menu{
        padding: 0;
    }
    .menu_collapse{
        margin-top: 0;
    }
}
.menu_wrap{
    flex-grow: 1;
    text-align: center;
}
.menu .menu_wrap .menu_link.active{
    background-color: #9b8;
    color: #684;
}
.menu .menu_wrap .menu_link{
    padding: 0.75rem;
    background-color: #444;
    color: #ddb;
    font-weight: 500;
    flex-grow: 1;
}
.menu .menu_wrap .menu_link:hover{
    background-color: #deb;
    color:#666;
}


.banner_caption{
    position: static;
    background-color: rgba(0,0,0,.45);
    padding: 15px;
    text-align: left;
}
@media (min-width: 768px) {
    .banner_caption{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.banner_caption_title{
    font-size: 1.75rem;
    color: #bb7;
}
@media (max-width: 767px) {
    .banner_caption_text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /* display: -webkit-box; */
        /* -webkit-line-clamp: 2; */
        /* -webkit-box-orient: vertical; */
    }
}
.banner_caption_link{
    display: inline-block;
    margin-left: 0.5rem;
}
.banner_caption_link i{
    color: #799;
}


.banner_controller{
    position: relative;
    margin: 0;
}
@media (min-width: 992px) {
    .banner_controller_item_wrap + .banner_controller_item_wrap::before{
        content: '';
        background-color: rgb(74, 114, 54);
        position: absolute;
        box-shadow: 1px 0 0 rgb(35, 91, 35);    
        width: 2px;
        height: 80%;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
.banner_controller_item_wrap{
    padding: 15px;
}
.banner_controller_item_wrap:not(:last-child){
    padding-bottom: 0;
}
.banner_controller_item{
    cursor: pointer;
    display: flex;
}
.banner_controller_image_wrap{
    flex: 1 0 auto;
    margin-right: 15px;
}
.banner_controller_image{
    border: 1px solid #fff;
    width: 100%;
}
@media (max-width: 991px) and (min-width: 576px){
    .banner_controller_item{
        flex-direction: column;
    }
    .banner_controller_image_wrap{
        margin-right: 0;
        margin-bottom: 15px;
    }
}
.banner_controller_title{
    font-size: 1.1rem;
    color: #bb7;
}
.banner_controller_text{
    font-size: 1rem;
    line-height: 1.2;
    color: #fff;
}


.main_content{
    background-color: #fff;
    padding: 15px;
}
.main_content_title{
    color: #864;
    background-color: #deb;
    font-size: 1.25rem;
    line-height: 2;
    box-shadow: 0 3px #cdc;
    padding-left: 1rem;
    margin-bottom: 15px;
}
.featured_gardens_wrap .featured_gardens_item{
    border: none;
}
.featured_gardens_wrap .featured_gardens{
    margin: -8px;
}
.featured_gardens_wrap .featured_gardens_item{
    padding: 8px;
    margin: 0;
}
@media (min-width: 576px){
    .featured_gardens_wrap .featured_gardens_item{
        flex-basis: 50%;
    }
}
@media (min-width: 992px){
    .featured_gardens_wrap .featured_gardens_item{
        flex-basis: 25%;
    }
}
.featured_gardens_image{
    border-radius: 0;
    margin-bottom: 15px;
}
.featured_gardens_body{
    padding: 0;
}
.featured_gardens_title{
    font-size: 1.1rem;
    color: #987;
}
.featured_gardens_text{
    font-size: 1rem;
}


.week_tips_wrap::before{
    content: '';
    display: block;
    width: 98%;
    height: 2px;
    margin: 16px auto 8px;
    background-color: #eee;
}
.week_tips_wrap{
    position: relative;
    margin: -8px;
}
.week_tips_image_wrap,
.week_tips_body{
    padding: 8px;
}
@media (min-width: 768px){
    .week_tips_image_wrap{
        order: 1;
    }
    .week_tips_body{
        order: 2;
    }
}
.week_tips_image{
    width: 100%;
}
.week_tips_list{
    margin-bottom: 0;
    counter-reset: tips;
    margin-left: -10px;
    list-style-type: none;
}
.week_tips_list li{
    line-height: 1.5;
    font-size: 15px;
    text-indent: -28px;
}
.week_tips_list li + li {
    margin-top: 15px;
}
.week_tips_list li::before{
    counter-increment: tips; 
    content: counter(tips) '.';
    margin-right: 15px;
  }


.connect_wrap{
    margin: 0;
}
.connect{
    background-color: #deb;
    border-radius: 0;
    padding: 15px;
    border-top: 1px solid #ccc;
}
.connect_title{
    font-size: 1rem;
    color: #999;
}
.connect_text{
    color: #999;
    font-size: 15px;
}
.connect_link{
    color: #999;
    line-height: 26px;
    display: block;
    font-size: 15px;
}
.connect_link:hover{
    text-decoration: none;
}
.connect_link i{
    color: #361;
    margin-right: .5rem;
    width: 20px;
    font-size: 1.25rem;
    line-height: 26px;
    vertical-align: middle;
}
@media (min-width: 576px){
    .connect:nth-child(even){
        border-left: 1px solid #ccc;
    }
    .connect_icons{
        display: flex;
        flex-wrap: wrap;
    }
    .connect_link{
        flex-basis: 50%;
    }
}
@media (min-width: 992px){
    .connect:not(:first-child){
        border-left: 1px solid #ccc;
    }
    .connect_link{
        flex-basis: 100%;
    }
}
.copyright{
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}
.copyright span{
    display: block;
}
@media (min-width: 576px) {
    .copyright span{
        display: inline;
    }
    .copyright span::before{
        content: ' | ';
    }
}