@CHARSET "UTF-8";
.article{
  width:auto;
  height: auto;
  background-color: white;
}
.articleup{
  padding:3% 3% 1.5% 3%;
  height:400px;
  clear:both;
}
.articleup h4{
  display: block;
  background-color: rgba(25, 142, 114,0.6);
  font-size: 20px;
  line-height: 40px;
  padding-left: 30px;
  color:rgb(176, 78, 16);
  font-weight: lighter;
  border-radius: 5px;
  margin-bottom: 10px;
}

.articleupitem{
   width: 24%;
   display:block;
   float: left;
   margin:3px;
   margin-left:5px;
}
.articleupitem img{
  width:100%;
  height: 100%;;
}
.article p {
  color:rgba(11, 13, 12, 0.78);
  font-size: 14px;
  line-height: 20px;
}
.articleupcontent h6{
  font-size: 15px;
  text-align: center;
  padding:2%;
  color: rgb(175, 83, 8);
  letter-spacing: 1.5px;
}

.articledown{
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  width:100%;
}
.articledown img{
  padding: 10px 30px 30px 30px;
}
.articledownimg{
  border:20px yellow solid;

}
.articledowncontent{
  display:block;
  width:100%;
}

.articledown h4{
  width:100%;
  display: block;
  background-color: rgba(25, 142, 114,0.6);
  font-size: 20px;
  line-height: 40px;
  padding-left: 30px;
  color:rgb(176, 78, 16);
  font-weight: lighter;
  border-radius: 5px;
  margin-bottom: 10px;
  position:relative;
  left:-20px;
}
.articledowncontent {
  padding :10px 0;
}
.articledowncontent ol{
  padding-left:20px;
}
.articledowncontent ol>li{
  color:rgba(11, 13, 12, 0.78);
  line-height: 30px;
}
