* { 
  outline: 1px solid red; 
} 

body {
  background-image: url(./img/bg-body.jpg);
}

.modify_container {
  background-color: #356618;
  padding: 0 0;
}

@media (min-width: 576px) {
  .modify_container {
    padding: 0 .8rem;
  }
}

@media (min-width: 992px) {
  .modify_container {
    padding: 0 1rem;
    max-width: 1050px;
  }
}

.navbar_background {
  padding: .5rem .5rem 1rem .5rem;
  display: block;
  margin-bottom: 0;
  background-image: url(./img/bg-body.jpg);
}

@media (min-width: 576px) {
  .navbar_background {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* @media (min-width: 992px) {
  .navbar_background {
    flex-wrap: wrap;
  }
} */

@media (min-width: 576px) {
  .navbar_background div.container-fluid {
    background-color: white;
    justify-content: center;
  }
}
/* 調整 nav logo 寬度 */
header h1 {
  width: fit-content;
}
header h1 a {
  display: block;
}
.logo_img {
  width: 100%;
}

@media (max-width: 575.97px) {
  header h1 {
    width: 70%;
  }
  .logo_img {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .logo_box {
    padding: .5rem 1rem 1rem;
    /* display: block; */
    text-align: center;
    margin-bottom: 0;
    background-image: none;
    background-color: white;
  }
  .modify_navbar_toggler {
    display: none;
  }
  .modify_navbar_list {
    display: block;
  }
}

.modify_navbar {
  padding: 0;
  background-color: rgb(93, 93, 93);
  border-bottom: 1px solid cornsilk;
  display: block;
  border-radius: 0;
}

.modify_navbar .nav-link.modify_list {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2rem;
  color: #E3E5C7;
}

.modify_navbar .nav-link.modify_list:hover {
  background-color: #E0EED9;
  font-weight: initial;
  color: #254D14;
}

.modify_navbar .nav-link.active {
  background-color: #A4BE98;
  color: #3B771B;
}

/* .modify_navbar .modify_list .modify_nav_link {
  color: #E3E5C7;
} */

.modify_navbar .modify_list .modify_nav_link:hover {
  color: #254D14;
  background-color: #E0EEDA;
  font-weight: initial;
}

.modify_navbar .nav-item .modify_nav_home.active {
  color: #3B771B;
}
.modify_navbar .nav-item .modify_nav_home.active:hover {
  color: #254D14;
  background-color: #E0EEDA;
  font-weight: initial;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 576px) {
  .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .ellipsis {
    text-overflow: unset;
    white-space: unset;
    overflow: unset;
  }
}

.modify_figcaption {
  padding: 20px 20px 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: rgb(93, 93, 93, .6);
}

figcaption h2 {
  font-size: 1.7rem;
  color: #E6E8AB;
}

figcaption p a {
  background-color: #8AA0A3;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  color: white;
  font-size: .8rem;
  display: inline-block;
  text-align: center;
}

.figcaption {
  background-color: black;
  opacity: .5;
}

.garlly_box {
  display: flex;
}

article {
  background-color: white;
  padding: 1rem;
}

.modify_article_box {
  margin: 0;
}

article h2 {
  color: #864A08;
  background-color: #E2ECDD;
  border-bottom: 2px solid #BCD3B1;
  padding: 10px 25px 12px;
  font-size: 20px;
}

.feature_gardens_card {
  padding: 8px;
  border: 0;
  border-radius: 0;
}

.modify_card_img_top {
  border-radius: 0;
  margin-bottom: 1rem;
}

.feature_gardens_card_text_box {
  padding: 1rem 0 0 0;
}

hr {
  padding: 0 1rem;
}

.social_media i {
  color: #3D7725;
  font-size: 1.6rem;
  width: 1.6rem;
  text-align: center;
}

.card_group {
  margin: 0;
}

.card_group .modify_card {
  background-color: unset;
  border: 0;
  border-radius: 0;
  padding: 0;
}

.modify_content_position {
  width: 100%;
  object-fit: cover;
  border: 1px solid white;
}

.modify_content_position:hover {
  cursor: pointer;
}

.card_group button {
  background-color: none;
  border-right-color: white;
  padding: unset;
}

.card-body h5 {
  font-size: 1.2rem;
  color: #D7DD91;
}

.modify_card_body {
  padding: 1rem .9rem 1rem 1rem;
}

.card-body p {
  font-size: .8rem;
  color: white;
}

.modify_card + .modify_card {
  padding-left: 10px;
  border-left: 2px solid #3D751A;
  box-shadow: inset 1px 0 rgba(0, 85, 4, 0.5);
}

.feature_gardens_card .card-body h5 {
  font-size: 1.2rem;
  color: #864a08;
}

.feature_gardens_card .card-body p {
  font-size: 1rem;
  color: #323332;
}

.modify_main_content {
  padding: 0;
}

.article_img_full {
  width: 100%;
}

article .card {
  border: 0;
  border-radius: 0;
}

article .card-body {
  padding: 0 0 0 1rem;
}

ol li {
  padding: .5rem;
}

/* footer */

.footer_section {
  background-color: #E2ECDD;
  padding: 0rem 1rem;
  color: #939193;
  border-top: 1px solid #CFDFC8;
}

.footer_copyright {
  text-align: center;
  color: #e4e4e4;
  font-size: .8rem;
  margin: 0;
  padding: .5rem 0;
}

.footer_section a {
  color: #939193;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer_section a:hover {
  color: #E2ECDD;
}

.footer_section div + div{
  border-left: 1px solid #CFDFC8;
}

.footer_content_box {
  padding: 1rem 1rem 0 1rem;
}

.footer_content_box a {
  justify-content: center;
}

.footer_content_box span {
  padding-left: .5rem;
  font-size: 1rem;
}

/* // Small devices (landscape phones, 576px and up) */
/* @media (max-width: 575.98px) {

  .modify_navbar_bkg {
    background-color: rgb(93, 93, 93);
  }

  .modify_content_position {
    width: 80%;
    object-fit: cover;
    border: 1px solid white;
  }

  .logo_small {
    display: inline-block;
  }

  .logo_small_text {
    font-size: 2rem;
    font-weight: 300;
    align-self: center;
    line-height: 60px;
  }

  .modify_card + .modify_card {
    padding-left: 0;
    border-left: 0;
    box-shadow: none;
  }

  .footer_content_box {
    text-align: center;
  }

  .feature_gardens_card {
    padding: 0px;
    border: 0;
    border-radius: 0;
  }

  .modify_main_content .card-body {
    padding: 0;
  } */
