/* * { 
  outline: 1px solid red; 
}  */

body {
  background-image: url(./img/bg-body.jpg);
}

.modify_container {
  background-color: #356618;
  padding: 0;
}
@media (min-width: 576px) {
  .modify_container {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .modify_container {
    max-width: 1050px;
  }
}

/* ~768px logo 置中 */
header h1 {
  width: 100%;
  margin: 0;
}
header a {
  background-color: white;
  text-align: center;
}

.navbar_container {
  display: flex;
  flex-flow: wrap;
  padding: .5rem .5rem 1rem .5rem;
  margin-bottom: 0;
  background-image: url(./img/bg-body.jpg);
}
@media (min-width: 576px) {
  .navbar_container {
    background-image: none;
    background-color: white;
  }
}

/* ~調整 navbar logo 寬度 */
nav h1 {
  width: 70%;
  margin: .5rem;
}
@media (min-width: 768px) {
  nav h1 {
    background-color: white;
  }
}
nav h1 a {
  display: block;
}
.logo_img {
  width: 100%;
}

nav button.modify_navbutton {
  margin: .5rem;
}

/* ~navbar固定頂端 */
nav.navbar.navbar_container {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.modify_navbar_color {
  padding: 0;
  margin-bottom: 1px;
  border-radius: 0;
}
.nav-fill .nav-item, 
.nav-fill .nav-fill > .nav-link {
  flex: 1 1 calc(100%/6);
}

nav .modify_navbar_color .nav-item .nav-link.active {
  color: #3B771B;
}
nav .modify_navbar_color .nav-link.active,
nav .modify_navbar_color .nav-link,
nav .modify_navbar_color .nav-link:hover {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2rem;
  color: #3B771B;
  background-color: #A4BE98;
}
.navbar_container .modify_navbar_color .nav-link {
  color: #E3E5C7;
  background-color: #5D5D5D;
}
.navbar_container .modify_navbar_color .nav-link:hover {
  font-weight: unset;
  color: #254D14;
  background-color: #E0EED9;
}

  /* ~截斷文字 */
.ellipsis {
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .ellipsis {
    margin-bottom: unset;
  }
}
@media (min-width: 768px) {
  .ellipsis {
    text-overflow: unset;
    white-space: unset;
    overflow: unset;
  }
}

/* ~輪播圖敘述文字 */
.modify_figcaption {
  padding: 1rem;
  width: 100%;
  background-color: rgb(41, 41, 41);
}
figcaption h2 {
  font-size: 1.2rem;
  color: #E6E8AB;
}
figcaption a  {
  background-color: #8AA0A3;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  color: white;
  font-size: .8rem;
  display: inline-block;
  text-align: center;
}
.figcaption {
  background-color: black;
  opacity: .5;
}
@media (min-width: 576px) {
  .modify_figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(93, 93, 93, .6);
  }
  figcaption h2 {
    font-size: 1.7rem;
    color: #E6E8AB;
  }
  figcaption p a {
    background-color: #8AA0A3;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    color: white;
    font-size: .8rem;
    display: inline-block;
    text-align: center;
  }
  .figcaption {
    background-color: black;
    opacity: .5;
  }
}
/* ~control card 按鈕*/
.modify_control_card .card {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}
.modify_control_card h2 {
  font-size: 1.2rem;
  color: #D7DD91;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.modify_control_card p {
  font-size: 1rem;
  color: white;
}
.control_card_img {
  width: 100%;
  height: auto;
  border: 1px solid white;
}
.control_card_img:hover {
  cursor: pointer;
}
/* ~control card 按鈕分隔線 */
@media (min-width:768px) {
  .modify_control_card > div + div {
    border-left: 2px solid #3D751A;
    box-shadow: inset 1px 0 rgba(0, 85, 4, 0.5);
  }
}
/* ~FEATURE GARDENS內容 */
main article {
  background-color: white;
  padding: 1rem;
}
main article h3 {
  color: #864A08;
  background-color: #E2ECDD;
  border-bottom: 2px solid #BCD3B1;
  padding: 10px 25px 12px;
  font-size: 20px;
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  main article hr {
    margin: 1rem 0;
  }
}

main article .card-body h4 {
  font-size: 1.2rem;
  color: #864a08;
}

main article .card-body p {
  font-size: 1rem;
  color: #323332;
}

.modify_section_tip ol.card-text {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .modify_section_tip ol.card-text {
    margin-bottom: 0;
  }
}

.modify_section_tip div.col-md-4 {
  order: 2;
}
.modify_section_tip div.col-md-8 {
  order: 1;
}
@media (min-width: 768px) {
  .modify_section_tip div.col-md-4 {
    order: 1;
  }
  .modify_section_tip div.col-md-8 {
    order: 2;
  }
}

.modify_section_tip img {
  width: 100%;
}

main article .card,
main article .card .card-img-top {
  border: 0;
  border-radius: 0;
}

main article .card-body {
  padding: 0;
}
@media (min-width: 768px) {
  .modify_section_tip .card-body{
    padding: 0 0 0 1rem;
  }
}

/* ~footer */
.footer_section {
  background-color: #E2ECDD;
  color: #939193;
}

.footer_section a {
  color: #939193;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer_section a:hover {
  color: #E2ECDD;
}

/* ~nth */
@media (min-width: 576px) {
  .footer_content_box:nth-child(2n) {
    border-left: 1px solid #CFDFC8;
  }
}

@media (min-width: 768px) {
  .footer_content_box + .footer_content_box {
    border-left: 1px solid #CFDFC8;
  }
}

.footer_content_box {
  padding: 1rem;
  border-top: 1px solid #CFDFC8;
}

footer h5, footer p {
  margin-bottom: 0;
}

.footer_content_box a {
  justify-content: center;
}
.footer_content_box a:hover {
  color: darkgreen;
}

.social_media i {
  color: #3D7725;
  font-size: 1.6rem;
  width: 1.6rem;
  text-align: center;
}

.footer_content_box span {
  padding-left: .5rem;
  font-size: 1rem;
}

.footer_content_box i,
.footer_content_box span {
  vertical-align: middle;
}

.copyright {
  text-align: center;
  color: #e4e4e4;
  font-size: .8rem;
  margin: 0;
  padding: .5rem 0;
}