/**{
   outline: 1px blue solid;
}**/



/*-----------------------------------------------------------------header*/

body {
	background-image: url(../img/bg-body.jpg);
}

.row{
	margin: 0 auto;
}

.main-body{
	background-color: green;
	padding: 0 21px;
	width: 100%;
}

.logo-body{
	background-color: white;
	margin: 0 auto;
}

.logo {
	padding:	22px 0;
   margin: 0 auto;
}

.menu div{	
	text-align: center;
   background-color: #505050;
   font-size: 20px;
   line-height: 50px;
}

.menu a{
	text-decoration: none;
	color: #F5F6CE;
}

.menu div:hover{
	background-color: #D0F5A9;
}

.menu a:hover{
	color: #505050;
}

.bigpic{
	background-image: url(../img/gardening1.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

.shadow{
	margin-top: 300px;
	padding:	20px 20px;
	background-color: rgb(0, 0, 0, 0.4);
}

.shadow h1{
	color: #F5F6CE;
}

.shadow p{
	color: #ffffff;
}

.media{
	margin: 15px 0;
}

.media-pic-2{
	border-left: 1.5px rgb(0, 0, 0, 0.5) solid;

}

.media img{
	border: 2px white solid;
}

.media h4{
	color: #F5F6CE;
	
}

.media p{
	color: #ffffff;
}

.text-body{
	margin-left: 10px;
}

.white-part{
	background-color: white;
	padding-top:20px;
}

.titleword{
   background-color: #dce8d4;
   border-bottom: 2px #abc79a solid;
   margin-left: 15px;
   max-width: 97.1%;
}

.titleword p{
	color: #9a5731;
   font-size: 15px;
   margin-left: 15px;
   line-height: 40px;
  	margin-bottom: 0px;
}

.white-pic{
	padding-top: 20px;

}

.white-pic img{
	height: auto;
   width: 100%;
}

.shadow-bar {
	padding-top: 20px;
	border-bottom: 1px rgb(230, 230, 230) solid;
	margin-left: 15px;
   max-width: 97.1%;
}

.last-pic{
	padding-top: 20px;
	padding-left: 20px;
}



.last-text h4{
	margin-left: 23px;
   max-width: 94.8%;
	background-color: #dce8d4;
   border-bottom: 2px #abc79a solid;
   color: #9a5731;
   font-size: 15px;
   padding-left: 25px;
   line-height: 35px;
}

.last-text li{
	margin-left: 10px;
	margin-top: 20px;
}

.green-box{
	margin-top: 30px;
	background-color: #dce8d4;
	border: 1px #abc79a solid;
	
}

.green-body{
	margin-top: 20px;
	color: #bebebe;
}

.icon i{
	color: green;
}

.icon p{
	font-size: 20px;
	line-height: 20px;
}

.icon i:hover{
	color: #28ff28;
}

.Introduce p{
	text-align: center;
	color: white;
	margin-bottom: 0px;
	padding: 5px 0;
}
