/* BSAIC SETUP */
h5 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

body {
    background-image: url(./image/outside_background.jpg);
    background-repeat: repeat;
}

.bg-green {
    background-color: #326611;
    max-width: 960px;
    margin: 0 auto;     
}

.title {
    background-color: #dde9d5;
    border-bottom: 2px solid #bed3b0;
    color: #a9977b;

}


/* HEADER */

#navbar a {
    color: #dadbb8;
}

#navbar div:first-child a {
    background-color: #97b386;
    color: #527d38;
}

#navbar div:first-child a:hover {
    background-color: #72bd45;
}


/* HREO */
.carousel-caption {
    background-color: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
}

.carousel-caption h4 {
    color: #dee096;
}

.carousel-caption p {
    color: white;
}

/* PROMOTE */
#promote .promote-items {
    border-right: 2px solid rgba(255,255,255,0.1)
}

#promote p {
    color: #dee096;
}

#promote small {
    color: white;
}

/* FEATURES */
#features .h6 {
    color: #764230;
    text-transform: uppercase;
}

.feature-items {
    padding-bottom: 15px;
}

.feature-items p {
    margin-bottom: 0;
}

/* FOOTER */
.footer-col {
    background-color: #DCE9D4;
    border-top: 2px solid #bed3b0;
    border-right: 2px solid #bed3b0;
    color: #969895;
}

#copyright br {
    display: none;
}

/* MEDIA QUERY */
/* Medium devices */
@media (max-width: 768px) {
    #promote .promote-items {
        border: transparent;
        padding-bottom: 15px;
    }

    .tips-img {
        order: 3
    }

    #tips img {
        margin-bottom: 15px;
    }

}

/* Small devices */
@media (max-width: 576px) {
    .carousel-caption p {
        white-space:nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .carousel-caption h4 {
        text-align: center;
    }

    .feature-items img {
        width: 100%;
    }

    #copyright br {
        display: inline;
    }
}