
.btn-nav { 
	color: #F0F2C9; 
	background-color: #4B4B4B; 
	&:hover, &:focus, &:active {
		background-color: #f0f2c9; 
	}
}


#header{
	background: url(#{$img-path}/header-bg.png);
	background-repeat: repeat;
	display: block;
	height : auto;

	.logo-h1{
		color:#61844D;
	}

	.logo-h2{
		color : #797979;
	}
		h4{
		color : #F1B976;
	}
}

#logo{
	background: url(#{$img-path}/logo.png);
	background-repeat: no-repeat;
	height : 100px;
	width : 100px;
	@include background-size(contain);
}

#nav{
	height : auto;
	padding-bottom: 5px;
	a{
		border-radius:0px;
		border:0px;
	}
}