* {
    outline: 1px solid #999;
}

body {
    background-image: url(./img/bg-body.jpg);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1050px;
    background-color: #326611;
    padding: 0;
}

@media (min-width: 768px) {
    .container {
        padding: 0 15px;
    }

}

.logo {
    flex: 0 1 70%;
    font-size: 0;
    margin-bottom: 0;
}

.logo_image {
    margin-right: 0;
    padding: 10px 10px;
}

@media (min-width: 576px) {

    .logo {
        padding: 30px 15px;
        flex: 0 0 100%;
    }

    .logo_image {
        padding: 0;
    }

}

.link_button:focus {
    outline: none;
}

.menu {
    padding: 0;
    background-color: white;
    align-items: stretch;
}

.menu_list {
    flex-grow: 1;
}

.menu_link {
    background-color: #494949;
    padding: 15px 0;
    border-bottom: 1px solid #DBEBD0;
    text-align: center;
}

.link_button {
    border: none;
}

.menu .menu_list .menu_link {
    color: #dbdcb9;
}

.menu .menu_list .menu_link:hover {
    color: #326611;
    background-color: #DBEBD0;
} 

@media (min-width: 576px) {

    .menu {
        flex-wrap: wrap;
        text-align: center;
    }

    .menu_list>a {
        flex: 1 1 auto;
    }

}

@media (min-width: 768px) {
    .banner {
        position: relative;
    }
}


.banner img {
    min-height: 280px;
    object-fit: cover;
}


.welcome {
    background-color: #494949;
    padding: 15px;
}

@media (min-width: 768px) {

    .welcome {
        position: absolute;
        bottom: 0;
        background-color: rgba(68,68,68,0.85);
        padding: 15px 15px;
    }

}

.welcome p {
    margin-bottom: 0;
}

.welcome a {
    display: inline-block;
    font-size: 0;
}

.welcome i {
    font-size: 20px;
    color: #A6A6A6;
    margin: 0;
    vertical-align: baseline;
}

.quick_guide {
    margin: 15px 0;
}


.quick_guide p {
   margin: 0;
}

.guide_list:nth-child(-n+2)::after {
    content: " ";
    border-bottom: 2px solid #3D731A;
    box-shadow: 0 1px 0 #255906;
    margin: 10px 0;
    display: block;
}

@media (min-width: 576px) {

    .guide_list:nth-child(-n+2) {
        border-bottom: none;
        border-right: 2px solid #3D731A;
        box-shadow: 1px 0 0 #255906;
    }


    .guide_list:nth-child(-n+2)::after {
        display: none;
    }
}

.guide_items {
    display: flex;
}

@media (min-width: 576px) {

    .guide_items {
        display: block;

    }
}

@media (min-width: 992px) {
    
    .guide_items {
        display: flex;
    }
}


.introduce_image {
    flex: 0 0 35%;
}

.introduce_text {
    margin-left: 15px;
}

@media (min-width: 576px) {

    .introduce_text {
        margin-left: 0;
        margin-top: 15px;
    }

}

@media (min-width: 992px) {

    .introduce_text {
        margin-left: 15px;
        margin-top: 0;
    }
    
}



.introduce_image img {
    border: 1px solid white;
    width: 100%;
}


h2,h4 {
    color: #E1E597;
    font-weight: normal;
}

h2 {
    font-size: 28px;
}

h3 {
    padding: 5px 0 5px 18px;
    font-size: 20px;
    color: #7A501E;
    text-shadow: 1px 1px 0 white;
    background-color: #DDE9D5;
    border-bottom: 2px solid #AECA9E;
    font-weight: 400;
    margin-bottom: 0 ;

}

h4 {
    font-size: 18px;
}

h5 {
    color: #7A501E;
    font-size: 20px;
}

@media (min-width: 768px) {

    h5 {
        font-size: 16px;
    }

}

.banner p , .quick_guide p {
    color: white;
}

.main_introduce {
    padding: 15px 15px 30px 15px;
    background-color: white;
}

.garden_window {
    margin-top: 15px;
}

.gardens_guide p {
    color: black;
}

@media (min-width: 768px) {

    .gardens_guide {
        margin: 0;
        flex-wrap: nowrap;
    }

    .gardens_guide>div {
        padding: 0;
        flex-shrink: 1;
        
    }

    .gardens_guide>div:not(:last-child) {
        margin-right: 15px;
        
    }
}

.main_introduce .card {
    border: none;
}

.main_introduce img {
    border-radius: 0;
}

.main_introduce .card-body {
    margin-top: 15px;
    padding: 0;
}

.main_introduce .card-title {
    margin-bottom: 10px;
}

.main_introduce .card-text {
    font-size: 14px;
}

.lines {
    margin: 15px auto;
    border-top: 2px solid #EBEAE6;
}

.week_tips_text , .week_tips_image{
    margin-top: 15px;
}

.week_tips_text li:not(:first-child) {
    margin-top: 15px;
}

.week_tips img {
    width: 100%; 
}

@media (min-width: 576px) {

    .week_tips {
        display: block;
    }

    .week_tips .title {
        float: right;
        padding-left: 0;
    }

    .week_tips_text {
        float: left;
        padding-left: 0;
    }

    .week_tips_image {
        margin-top: 0;
        float: left;
    }

}



ol {
    list-style: none;
    margin-bottom: 0;
    counter-reset: tips_count;
    padding-left: 30px;
    position: relative;
}

ol li:before {
    content: counter(tips_count) ".";
    counter-increment: tips_count;
    position: absolute;
    left: 0;
    width: 20px;
    text-align: right;
    font-weight: bold;

}


ol li p {  
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
}

ol li:last-child p{
    margin: 0;
}


.information {
    margin: 0;
}


.information>div  {
    padding: 15px;
    border-top: 1px solid #CADCC0;
    background-color: #DDE9D5;
}

@media (min-width: 768px) {

    .information>div:nth-child(-n+3) {
        border-right: 1px solid #CADCC0;
    }

}

footer p {
    font-size: 14px;
    color: #999;
    margin: 0;
}

footer h6 {
    font-size: 20px;
    color: #807E81;
    text-shadow: 1px 1px 0 white;
}

@media (min-width: 768px) {

    footer h6+p, footer h6+nav {
        margin-top: 15px;
    }

}

.social_media a {
    font-size: 0;
    padding: 0;
}

.social_media span {
    font-size: 14px;
    color: #999;
    vertical-align: middle;
}

span:hover {
    color: #326611;
}

.social_media a:not(:last-child) {
    margin-bottom: 10px;
}

.fas,.fab {
    font-size: 22px;
    color: #326611;
    margin-right: 7px;
    vertical-align: middle;
}

.copyrights {
    padding: 5px 0;
    text-align: center;
}

.copyrights p {
    font-size: 14px;
    color: white;
    margin: 0;
    text-align: center;
}

.copyrights span {
    display: none;
}

@media (min-width: 768px) {

    .copyrights p {
        display: inline-block;
    }
    
    .copyrights span {
        display: inline;
        color: white;
        font-size: 14px;
    }
}