/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/css3/";
 @import "lib/global";
 @import "lib/extend";
 @import "common/footer";
 @import "common/header";
 @import "common/banner";
 @import "page/index/main";
 @import "compass/utilities/sprites";
 @import "icons/*.png";
 @include all-icons-sprites;

 body{
 	background: url(#{$img-path}/bg.png);
 	background-repeat: repeat;
 }

 #wrap{
 	background-color: $bg-color;
 	width : $wrap-width;
 	height: auto;
 }