.background1{
  background-image:url("img/bg.png");
  background-repeat: repeat;
}
.background2{
  margin:0 auto;
  width: 80%;
  height: 100%;
  background-color:green;
}
.background3{
  background-color:white;
}
.headtitle{
  font-size: 60px;
}




.nav-tabs {
    border-bottom: 1px solid white;
}
.nav-tabs > li {
  float: center;
  margin-bottom: 0px;
}
.nav-tabs > li > a {
  margin: 0;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius:0;
  background-color: black;
  color: white;
}
.nav-tabs > li > a:hover {
  border-color: #bdffce;
  color: black;
  background-color:  #bdffce;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
}


.tip{
  width:100%;
  height: 150px;
  margin-top: -150px;
  padding-left: 20px;
  padding-top: 10px;
  position: relative;
  background-color: rgba(0,0,0,0.7);
  color: white;
}
.ad{
  margin-top: 2%;
}
.adbord{
  padding-bottom: -5%;
  height: 170px;
  border-right: 4px ridge rgba(0, 0, 0, 0.1);
}
.adimg{
  border: 2px solid white;
  margin: 0 5% 5% 5%;
}
.adwordtitle{
  font-size:25px;
  color:yellow;
}
.adwordcontent{
  font-size:23px;
  color:white;
}

.background4{
  background-color:#8aff98;
}
.FEATUREDGARDENS{
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  background-color: #aee5df;
  color: brown;
  font-size: 30px;
  border-bottom: 2px solid #32a99b;
}

.imgborder{
  width: 92%;
  border-width: 1px ;
  border-style: groove;
}
.whosgarden{
  color:brown;
  font-size:25px;
}
.whosgardencontent{
  color:black;
  font-size:22px;
  width: 92%;
}
.TIPSOFTHEWEEK{
  margin-bottom: 7%;
  padding-left: 2%;

  background-color: #aee5df;
  color: brown;
  font-size: 40px;
  border-bottom: 2px solid #32a99b;
}
.foot{
  padding:2% 0 2% 2%;
}
.foottitle{
  font-size:30px;
  color:gray;
}
.footcentent{
  font-size:23px;
  color:gray;
}
