#content ul {
  display: inline-block;
  margin-right: 15px;
}
#content hr {
  border:0;
  background-color: black;
  width:95%;
  height:0.5px;
}
#content > img {
  margin:10px;
  width:35%;
}
#content  .inline-block {
  clear: both;
  display: inline-block;
  width:60%;
  margin-bottom:40px;
}
#content > div > ol > li {
  padding-left: 15px;
}
#content h1 {
  background-color: #dce9d4;
  border-bottom: 2px solid #b3cca4;
  color: #836145;
  font-size: 18px;
  height: 40px;
  margin-left: 15px;
  padding-left: 10px;
  line-height: 40px;
  text-shadow: 1px 1px 1px white;
}
.max-width {
  max-width: 300px;
}
