#tips {
  position: absolute;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
}
#tips > h2 {
  color:#dde387;
}
#tips > span {
  color:white;
}
#tips > a > img {
  height:20px;
  width:20px;
}
