footer > ul > li {
  box-sizing: border-box;
  border:0.5px solid;
  border-color: #a3bf93;
  height:150px;
  padding:0;
}
footer h1 {
  color: #797979;
  font-size: 18px;
  height: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 1px white;
}
footer li {
  color: #797979;
}
.email {
  background: url("img/icons.png") no-repeat ;
  color: #797979;
  padding: 0 0 0 30px;
}
.email:hover {
  background: url("img/icons.png") no-repeat 0 -14px;
  color: black;
  text-decoration: none;
}
.facebook {
  background: url("img/icons.png") no-repeat 0 -38px;
  color: #797979;
  padding: 0 0 0 30px;
}
.facebook:hover {
  background: url("img/icons.png") no-repeat 0 -58px;
  color: black;
  text-decoration: none;
}
.twitter {
  background: url("img/icons.png") no-repeat 0 -88px;
  color: #797979;
  padding: 0 0 0 30px;
}
.twitter:hover {
  background: url("img/icons.png") no-repeat 0 -106px;
  color: black;
  text-decoration: none;
}
.google {
  background: url("img/icons.png") no-repeat 0 -136px;
  color: #797979;
  padding: 0 0 0 30px;
}
.google:hover {
  background: url("img/icons.png") no-repeat 0 -156px;
  color: black;
  text-decoration: none;
}
