
body{
	background: url(./bg-body.jpg) repeat;
}
.main{
	width: 78%;
	background-color: #356618;
	margin: auto;
}

.container{
	width: 96%;
	margin-right: auto;
  	margin-left: auto;
}

.logo{
	background-color: #FFFFFF;	
}
.logo img{
	margin-top: 2%;
	margin-bottom: 2%;
	max-width: 100%;
}

.clear-padding-both{
	padding-left: 0;
	padding-right: 0;
}

.header{
	padding-left: 0;
	padding-right: 0;
}

.menu a{
	color: #f0f2c9;
	display: block;
	width: 100%;
	line-height: 2em;
}
.menu li{
	background: #4b4b4b;
}

.menu li.active{
	background: #96b285;
	color: #356618;
}

.menu li a:hover{
	background: #96b285;
	color: #356618;
}

.banner{
	position: relative;
}

.gardening{
	width: 100%;
}

.gardening-tips{
	background-color: rgba(10%, 10%, 10%, 0.7);
	position: absolute;
	bottom: 0;
}

.tip-header{
	color: #e3e699;
}
.tip-content{
	color: #ffffff;
}

.holder{
	margin-top: 3%;
	margin-bottom: 3%;
}

.holder .holder-tip{
	/*padding-left: 0;
	padding-right: 0;*/
}

.thumb{
	border: solid 1px #FFFFFF;
	float: left;
	margin-right: 6%;
}

.holder-tip:nth-child(n+2){
	background: url(separator1.png) repeat-y;
}

.holder-tip-header{
	margin-top: 0;
}


.garden{
	padding: 1.5% 2% 1.5% 2%;
	background: #FFFFFF;
}

.gardens{
	padding-left: 0;
	padding-right: 0;
}

hr{
	border-color: #dce9d4;
}

.garden-title{
	background: #dce9d4;
	border-bottom: solid 2px #b3cca4;
	color: #836145;
	padding: 1.5% 0 1.5% 1.5%;
	margin-top: 0;
}

.garden-subtitle{
	color: #836145;
	line-height: 2em;
}

.garden5{
	width: 100%;
	float: left;
}

.garden5 img{
	max-width: 100%;
}

.tip-img{

}

.tips-of-week{
	margin-top: 0;
	padding-right: 0;
}

.tips-of-week ol{
	list-style: decimal;
	margin-left: 4%;
}

.tips-of-week ol li{
	margin-top: 3%;
}

/*ref: http://stackoverflow.com/questions/4804581/css-expand-child-div-height-to-parents-height*/
.place-holder-area{
	background: #dce9d4;
	color: #8c8c8c;
	padding-left: 0;
	padding-right: 0;

	/*會影響 bs3 的 RWD */
	/*display: flex;*/ 
	
	overflow: hidden;
}
.place-holder{
	border: solid 1px #b8d0aa;

	height: 100%;
	margin-bottom: -500%;
  	padding-bottom: 500%;
}

.connect li{
	/*line-height: 1.8em;*/
	margin-bottom: 10px;
}

.connect a{
	background: url(icons.png) no-repeat;
	padding-left: 30px;
	color: #8c8c8c;
	display: inline-block;
}

a.email{
	height: 14px;
	background-position: 0 -14px;	
}

a.fb{
	height: 20px;
	background-position: 0 -38px;	
}

a.twitter{
	height: 18px;
	background-position: 0 -88px;	
}

a.google{
	height: 20px;
	background-position: 0 -134px;	
}

.copyright{
	color: #FFFFFF;
}

