/* ============= debug ============= */
* {
  /* outline: 1px solid; */
  /* background-color: transparent !important; */
  /* background-image: none !important; */
}
img {
  /* opacity: .2; */
}

/* screen width: 1540px */
/* body::before {
  content: "";
  background: url(../Template_3.png) no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 3000px;
  position: absolute;
  left: -9px;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .8;
  opacity: 0;
  z-index: -1;
} */




/* ============= reset ============= */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/bg-body.jpg);
}
figure {
  margin: 0;
}
hr {
  margin: 20px 0;
}




/* ============= layout ============= */
.custom-container {
  padding: 0 20px;
  background-color: #356618;
  position: static;
}
.custom-row {
  margin-left: -20px;
  margin-right: -20px;
}
.custom-col {
  padding-left: 20px;
  padding-right: 20px;
}




/* ============= header ============= */
/* -------- logo -------- */
.logo {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}
.logo img {
  max-width: 500px;
  width: 100%;
}




/* ============= nav ============= */
.custom-navbar  {
  position: sticky;
  top: 0;
  background-color: #4b4b4b;
  z-index: 1000;
}

.custom-navbar-brand {
  font-weight: bold;
  color: #fff;
}
.custom-navbar-brand:hover {
  color: #ddd;
}

.custom-navbar-toggler {
  color: rgba(255, 255, 255, .5);
  border-color: rgba(255, 255, 255, .3);
}

.custom-navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 768px) { /* md */
  .custom-navbar-nav {
    border-bottom: 1px solid #fff;
  }
}

.custom-nav-link {
  padding: 18px 0;
  color: #f0f2c9;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.custom-nav-link:hover {
  background-color: #96b285;
  color: #356618;
}

.custom-navbar-collapse {
  margin-top: 16px;
}

/* 使用 nav-justified 無法讓 nav-item 等寬，在 navbar-collapse 設定就能解決 */
@media (min-width: 768px) { /* md */
  .custom-navbar-collapse:not(.show) {
    display: block !important;
  }
  .custom-navbar-collapse {
    margin-top: 0;
  }
}




/* ============= carousel section ============= */
.custom-carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 20px 28px 15px;
  text-align: left;
  background-color: rgba(0, 0, 0, .65);
}
.custom-carousel-caption h3 {
  color: #e3e699;
  margin-bottom: .25rem;
}
.custom-carousel-caption p {
  line-height: 1.5;
  font-size: 18px;
  font-weight: bold;
  word-spacing: 2px;
  margin: 0;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 768px) { /* md */
  .custom-carousel-caption p {
    text-overflow: clip;
    overflow: auto;
    white-space: normal;
  }
}
.custom-carousel-caption i {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  font-size: 18px;
  text-align: center;
  line-height: 1.5rem;
  background-color: #768e90;
}
.custom-carousel-caption a {
  color: #fff;
}




/* ============= media section ============= */
.media-list {
  padding: 20px 0;
}

@media (min-width: 992px) { /* lg */
  .col-border + .col-border {
    border-left: 1px solid #245607;
  }
}

.media-item {
  padding: 20px;
  cursor: pointer;
}
@media (min-width: 992px) { /* lg */
  .media-item {
    padding: 0 20px;
  }
}

.media-item img {
  width: 110px;
  height: auto;
  box-sizing: content-box;
  border: 2px solid #fff;
  margin-right: 20px;
}

.media-body h3 {
  font-size: 20px;
  font-weight: bold;
  color: #e3e699;
}
.media-body p {
  margin: 0;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}




/* ============= main ============= */
main {
  padding: 20px 20px 40px;
  background-color: #fff;
}
main h2 {
  font-size: 22px;
  text-transform: uppercase;
  background-color: #dce9d4;
  color: #836145;
  border-bottom: 2px solid #b3cca4;
  padding: 10px 20px;
  margin-bottom: 20px;
}


/* -------- card list -------- */
.card-row {
  margin-bottom: -20px;
}

.card-item {
  border: none;
  padding: 0 10px;
  margin-bottom: 20px;
}

.custom-card-body {
  padding: 20px 0 0;
}
.custom-card-body h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #836145;
  margin-bottom: 20px;
}
.custom-card-body p {
  margin: 0;
  font-size: 18px;
}


/* -------- article -------- */
.article-cover,
.article-body {
  padding: 0 10px;
}

.article-cover img {
  width: 100%;
  height: auto;
}

.article-body {
  margin-bottom: 20px;
}
@media (min-width: 992px) { /* lg */
  .article-body {
    margin-bottom: 0;
  }
}

.article-content ol {
  padding-left: 34px;
  margin-bottom: 0;
  font-size: 18px;
}
.article-content ol li {
  text-indent: -2.5em;
  list-style-type: none;
  counter-increment: item;
}
.article-content ol li::before {
  width: 2em;
  display: inline-block;
  text-align: right;
  content: counter(item) ".";
  font-weight: bold;
  padding-right: .5em;
}
.article-content ol li + li {
  margin-top: 20px;
}




/* ============= footer ============= */
.footer__card-list {
  background-color: #dce9d4;
  border-top: 1px solid #b8d0aa;
}

.footer-col + .footer-col {
  border-top: 1px solid #b8d0aa;
}
@media (min-width: 768px) { /* md */
  .footer-col + .footer-col {
    border: none;
  }
  .footer-col:nth-of-type(even) {
    border-left: 1px solid #b8d0aa;
  }
  .footer-col:last-of-type,
  .footer-col:nth-last-of-type(2) {
    border-top: 1px solid #b8d0aa;
  }
}
@media (min-width: 992px) { /* lg */
  .footer-col + .footer-col {
    border-left: 1px solid #b8d0aa;
  }
  .footer-col:last-of-type,
  .footer-col:nth-last-of-type(2) {
    border-top: none;
  }
}

.footer__card-item {
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.footer__card-item h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: #8c8c8c;
  text-align: center;
}
@media (min-width: 992px) { /* lg */
  .footer__card-item h3 {
    text-align: left;
  }
}
.footer__card-item p {
  font-size: 18px;
  color: #8c8c8c;
}

.social {
  text-align: center;
}
@media (min-width: 992px) { /* lg */
  .social {
    text-align: left;
  }
}

.social a {
  display: block;
  color: #8c8c8c;
  font-size: 0;
}
.social a + a {
  margin-left: 10px;
}
@media (min-width: 992px) { /* lg */
  .social a + a {
    margin: 10px 0 0;
  }
}
.social i,
.social span {
  vertical-align: middle;
}
.social i {
  font-size: 36px;
  color: #366517;
}
@media (min-width: 992px) { /* lg */
  .social i {
    font-size: 26px;
  }
}
.social span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.copyright p {
  padding: 8px 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}