/* ============= debug ============= */
* {
  /* outline: 1px solid; */
  /* background-color: transparent !important; */
  /* background-image: none !important; */
}
img {
  /* opacity: .2; */
}

/* screen width: 1540px */
/* body::before {
  content: "";
  background: url(../Template_3.png) no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 3000px;
  position: absolute;
  left: -9px;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .8;
  opacity: 0;
  z-index: -1;
} */




/* ============= reset ============= */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/bg-body.jpg);
}
figure {
  margin: 0;
}




/* ============= layout ============= */
.custom-container {
  padding: 0 20px;
  background-color: #356618;
}
.custom-row {
  margin-left: -20px;
  margin-right: -20px;
}
.custom-col {
  padding-left: 20px;
  padding-right: 20px;
}




/* ============= header ============= */
/* -------- logo -------- */
.logo {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}
.logo img {
  max-width: 500px;
  width: 100%;
}




/* ============= nav ============= */
.custom-navbar  {
  position: sticky;
  top: 0;
  background-color: #4b4b4b;
  z-index: 1000;
}

.custom-navbar-brand {
  font-weight: bold;
  color: #fff;
}
.custom-navbar-brand:hover {
  color: #ddd;
}

.custom-navbar-toggler {
  color: rgba(255, 255, 255, .5);
  border-color: rgba(255, 255, 255, .3);
}

.custom-navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 768px) { /* md */
  .custom-navbar-nav {
    border-bottom: 1px solid #fff;
  }
}

.custom-nav-link {
  padding: 18px 0;
  color: #f0f2c9;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.custom-nav-link:hover {
  background-color: #96b285;
  color: #356618;
}

.custom-navbar-collapse {
  margin-top: 16px;
}

/* 使用 nav-justified 無法讓 nav-item 等寬，在 navbar-collapse 設定就能解決 */
@media (min-width: 768px) { /* md */
  .custom-navbar-collapse:not(.show) {
    display: block !important;
  }
  .custom-navbar-collapse {
    margin-top: 0;
  }
}




/* ============= main ============= */
/* -------- carousel -------- */
.custom-carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 20px 28px 15px;
  text-align: left;
  background-color: rgba(0, 0, 0, .65);
}
.custom-carousel-caption h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #e3e699;
  margin-bottom: .25rem;
}
.custom-carousel-caption p {
  line-height: 1.75;
  font-weight: bold;
  word-spacing: 2px;
  margin: 0;
  color: #fff;
}
.custom-carousel-caption i {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.5rem;
  background-color: #768e90;
}
.custom-carousel-caption a {
  color: #fff;
}

