
.banner-title{
	text-decoration: none;
	@include link-colors($banner-title-color, $banner-title-hover-color, $banner-title-color, $banner-title-hover-color, $banner-title-hover-color); 
}

.banner-text{
	color : $banner-text-color;
	line-height: 24px;
	letter-spacing: 0.028em;
	margin-left: 15px;
}


/* --- Banner --- */
#banner{
	background: url(#{$img-path}/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center; 
	@include background-size(cover);
	position: relative;
	height : 620px;
}


#banner-bottom{
	height : auto;
	position: absolute;
	bottom: 0;
	left: 0;
	@include better_transparentize(#302623, .8);

	#banner-bottom-title{
		@extend .banner-title;
	}

	p{
		@extend .banner-text;
		margin-left: 15px;
	}

	#banner-more{
		height: 22px;
		width: 22px;
		display: inline-block;
		background-color : #798F92;
		text-decoration: none;
		@include link-colors(#C6E099, #ffffff, #C6E099, #ffffff, #ffffff); 
		position: relative;
		margin-top: 15px;
		font-size : 18px;
		&:hover{
			background-color : #F9B81B;
		}
	}
}

/* --- sub Banner --- */

#sub-banner{
	margin-top: 22px;
	margin-bottom : 25px;
	height : auto;

	p{
		@extend .banner-text;
	    letter-spacing: 0.03em;
	}

	#sub-title-1, #sub-title-2, #sub-title-3{
	 	@extend .banner-title;
	}
}


/* sub banner img */
#sub-banner1{
	@include setSubBanner("subbanner1.png");
}

#sub-banner2{
	@include setSubBanner("subbanner2.png");
}

#sub-banner3{
	@include setSubBanner("subbanner3.png");
}