
#footer{
	height : auto;
	background-color : $footer-bg-color;

	h4{
		color: $footer-font-color;
		padding: 10px 0 10px 15px;
		@include single-text-shadow(1px, 1px, 1px, $color:#ffffff);
	}

	p{
		color: $footer-font-color;
		line-height: 12px;
		padding-left: 15px;
	}

	div{
		border:#b8d0aa 1px solid; 
	}

	.row [class*="col-"]{
	 	margin-bottom: -99999px;
	 	padding-bottom: 99999px;
	}

	.row{
	  overflow: hidden; 
	}
}

#icons{
	a{
		height: 31px;
		display: block;
		padding-left: 50px;
		line-height: 30px;
		letter-spacing: 0.05em;
		text-decoration: none;
		color: $footer-font-color;
	}
}

#copyright{
	height: auto;
	margin-top : 10px;
	color : #ffffff;
	font-size: 16px;
	@include single-text-shadow(2px, 1px, 2px, $color:#8da181);
}