/*Global Settings*/

.text-hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

body {
    background: url("../img/bg.png") repeat;
}
section {
    height: 100%;
    overflow: auto;
    position: relative;
}
.container {
    background-color: #256000;
}


/* Header Start */

.header {
    height: 90px;
    background-color: #fff;
}

.header .logo {
    background: url("../img/logo.png") no-repeat center center;
    width: 421px;
    height: 80px;
    margin: 0 auto;
}


/* Navbar Start */

.nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 50px;
}

.nav ul li {
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    background-color: #4B4B4B;
    color: #C8E1BF;
    font-weight: bold;
}

.nav ul li a {
    color: #C8E1BF;
    font-family: 'Open Sans';
}

.nav ul .active {
    color: #4B4B4B;
    background-color: #C8E1BF;
}

.nav ul .active a {
    color: #4B4B4B;
}

.nav ul .home {
    background-color: #90BA7D;
}

.nav ul .home a {
    color: #256F00;
}




/* Section Banner Start */

.banner {
    background: url("../img/AD.jpg") no-repeat center center;
    background-size: cover;
    height: 480px;
}

.banner .caption {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.banner .caption h3 {
    font-size: 28px;
    color: #D9ED87;
}

.banner .caption p {
    color: #FFF;
    font-weight: bold;
    line-height: 22px;
}

.banner .caption i {
    font-size: 16px;
    color: #CCC;
}


/* Section Intro Start */
.intro{
	box-sizing: border-box;
	overflow: hidden;
}
.intro .figcaption{
	height: 100px;
	float: left;
	width: 60%;
	border-right: 1px solid #CCC;
	margin-top: 15px;
}
.intro .figcaption h5{
	color: #D9ED87;
	font-weight: bold;
	padding-top: 10px;
}
.intro .figcaption p{
	color: #FFF;
}
.intro img.intro_img{
	width: 100px;
	height: auto;
	border: 2px solid  #FFF;
	float: left;
	margin: 15px
}


/* Section Feature Start */
.feature{
	background-color: #fff;
}

/*feature_garden*/
.feature .feature_garden{
	border-bottom: 1px solid #CCC;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.feature .feature_garden h3{
	background-color: #D9ECD1;
	color: #85663C;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	border-bottom: 2px solid #BADAAD;
	margin-bottom: 20px;
}

.feature .feature_garden h5{
	color: #85663C;
	font-weight: bold;
	margin-top: 20px;
}

/*feature_tip*/
.feature .feature_tip h3{
	background-color: #D9ECD1;
	color: #85663C;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	border-bottom: 2px solid #BADAAD;
	margin-top: 0;
	margin-bottom: 40px;
}
.feature .feature_tip ol{
	margin-left: -20px
}

.feature .feature_tip ol li{
	line-height: 1.7em;
	margin-bottom: 1em;
}