body {
    background-image: url("../images/bg-body.jpg");
}

.center-block {
    max-width: 80%;
    background-color: #356618;
}

.content {
    max-width: 99%;
}

.logo-box {
    padding: 1% 10% 2%;
    background-color: white;
}

.logo-img {
    background-color: white;
}

.btn1 {
    padding: 1%;
    text-align: center;
    color: #5C6A18;
    background-color: #96B285;
}

a {}

.btn {
    padding: 1%;
    text-align: center;
    color: #F0F2C1;
    background: #4B4B4B;
}

a.btn:hover {
    color: black;
    background: #F0F8FF;
}

a:hover {
    text-decoration: none;
}


/*---------------------------------*/

label {
    display: block;
}

label:hover {
    cursor: pointer;
}

input[type=checkbox]:checked+div {
    opacity: 0;
    max-height: 0;
}

.boxtext {
    display: inline-block;
    padding: 10px;
    opacity: 1;
    overflow: hidden;
    transition: opacity 1.0s linear;
}

input {
    display: none;
}


/*--------------header----------*/

.bg-box {
    padding: 32% 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/gardening1.jpg");
}

.bg-box2 {
    padding: 48% 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/gardening1.jpg");
}

.title-box {
    padding: 0.5%;
    background: rgba(20, 20, 20, 0.6);
}

.title, .project-title {
    color: yellow;
}

.box-text, .boxtext {
    color: white;
}


/*------------top----------*/

.project {
    margin-top: 1em;
}

.project-img {
    border: 1px white solid;
}

.p-img-box {
    padding: 0;
}


/*--------project---------*/

.f-p-title-box {
    padding: 15px 16px 0;
    background-color: white;
}

.featured-page, .tips-box {
    padding: 15px 0px 0;
    background-color: white;
}

.f-p-title, .tips-title {
    padding: 0.8%;
    border-bottom: 2.5px #B3CCA4 solid;
    background-color: #DCE9D4;
}

.featured-img {
    width: 100%;
    box-shadow: 1px 4px 4px 1px #cccccc;
}

.featuped-title {
    margin-top: 10px;
    color: #836150;
}

.featuped-text {
    font-size: 13px;
}


/*----------featured---------*/

.hr {
    padding: 0.1px 20px;
    background-color: white;
}

.tips-box {
    padding-bottom: 3%;
}

.tips-img {
    width: 100%;
}

.footer-box {
    height: 11em;
    padding-top: 1em;
    font-size: 15px;
    background-color: #DCE9D4;
    border: 0.5px #356618 solid;
}

i {
    padding-bottom: 3%;
}

.copyright {
    margin: 1%;
    color: white;
    font-size: 15px;
    text-align: center;
}
