

body {
	background-image: url("../images/bg-body.jpg");
}

.h-shadow {
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
}

.h-size1 {
	font-size: 2vw;
}

.h-size2 {
	font-size: 1.5vw;
}

.h-size3 {
	font-size: 1.2vw;
}

.p-size1 {
	font-size: 1vw;
}


/* Light Yellow */
.h-color1 {
	color: #d6d991;
}

/* Brown */
.h-color2 {
	color: #8a6547;
}

/* Gray */
.h-color3 {
	color: #909091;
}

/* White */
.p-color1 {
	color: #FFF;
}

/* Gray */
.p-color2 {
	color: #929392;
}

/* Dark Green */
.p-color3 {
	color: #336614;
}

/* Light Green */
.bg-color1 {
	background-color: #dde9d5;
}

.container-style {
	background-color: #326610;
}

.header {
	background-color: #fefefe;
}

.navstyle: {
	margin: 0;
}

.navstyle a {
	flex-grow: 1;
	background-color: #4a4a4a;
	color: #dfe1bc;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.navstyle a:hover {
	background-color: #daebcf;
	color: #2f412b;
}

.navstyle .home {
	background-color: #98b386;
	color: #3a6c1e;
}

.jumbo-style {
	position: relative;
}

.jumbo-img {
	width: 100%;
}

@media screen and (max-width: 768px) {
	.jumbo-img {
		/* Making buffer for small screen */
		padding-top: 15%;
		padding-bottom: 15%;
		background-color: #000;
	}	
}

.jumbo-block {
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 768px) {
	.jumbo-block {
		top: 50%;	
	}	
}

@media screen and (min-width: 1024px) {
	.jumbo-block {
		top: 75%;	
	}	
}

.vt {
	width: 0;
	border-left: 2px solid #3a7118;
	border-right: 2px solid #295e06;
	margin-left: -4px;
}

.img-set1 {
	border: 1px solid #FFF;
	width: 100%;
}

.img-fill {
	width: 100%;
}

.content {
	background-color: #FFF;
	/* Cancel default margin from BS4 */
	margin: 0;
}

.sub-title {
	border-bottom: 1px solid #c2d7b7;
}

.list-style {
	padding-left: 1rem;
}

.list-style li {
	margin-bottom: 1rem;
}

.footer {
	border: 1px solid #cbdcbf;
	/* Cancel default margin from BS4 */
	margin: 0;	
}

.footer-sec {
	border: 1px solid #cbdcbf;
	padding: 1rem;
}