header {
    background-color: rgb(255, 255, 255, 1);
}

header::after {
    content: "";
    display:inline-block;
    vertical-align: middle;
}

@media (min-width: 490px) {
    header::after{
        height: 100px;
    }
}


#cover .fixed-bottom {
    z-index:100;
}

@media (min-width: 768px) {
    #cover div.col-md-4 {
        padding: 0;
    }
}

nav a {
    color: #f0f2c9;
    line-height: 30px;
}

nav a:hover {
    background-color: #daead0;
    color: #1b330c;
}




nav a.active{
    background-color: #96b285;
    color: #356618;
}

#cover .card-body {
    background-color: rgba(0,0,0,0.4);
}

h5,h6 {
    color: #e3e699;
}

.h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #dce9d4;
    border-bottom: 2px solid #b3cca4;
    color: #836145;
    text-shadow: 1px 1px #fff;
}

#featured {
    padding: 20px;
}

#featured h6 {
    color: #836145;
}

#featured p.h6 {
    font-size: 14px;
    color: #4b4b4b;
    line-height: 24px;
}

#connect .card-body {
    background: #b3cca4;
}

#connect h5,p {
    color: #8c8c8c;
}

#connect h5 {
    text-shadow: 1px 1px 1px #fff;
}

#connect a{
    text-decoration: none;
}

#connect i {
    font-size: 18px;
    color: #356618;
}

#connect span{
    color: #8c8c8c;
    vertical-align: middle;
}
