header {
    background-color: rgb(255, 255, 255, 1);
}

header::after {
    content: "";
    display:inline-block;
    vertical-align: middle;
    height: 100px;
}

a {
    color: #f0f2c9;
    line-height: 30px;
}

a:hover {
    background-color: #daead0;
    color: #1b330c;
}

nav a.active{
    background-color: #96b285;
    color: #356618;
}

#cover .card-body {
    background-color: rgba(0,0,0,0.4);
}

h5,h6 {
    color: #e3e699;
}

