/* line 5, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 29, ../sass/style.sass */
.clear {
  clear: both;
}

/* line 31, ../sass/style.sass */
body {
  width: 100%;
  background-image: url("../image/bg-body.jpg");
  background-position: center;
}

/* line 35, ../sass/style.sass */
#main {
  width: 74%;
  margin: 0 auto;
  background-color: #326610;
}
/* line 39, ../sass/style.sass */
#main #header {
  width: 97%;
  margin: 0 auto;
  height: 130px;
  background-color: white;
  background-image: url("../image/logo.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 46, ../sass/style.sass */
#main #barlist {
  width: 97%;
  margin: 0 auto;
}
/* line 48, ../sass/style.sass */
#main #barlist #Home {
  float: left;
  width: 16.666%;
  background-color: #97b485;
  color: #366c11;
  text-align: center;
  border-bottom: solid white;
  line-height: 50px;
}
/* line 50, ../sass/style.sass */
#main #barlist #About {
  float: left;
  width: 16.666%;
  background-color: #4a4a4a;
  color: #eaecc6;
  text-align: center;
  border-bottom: solid white;
  line-height: 50px;
}
/* line 52, ../sass/style.sass */
#main #barlist #Plants {
  float: left;
  width: 16.666%;
  background-color: #4a4a4a;
  color: #eaecc6;
  text-align: center;
  border-bottom: solid white;
  line-height: 50px;
}
/* line 54, ../sass/style.sass */
#main #barlist #Gardens {
  float: left;
  width: 16.666%;
  background-color: #daebd1;
  color: #1f3c0f;
  text-align: center;
  border-bottom: solid white;
  line-height: 50px;
}
/* line 56, ../sass/style.sass */
#main #barlist #News {
  float: left;
  width: 16.666%;
  background-color: #4a4a4a;
  color: #eaecc6;
  text-align: center;
  border-bottom: solid white;
  line-height: 50px;
}
/* line 58, ../sass/style.sass */
#main #barlist #Contact {
  float: left;
  width: 16.666%;
  background-color: #4a4a4a;
  color: #eaecc6;
  text-align: center;
  border-bottom: solid white;
  line-height: 50px;
}
/* line 60, ../sass/style.sass */
#main #bigPic {
  background-image: url("../image/gardening1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 97%;
  margin: 0 auto;
}
/* line 64, ../sass/style.sass */
#main #bigPic #Picbox1 {
  width: 100%;
  height: 350px;
}
/* line 67, ../sass/style.sass */
#main #bigPic #Picbox2 {
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 72, ../sass/style.sass */
#main #bigPic #Picbox2 h2 {
  color: #e2e599;
  font-size: 30px;
}
/* line 75, ../sass/style.sass */
#main #bigPic #Picbox2 span {
  color: white;
  line-height: 2;
}
/* line 78, ../sass/style.sass */
#main #threelist {
  width: 97%;
  margin: 0 auto;
}
/* line 81, ../sass/style.sass */
#main #threelist #threelistFloat1 {
  float: left;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 30%;
}
/* line 90, ../sass/style.sass */
#main #threelist #threelistFloat1 #FloatImage1 {
  float: left;
  border: solid white;
  margin-top: 10px;
  width: 30%;
  content: url("../image/gardening2.jpg");
}
/* line 96, ../sass/style.sass */
#main #threelist #threelistFloat1 .FloatText {
  float: left;
  width: 60%;
  margin-top: 10px;
  margin-left: 20px;
}
/* line 104, ../sass/style.sass */
#main #threelist #threelistFloat1 .FloatText h1 {
  color: #e2e599;
  font-size: 20px;
}
/* line 107, ../sass/style.sass */
#main #threelist #threelistFloat1 .FloatText p {
  margin-top: 5px;
  color: white;
  line-height: 1.5;
}
/* line 111, ../sass/style.sass */
#main #threelist .threelistFloat2 {
  border-left: 4px solid;
  border-image: linear-gradient(to right, #3c741a 60%, #2c5e0a 40%) 1 100%;
  float: left;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 30%;
}
/* line 122, ../sass/style.sass */
#main #threelist .threelistFloat2 #FloatImage2 {
  float: left;
  border: solid white;
  margin-top: 10px;
  width: 30%;
  content: url("../image/gardening3.jpg");
}
/* line 128, ../sass/style.sass */
#main #threelist .threelistFloat2 #FloatImage3 {
  float: left;
  margin-top: 10px;
  border: solid white;
  width: 30%;
  content: url("../image/gardening4.jpg");
}
/* line 134, ../sass/style.sass */
#main #threelist .threelistFloat2 .FloatText {
  float: left;
  margin-top: 10px;
  width: 60%;
  margin-left: 20px;
}
/* line 142, ../sass/style.sass */
#main #threelist .threelistFloat2 .FloatText h1 {
  color: #e2e599;
  font-size: 20px;
}
/* line 145, ../sass/style.sass */
#main #threelist .threelistFloat2 .FloatText p {
  margin-top: 5px;
  color: white;
  line-height: 1.5;
}

/* line 149, ../sass/style.sass */
#content {
  width: 97%;
  margin: 0 auto;
  background-color: white;
  padding-top: 20px;
}
/* line 153, ../sass/style.sass */
#content #FeatureGarden {
  width: 95%;
  margin: 0 auto;
  background-color: #dde9d5;
  border-bottom: 1px solid #b5cea5;
}
/* line 158, ../sass/style.sass */
#content #FeatureGarden h1 {
  font-size: 25px;
  color: #876445;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
}
/* line 164, ../sass/style.sass */
#content #menu {
  width: 96%;
  margin: 0 auto;
}
/* line 168, ../sass/style.sass */
#content #menu .menuSample {
  float: left;
  width: calc(25% - 10px);
  margin: 20px 5px;
}
/* line 173, ../sass/style.sass */
#content #menu .menuSample .SampleImg {
  width: 100%;
}
/* line 175, ../sass/style.sass */
#content #menu .menuSample .SampleImg img {
  width: 100%;
}
/* line 177, ../sass/style.sass */
#content #menu .menuSample .SampleText {
  width: 100%;
}
/* line 179, ../sass/style.sass */
#content #menu .menuSample .SampleText h1 {
  font-size: 19px;
  color: #876445;
  line-height: 60px;
}
/* line 183, ../sass/style.sass */
#content #menu .menuSample .SampleText p {
  line-height: 1.5;
}
/* line 185, ../sass/style.sass */
#content #menu #TopProduct {
  border-top: 2px solid #ebeae6;
  padding-top: 20px;
  padding-bottom: 30px;
}
/* line 189, ../sass/style.sass */
#content #menu #TopProduct #TPimg {
  float: left;
  width: 30%;
}
/* line 192, ../sass/style.sass */
#content #menu #TopProduct #TPtext {
  float: left;
  width: calc(70% - 20px);
  margin-left: 20px;
}
/* line 197, ../sass/style.sass */
#content #menu #TopProduct #TPtext p {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 5px;
}
/* line 201, ../sass/style.sass */
#content #menu #TopProduct #TPtext #TPtextBar {
  width: 100%;
  background-color: #dde9d5;
  margin-bottom: 20px;
  border-bottom: 2px solid #b5cea5;
}
/* line 206, ../sass/style.sass */
#content #menu #TopProduct #TPtext #TPtextBar h1 {
  font-size: 23px;
  color: #876445;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 13px;
}

/* line 212, ../sass/style.sass */
#information {
  width: 97%;
  margin: 0 auto;
  background-color: #dde9d5;
  color: #838384;
  padding-bottom: 15px;
}
/* line 217, ../sass/style.sass */
#information .infoList {
  width: 25%;
  float: left;
}
/* line 220, ../sass/style.sass */
#information .infoList .ListPadding {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}
/* line 224, ../sass/style.sass */
#information .infoList .ListPadding h1 {
  font-size: 23px;
  line-height: 69px;
}
/* line 227, ../sass/style.sass */
#information .infoList .ListPadding .connect {
  margin-top: 3px;
}
/* line 230, ../sass/style.sass */
#information .infoList .ListPadding .connect img {
  width: 10%;
  vertical-align: middle;
}

/* line 233, ../sass/style.sass */
#footer {
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0 10px;
}
