/* line 1, ../sass/styleBST.sass */
.clear {
  clear: both;
}

/* line 14, ../sass/styleBST.sass */
body {
  background-image: url("../image/bg-body.jpg");
  background-position: center;
  position: relative;
}
/* line 18, ../sass/styleBST.sass */
body #Template_3 {
  width: 100%;
  height: auto;
  position: absolute;
  opacity: 0.2;
  top: 0;
  left: -8px;
  display: none;
}
/* line 26, ../sass/styleBST.sass */
body .row {
  padding-left: 26px;
  padding-right: 26px;
}
/* line 29, ../sass/styleBST.sass */
body #main {
  background-color: #326610;
  max-width: 1080px;
}
/* line 32, ../sass/styleBST.sass */
body #main #logo {
  background-color: white;
  text-align: center;
  line-height: 114px;
}
/* line 36, ../sass/styleBST.sass */
body #main .listitem_selected {
  background-color: #97b485;
  border-bottom: solid white;
  line-height: 40px;
}
/* line 40, ../sass/styleBST.sass */
body #main .listitem_selected a {
  text-align: center;
  color: #366c11;
}
/* line 43, ../sass/styleBST.sass */
body #main .listitem-highlight {
  background-color: #daebd1;
  border-bottom: solid white;
  line-height: 40px;
}
/* line 47, ../sass/styleBST.sass */
body #main .listitem-highlight a {
  text-align: center;
  color: #1f3c0f;
}
/* line 50, ../sass/styleBST.sass */
body #main .listitem {
  background-color: #4a4a4a;
  border-bottom: solid white;
  line-height: 40px;
}
/* line 54, ../sass/styleBST.sass */
body #main .listitem a {
  text-align: center;
  color: #eaecc6;
}
/* line 57, ../sass/styleBST.sass */
body #main #bigPic {
  background-image: url("../image/gardening1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 0 0;
}
/* line 61, ../sass/styleBST.sass */
body #main #bigPic #Picbox1 {
  padding-top: 35%;
}
/* line 63, ../sass/styleBST.sass */
body #main #bigPic #Picbox1 #Picbox2 {
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 23px;
  padding-top: 18px;
  padding-bottom: 14px;
}
/* line 68, ../sass/styleBST.sass */
body #main #bigPic #Picbox1 #Picbox2 h2 {
  color: #e2e599;
  margin-bottom: 0px;
  letter-spacing: 2.5px;
}
/* line 72, ../sass/styleBST.sass */
body #main #bigPic #Picbox1 #Picbox2 span {
  color: white;
  line-height: 1.7;
}
/* line 75, ../sass/styleBST.sass */
body #main #advertising {
  color: white;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 26px;
  padding-right: 26px;
}
/* line 82, ../sass/styleBST.sass */
body #main #advertising h5 {
  color: #e2e599;
}
/* line 84, ../sass/styleBST.sass */
body #main #advertising .ADcol {
  margin-bottom: 5px;
  padding-top: 5px;
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  /* line 84, ../sass/styleBST.sass */
  body #main #advertising .ADcol {
    margin-bottom: 25px;
  }
}
/* line 89, ../sass/styleBST.sass */
body #main #advertising .ADcol .row {
  padding: 0 0 0 0;
}
/* line 91, ../sass/styleBST.sass */
body #main #advertising .ADtext {
  padding-left: 7px;
}
/* line 93, ../sass/styleBST.sass */
body #main #advertising .ADborder {
  border-left: 4px solid;
  border-right: 4px solid;
  border-image: linear-gradient(to right, #3c741a 60%, #2c5e0a 40%) 1 100%;
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  /* line 93, ../sass/styleBST.sass */
  body #main #advertising .ADborder {
    border: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* line 93, ../sass/styleBST.sass */
  body #main #advertising .ADborder {
    border: 0;
  }
}
/* line 101, ../sass/styleBST.sass */
body #main #advertising .ADPic {
  text-align: center;
}
/* line 103, ../sass/styleBST.sass */
body #main #advertising .ADPic img {
  border: 3px solid white;
  width: 95%;
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  /* line 107, ../sass/styleBST.sass */
  body #main #advertising .ADPic img {
    width: 75%;
  }
}
/* line 109, ../sass/styleBST.sass */
body #main #content {
  background-color: white;
  padding-top: 20px;
}
/* line 115, ../sass/styleBST.sass */
body #main #content #FeatureGarden {
  background-color: #dde9d5;
  border-bottom: 1px solid #b5cea5;
}
/* line 118, ../sass/styleBST.sass */
body #main #content #FeatureGarden h1 {
  font-size: 21px;
  color: #876445;
  padding-left: 25px;
  padding-top: 13px;
  padding-bottom: 4px;
}
/* line 124, ../sass/styleBST.sass */
body #main #content .menuSample {
  padding-top: 27px;
}
/* line 126, ../sass/styleBST.sass */
body #main #content .menuSample h1 {
  font-size: 19px;
  color: #876445;
  line-height: 45px;
  margin-top: 15px;
}
/* line 131, ../sass/styleBST.sass */
body #main #content .menuSample p {
  line-height: 1.5;
}
/* line 133, ../sass/styleBST.sass */
body #main #content .menuSample img {
  width: 100%;
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  /* line 136, ../sass/styleBST.sass */
  body #main #content .menuSample img {
    width: 50%;
  }
}
/* line 138, ../sass/styleBST.sass */
body #main #content .middle {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
/* line 141, ../sass/styleBST.sass */
body #main #content .farleft {
  padding-left: 0px;
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  /* line 141, ../sass/styleBST.sass */
  body #main #content .farleft {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
/* line 146, ../sass/styleBST.sass */
body #main #content .farright {
  padding-right: 0px;
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  /* line 146, ../sass/styleBST.sass */
  body #main #content .farright {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
/* line 151, ../sass/styleBST.sass */
body #main #content #TPimg {
  margin-top: 10px;
  border-top: 2px solid #ecebe7;
  padding: 25px 0 25px 0;
}
/* line 155, ../sass/styleBST.sass */
body #main #content #TPimg img {
  width: 100%;
}
/* line 157, ../sass/styleBST.sass */
body #main #content #TPtext {
  margin-top: 10px;
  border-top: 2px solid #ecebe7;
  padding: 25px 0px 25px 39px;
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  /* line 157, ../sass/styleBST.sass */
  body #main #content #TPtext {
    padding: 0 0 25px 0;
  }
}
/* line 163, ../sass/styleBST.sass */
body #main #content #TPtext p {
  line-height: 1.7;
  margin-bottom: 12px;
}
/* line 166, ../sass/styleBST.sass */
body #main #content #TPtextBar {
  background-color: #dde9d5;
  margin-bottom: 35px;
  border-bottom: 2px solid #b5cea5;
}
/* line 170, ../sass/styleBST.sass */
body #main #content #TPtextBar h1 {
  font-size: 23px;
  color: #876445;
  padding-left: 15px;
  padding-top: 7px;
}
/* line 175, ../sass/styleBST.sass */
body #main #content #TPtextBar p {
  line-height: 1.7;
  margin-bottom: 12px;
}
/* line 179, ../sass/styleBST.sass */
body #main .info .infoList {
  background-color: #dde9d5;
  padding-bottom: 20px;
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  /* line 179, ../sass/styleBST.sass */
  body #main .info .infoList {
    text-align: justify;
  }
}
/* line 184, ../sass/styleBST.sass */
body #main .info .infoList .ListPadding {
  line-height: 1.5;
}
/* line 186, ../sass/styleBST.sass */
body #main .info .infoList .ListPadding h1 {
  font-size: 23px;
  margin-top: 20px;
}
/* line 189, ../sass/styleBST.sass */
body #main .info .infoList .ListPadding .connect {
  margin-top: 4px;
}
/* line 192, ../sass/styleBST.sass */
body #main .info .infoList .ListPadding .connect img {
  width: 10%;
  vertical-align: middle;
}
/* line 195, ../sass/styleBST.sass */
body #main #footer {
  text-align: center;
  color: white;
  letter-spacing: 1px;
  padding: 10px 0 10px;
}
