* {
    /* outline: 1px solid red; */
}

body {
    background-image: url("./image/bg-body.jpg");
    /* min-width: 992px; */
}

.body-wrap {
    margin: 0 auto;
    padding: 0 2%;
    width: 75%;
    background-color: green;
}

header {
    padding: 0 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
}

h1 {
    background-color: white;
}

h1 img {
    max-width: 100%;
    height: auto;
}



label {
    width: 50px;
    padding: 5px;
    background-color: rgb(220,233,210);
    border: 1px solid rgb(155,177,137) ;
    border-radius: 5px;
}



