/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* all */
/* main */
/* banner*/
/* footer */
/* set Main img */
/* set sub Main img */
/* set background transparent ; used by banner-bottom */
/* used by banner-title */
#footer {
  height: auto;
  background-color: #DCE8D4;
}
#footer h4 {
  color: #8c8c8c;
  padding: 10px 0 10px 15px;
  text-shadow: 1px 1px 1px #ffffff;
}
#footer p {
  color: #8c8c8c;
  line-height: 12px;
  padding-left: 15px;
}
#footer div {
  border: #b8d0aa 1px solid;
}
#footer .row [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
#footer .row {
  overflow: hidden;
}

#icons a {
  height: 31px;
  display: block;
  padding-left: 50px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #8c8c8c;
}

#copyright {
  height: auto;
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
  text-shadow: 2px 1px 2px #8da181;
}

.btn-nav {
  color: #F0F2C9;
  background-color: #4B4B4B;
}
.btn-nav:hover, .btn-nav:focus, .btn-nav:active {
  background-color: #f0f2c9;
}

#header {
  background: url(../img/header-bg.png);
  background-repeat: repeat;
  display: block;
  height: auto;
}
#header .logo-h1 {
  color: #61844D;
}
#header .logo-h2 {
  color: #797979;
}
#header h4 {
  color: #F1B976;
}

#logo {
  background: url(../img/logo.png);
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}

#nav {
  height: auto;
  padding-bottom: 5px;
}
#nav a {
  border-radius: 0px;
  border: 0px;
}

.banner-title, #banner-bottom #banner-bottom-title, #sub-banner #sub-title-1, #sub-banner #sub-title-2, #sub-banner #sub-title-3 {
  text-decoration: none;
  color: #C6E099;
}
.banner-title:visited, #banner-bottom #banner-bottom-title:visited, #sub-banner #sub-title-1:visited, #sub-banner #sub-title-2:visited, #sub-banner #sub-title-3:visited {
  color: #ffffff;
}
.banner-title:focus, #banner-bottom #banner-bottom-title:focus, #sub-banner #sub-title-1:focus, #sub-banner #sub-title-2:focus, #sub-banner #sub-title-3:focus {
  color: #ffffff;
}
.banner-title:hover, #banner-bottom #banner-bottom-title:hover, #sub-banner #sub-title-1:hover, #sub-banner #sub-title-2:hover, #sub-banner #sub-title-3:hover {
  color: #ffffff;
}
.banner-title:active, #banner-bottom #banner-bottom-title:active, #sub-banner #sub-title-1:active, #sub-banner #sub-title-2:active, #sub-banner #sub-title-3:active {
  color: #C6E099;
}

.banner-text, #banner-bottom p, #sub-banner p {
  color: #ffffff;
  line-height: 24px;
  letter-spacing: 0.028em;
  margin-left: 15px;
}

/* --- Banner --- */
#banner {
  background: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 620px;
}

#banner-bottom {
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 160px;
  margin-left: -617px;
  background: #302623;
  background: rgba(48, 38, 35, 0.8);
  background: transparent\9;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC302623, endColorstr=#CC302623);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC302623, endColorstr=#CC302623)";
}
#banner-bottom p {
  margin-left: 15px;
}
#banner-bottom #banner-more {
  height: 22px;
  width: 22px;
  display: inline-block;
  background-color: #798F92;
  text-decoration: none;
  color: #C6E099;
  position: relative;
  margin-top: 15px;
  font-size: 18px;
}
#banner-bottom #banner-more:visited {
  color: #ffffff;
}
#banner-bottom #banner-more:focus {
  color: #ffffff;
}
#banner-bottom #banner-more:hover {
  color: #ffffff;
}
#banner-bottom #banner-more:active {
  color: #C6E099;
}
#banner-bottom #banner-more:hover {
  background-color: #F9B81B;
}

/* --- sub Banner --- */
#sub-banner {
  margin-top: 22px;
  margin-bottom: 25px;
  height: auto;
}
#sub-banner p {
  letter-spacing: 0.03em;
}

/* sub banner img */
#sub-banner1 {
  background: url(../img/subbanner1.png);
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
}

#sub-banner2 {
  background: url(../img/subbanner2.png);
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
}

#sub-banner3 {
  background: url(../img/subbanner3.png);
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
}

.main-img-text {
  padding-top: 10px;
}
.main-img-text p {
  letter-spacing: 0.028em;
  line-height: 22px;
}

.main-title {
  line-height: 50px;
  padding-left: 25px;
  border-bottom: 2px solid #b3cca4;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-shadow: 1px 1px 1px #ffffff;
  color: #836145;
}

#main {
  background-color: #FEFEFE;
  height: auto;
}

#main-box {
  width: 90%;
  padding-top: 25px;
}

#main-content {
  margin-top: 20px;
  height: auto;
}
#main-content h4 {
  color: #836145;
}

#main-img-1 {
  background: url(../img/topcont1.png);
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}

#main-img-2 {
  background: url(../img/topcont2.png);
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}

#main-img-3 {
  background: url(../img/topcont3.png);
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}

#main-img-4 {
  background: url(../img/topcont4.png);
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}

.hr {
  border-top: 2px solid #eee;
  padding-top: 10px;
}

#main-sub {
  height: auto;
  padding-bottom: 30px;
}

#main-sub-img {
  background: url(../img/submain.png);
  background-repeat: no-repeat;
  height: 300px;
  width: 450px;
}

#main-sub-text {
  padding-left: 35px;
}
#main-sub-text ol {
  padding-top: 15px;
}
#main-sub-text li {
  font-weight: bold;
  line-height: 24px;
}
#main-sub-text p {
  letter-spacing: 0.028em;
  font-weight: normal;
}

.icons-sprite, .icons-email, .icons-facebook, .icons-google, .icons-twitter {
  background-image: url('../img/icons-s95d5646b6e.png');
  background-repeat: no-repeat;
}

.icons-email {
  background-position: 0 0;
}

.icons-facebook {
  background-position: 0 -31px;
}

.icons-google {
  background-position: 0 -62px;
}

.icons-twitter {
  background-position: 0 -93px;
}

body {
  background: url(../img/bg.png);
  background-repeat: repeat;
}

#wrap {
  background-color: #356618;
  width: 80%;
  height: auto;
}
