/* * {
  outline: 1px solid orange;
}   */

body {
  background-image: url(./img/bg-body.jpg);
  background-repeat: repeat;
}

.bg_main {
  background-color: #3D6600;
}

.margin_reset {
  margin-left: 0;
  margin-right: 0;
}

.padding_reset {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 992px) {
  .layout_ratio {
    width: 80%;
  }
}

/* Header */
header {
  margin: 0 0.75rem;
}

.logo {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

#navbarSupportedContent a {
  display: inline-block;

  padding: 1rem 0;
  width: 100%;

  font-weight: 600;
  color: #F0EDB3;
}

#navbarSupportedContent li {
  border-top: 1px solid #000;
  /* border-bottom: 1px solid #000; */

  background-color: #555;
  text-align: center;
}

#navbarSupportedContent a:hover{
  background-color: #b2cea6;
  color: #555;
}

#navbarSupportedContent a:active {
  background-color: #96c07f;
  color: #3D6600;
}

@media screen and (min-width: 992px) {
  .container-fluid.navbar_show {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }

  .logo {
    margin: 0 auto;
  }

  #navbarSupportedContent ul {
    flex: 1 0 100%;
  }

  #navbarSupportedContent li {
    flex-grow: 1;
  }

  nav.padding_reset {
    padding: 0;
  }

  #navbarSupportedContent li {
    border-bottom: 1px solid #000;
  }

}

main {
  margin: 0 0.75rem;
}

/* Banner */
.banner_caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 1rem;

  background-color: rgba(50,50,50, 0.8);
  color: #fff;
  text-align: left;
}


.banner_title {
  margin-bottom: 0;

  font-size: 1rem;
  color: #F6FFA4;
  text-transform: uppercase;
}

.banner_text {
  margin-bottom: 0;

  font-size: 0.5rem;
  font-weight: 600;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow_link {
  display: inline-block;

  width: 1.3rem;
  line-height: 1.3rem;
  border-radius: 50%;

  font-size: 1rem;
  background-color: lightslategray;
  color: palegoldenrod;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .banner_title {
    font-size: 1.4rem;
  }

  .banner_text {
    all: unset;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .banner_title {
    font-size: 1.6rem;
  }

  .banner_text {
    all: unset;
    font-size: 1.2rem;
  }
}

/* Gallery */
.gallery {
  padding: 1rem 0;
  margin: 0;
}

.gallery > div + div {
  margin-top: 1rem;
}

/* .gallery_item {
  text-align: end;
} */

.gallery_item img {
  border: 1px solid #fff;
  cursor: pointer;
}

.card_title {
  color: #F6FFA4;
  font-size: 1rem;
}

.card_text {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2;
}

@media screen and (min-width: 768px){
  .gallery > div + div {
    margin-top: 0;
  }

  .gallery  .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .gallery_item ~ div {
    margin-top: 0.5rem;
  }

  .card_text {
    display: none;
  }

}

@media screen and (min-width: 1200px){
  .divider {
    border-left: 3px solid #3b5f04;
  }

  .card_title {
    font-size: 1.2rem;
  }

  .card_text {
    font-size: 1rem;
  }

  .gallery  .row {
    flex-direction: row;
    text-align: start;
  }

  .card_text {
    display: block;
  }
}

/* Feature*/
.feature {
  padding: 1.5rem 0;
  margin: 0;

  background-color: #fff;
}

.feature div:first-child {
  margin-bottom: 1.6rem;
}

.figure > img {
  margin-bottom: 1.2rem;
}


.caption_title {
  font-size: 1.1rem;
  color: rgb(148, 37, 37);
  text-transform: uppercase;
}

.content_title {
  padding: 0.5rem 0 0.5rem 1.2rem;
  border-bottom: 2px solid rgba(39, 102, 36, 0.4);
  margin-bottom: 0;

  background-color: rgb(209, 226, 202);
  color: rgb(148, 37, 37);
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 992px){
  .feature div:nth-child(1) ~ div {
    padding: 0;
    width: 23%;
  } 

  .feature {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px){
  .feature div:nth-child(1) ~ div {
    width: 23.5%;
  } 
}


/* Article */
article {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;

  background-color: #fff;
}

article > div:first-child {
  order: 2;
}

.content_title + ol {
  margin-top: 1.2rem;
}

article li::before {
  display: inline-block;
  content: counter ".";
  
  padding-right: 0.5em;

  font-weight: bold;
}

.content_text {
  display: flex;

  padding: 0;
  border: 0;
}

.content_text + .content_text {
  margin-top: 0.8rem;
}

@media screen and (min-width: 768px) {
  article > div:first-child {
    order: 0;
  }
}

@media screen and (min-width: 992px) {
  article::before {
    content: "";
    display: inline-block;
  
    position: relative;
    bottom: 1.4rem;
    
    width: 100%;
    margin: 0 0.75rem;
    border-top: 2px solid #ddd;
  }
}

@media screen and (min-width: 1200px) {
  ol {
    margin-top: 2rem;
  }
  
  .content_text + .content_text {
    margin-top: 1.6rem;
  }
}

/* Footer */
footer {
  margin: 0 0.75rem;
  background-color: rgb(209, 226, 202);
}

.footer_text {
  margin-bottom: 0;

  font-size: 0.8rem;
  color: gray;
}

.text_group h5 {
  color: gray;
  text-transform: uppercase;
}

.link_item a {
  font-size: 1.4rem;
  color: gray;
  text-decoration: none;
}

.link_item i {
  color: #3D6600;
  vertical-align: middle;
}

.link_item span {
  font-size: 0.8rem;
  vertical-align: middle;
}

.copyright {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;

  background-color: #3D6600;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.border_green {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid rgba(39, 102, 36, 0.2);
}

.border_green + .border_green {
  border-left: 1px solid rgba(39, 102, 36, 0.2);
}

@media screen and (min-width: 992px){
  .footer_text {
    font-size: 1rem;
  }

  .text_group h5 {
    font-size: 1.4rem;
  }

  .link_item a {
    font-size: 1.6rem;
  }
  
  .link_item i {
    color: #3D6600;
  }
  
  .link_item span {
    font-size: 1rem;
  }

  .copyright {
    font-size: 1rem;
  }
}
